<div class="mxu_system_wrap new-wrapper">
    <div class="feature_box">
        <div class="feature_item">
            <a ui-sref="app.setting.water">
                <i class="icon-shuiyin"></i>
                <div class="sys_info">
                    <em translate="setting_feature.waterMark"></em>
                    <span translate="setting_feature.markDescribe"></span>
                </div>
            </a>
        </div>
        <!--转码-->
        <div class="feature_item">
            <a ui-sref="app.setting.transcode">
                <i class="icon-sz-zhuanma"></i>
                <div class="sys_info">
                    <em translate="setting_feature.transcoding"></em>
                    <span translate="setting_feature.transDescribe"></span>
                </div>
            </a>
        </div>
        <div class="feature_item">
            <a ui-sref="app.setting.bindWord">
                <i class="icon-pingbici"></i>
                <div class="sys_info">
                    <em translate="setting_feature.words"></em>
                    <span translate="setting_feature.wordsDescribe"></span>
                </div>
            </a>
        </div>
        <div class="feature_item">
            <a ui-sref="app.setting.ugc">
                <i class="icon-sz-pinglun2"></i>
                <div class="sys_info">
                    <em translate="setting_feature.ugc"></em>
                    <span translate="setting_feature.ugcDescribe"></span>
                </div>
            </a>
        </div>
        <div class="feature_item">
            <a ui-sref="app.setting.rtmp">
                <i class="icon-sz-yun"></i>
                <div class="sys_info">
                    <em translate="setting_system.rtmp"></em>
                    <span translate="setting_system.rtmpDescribe"></span>
                </div>
            </a>
        </div>
        <div class="feature_item">
            <a ui-sref="app.setting.https">
                <i class="icon-sz-zhengshu"></i>
                <div class="sys_info">
                    <em translate="setting_system.https"></em>
                    <span translate="setting_system.httpsDescribe"></span>
                </div>
            </a>
        </div>
    </div>
</div>