<div class="add_transcode">
        <div class="p-v-md">
            <div class="hoge-edit-head">
                <div class="hoge-return-body" onclick="history.back(-1)">
                    <i class="fa typeface-menu_fanhuiliebiao" ></i>
                    <span class="return-tip">返回列表</span>
                </div>
                <em>{{vm.whatSetting}}配置</em>
            </div>
        </div>
        <div class="box" style="box-shadow: none;">
            <div class="box-body hoge-border">
                <form role="form" name="form">
                    <!--基本信息-->
                    <div class="form-card">
                        <!-- <div class="header">基本信息</div> -->
                        <div class="content">
                            <div class="form-group" style="position: relative">
                                <label class="label-name">配置名称</label>
                                <input type="text" ng-model="vm.listData.name" maxlength="6" ng-focus="vm.titleFocus = true"
                                       ng-class="{'focus-color':vm.titleFocus}" ng-blur="vm.titleFocus = false">
                                <div class="count" style="position: absolute;top:12px;left:557px;">
                                    <div num-count="vm.listData.name" count-top="0" count-right="0" count-max="6" count-position="right"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label-name">配置标识</label>
                                <input type="text" ng-model="vm.listData.sign" ng-focus="vm.signFocus = true"
                                       ng-class="{'focus-color':vm.signFocus}" ng-blur="vm.signFocus = false" maxlength="6">
                                
    
                            </div>
                            <div class="form-group">
                                <label class="label-name">输出格式</label>
                                <input type="text" ng-model="vm.listData.output_format" ng-focus="vm.groupFocus = true"
                                        ng-class="{'focus-color':vm.groupFocus}" ng-blur="vm.groupFocus = false">
                                <!-- <div class="group-box">
                                    <input type="text" ng-model="vm.listData.output_format" autocomplete="off" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"
                                        ng-blur="vm.groupFocus = false" ng-class="{'focus-color':vm.groupFocus}" ng-click="vm.groupFocus = !vm.groupFocus">
                                    <div class="group dropdown-menu">
                                        <a class="dropdown-item" ng-repeat="type in vm.output_format" ng-click="vm.stateActive(type)">{{type.name}}</a>
                                    </div>
                                    <i class="fa fa-sort-desc i-desc"></i>
                                </div> -->
                            </div>
                            <div class="form-group">
                                <label class="label-name">编码格式</label>
                                <input type="text" ng-model="vm.listData.codec_format" ng-focus="vm.codecFocus = true"
                                        ng-class="{'focus-color':vm.codecFocus}" ng-blur="vm.codecFocus = false">
                            </div>
                            <div class="form-group">
                                <label class="label-name">编码质量</label>
                                <input type="text" ng-model="vm.listData.codec_profile" ng-focus="vm.profileFocus = true"
                                        ng-class="{'focus-color':vm.profileFocus}" ng-blur="vm.profileFocus = false">
                            </div>
                            <div class="form-group">
                                <label class="label-name">宽度</label>
                                <input type="text" ng-model="vm.listData.width" ng-focus="vm.widthFocus = true"
                                        ng-class="{'focus-color':vm.widthFocus}" ng-blur="vm.widthFocus = false">　px
                            </div>
                            <div class="form-group">
                                <label class="label-name">高度</label>
                                <input type="text" ng-model="vm.listData.height" ng-focus="vm.heightFocus = true"
                                        ng-class="{'focus-color':vm.heightFocus}" ng-blur="vm.heightFocus = false">　px
                            </div>
                            <div class="form-group">
                                <label class="label-name">视频码率</label>
                                <input type="text" ng-model="vm.listData.video_bitrate" ng-focus="vm.videoFocus = true"
                                        ng-class="{'focus-color':vm.videoFocus}" ng-blur="vm.videoFocus = false">　kps
                            </div>
                            <div class="form-group">
                                <label class="label-name">音频码率</label>
                                <input type="text" ng-model="vm.listData.audio_bitrate" ng-focus="vm.audioFocus = true"
                                        ng-class="{'focus-color':vm.audioFocus}" ng-blur="vm.audioFocus = false">　kps
                            </div>
                            <div class="form-group">
                                <label class="label-name">帧频</label>
                                <input type="text" ng-model="vm.listData.frame_rate" ng-focus="vm.frameFocus = true"
                                        ng-class="{'focus-color':vm.frameFocus}" ng-blur="vm.frameFocus = false">　帧/秒
                            </div>
                            <div class="form-group">
                                <label class="label-name">据关键帧</label>
                                <input type="text" ng-model="vm.listData.gop" ng-focus="vm.gopFocus = true"
                                        ng-class="{'focus-color':vm.gopFocus}" ng-blur="vm.gopFocus = false">　帧
                            </div>
                            <div class="form-group">
                                <label class="label-name">转码质量</label>
                                <div class="group-box">
                                    <input type="text" ng-model="vm.listData.vpre" autocomplete="off" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"
                                    ng-class="{'focus-color':vm.vpreFocus}" ng-blur="vm.vpreFocus = false" ng-click="vm.vpreFocus = !vm.vpreFocus">
                                    <div class="group dropdown-menu">
                                        <a class="dropdown-item" ng-repeat="type in vm.rates" ng-click="vm.stateVpre(type)">{{type.rate}}</a>
                                    </div>
                                    <i class="fa fa-sort-desc i-desc"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label-name">是否启用</label>
                                <label class="radio-inline m-r">
                                    <input ng-model="vm.listData.status" type="radio" value="1">是
                                </label>
                                <label class="radio-inline">
                                    <input ng-model="vm.listData.status" type="radio" value="0">否
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="label-name">水印</label>
                                <div class="tuji-fileUp pos-rlt">
                                    <div class="img-item form-file" ng-if="vm.logo.src">
                                        <input name="logo_change" type="file" nv-file-select="" uploader="vm.LogoUploader" accept="image/gif,image/jpeg,image/png,image/psd,image/tiff,image/bmp"/>
                                        <div class="pos-abt fileUpTip change" translate="terminalLinks.logoChange"></div>
                                    </div>
                                    <input ng-if="!vm.logo.src" name="logo_add" type="file"  nv-file-select="" uploader="vm.LogoUploader" accept="image/gif,image/jpeg,image/png,image/psd,image/tiff,image/bmp"/>
                                    <div class="pos-abt fileUpTip" ng-if="!vm.logo.src">
                                        <i class="typeface-form_zengjia"></i>
                                        <span class="zengjia-font">添加图标</span>
                                    </div>
                                    <div class="i-s-b" style="background:url({{vm.logo.src}}) center center no-repeat"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label-name">开启水印</label>
                                <label class="radio-inline m-r">
                                    <input ng-model="vm.listData.use_water" type="radio" value="1">是
                                </label>
                                <label class="radio-inline">
                                    <input ng-model="vm.listData.use_water" type="radio" value="0">否
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="label-name">水印位置</label>
                                <div class="group-box">
                                    <input type="text" ng-model="vm.position.name" autocomplete="off" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"
                                    ng-class="{'focus-color':vm.waterPositionFocus}" ng-blur="vm.waterPositionFocus = false" ng-click="vm.waterPositionFocus = !vm.waterPositionFocus">
                                    <div class="group dropdown-menu">
                                        <a class="dropdown-item" ng-repeat="type in vm.water" ng-click="vm.stateWater(type)">{{type.name}}</a>
                                    </div>
                                    <i class="fa fa-sort-desc i-desc"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label-name"></label>
                                <div class="defaultSet">
                                    <input type="checkbox" ng-model="vm.listData.default" ng-checked="vm.isChecked" ng-click="vm.isDefault()"><span>设为默认配置</span>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    
                    <div class="md-form-group">
                        <button type="submit" class="btn primary-btn right-primary" my-loading="vm.loading" ng-click="vm.save()">保存</button>
                        
                    </div>
                </form>
    
            </div>
        </div>
    </div>