<div class="sync-page">
    <div class="p-v-md">
        <div class="hoge-edit-head">
            <span class="page-title">同步设置</span>
        </div>
    </div>
    <div class="info-setting-box" style="box-shadow: none;border-radius: 4px;" >
        <div class="box-body hoge-border">
            <form role="form" name="form"  my-loading="vm.loading"> 
                <!--规则设置-->
                <div class="form-card" ng-repeat="item in vm.platformList">
                    <div class="header">{{item.flat_name}}</div>
                    <div class="content">
                        <!-- switch -->
                        <div class="m-b publish-switch flex-item">
                            <label for="" class="label-name">是否开启同步：</label>
                            <label class="ui-switch">
                                <span class="switch-open">开</span>
                                <span class="switch-close">关</span>
                                <input type="checkbox" ng-click="vm.toggle(item)" ng-checked="!!item.is_open" >
                                <i></i>
                            </label>
                        </div>
                        <!-- 发布后 -->
                        <div class="publish-time m-b" ng-if="item.is_open">
                            <label for="" class="label-name">默认同步时间：</label>
                           
                            <span class="publish-label">发布后</span>
                            <input type="number" ng-blur="item.time = false" ng-focus="item.time = true" 
                                ng-class="{'focus-color':item.time}"
                                ng-model="item.delay_time">
                            <div class="btn-group dropdown hoge-dropdown" style="margin-left:8px !important;">
                                <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <span class="dropdown-label">{{item.timeTypeName}}</span>
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu text-left text-sm">
                                    <a class="dropdown-item" ng-repeat="type in vm.timeArr" ng-click="vm.chooseType(type,item)">{{type.name}}</a>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>

                <div class="md-form-group" ng-if="!vm.loading">
                    <button type="submit" class="btn primary-btn right-primary" my-loading="vm.saveloading" ng-click="vm.settingSave()">保存</button>
                </div>
            </form>

        </div>
    </div>
</div>