<div class="modal-split-detail box-shadow-md">
    <div class="modal-header">
        <h3 class="modal-title">编辑属性：{{vm.splitItem.subName}}</h3>
        <i class="fa fa-remove map-close" ng-click="vm.close()" style="position: absolute;right: 15px;top: 16px;"></i>
    </div>
    <div class="modal-body detail-save-content">
        <div class="content-box flex-item form-group">
            <label for="" class="label-name">标题</label>
            <input type="text" class="content-box-input" ng-model="vm.splitItem.title" ng-blur="vm.getKey()">
            <content-title-tip tip-title="vm.splitItem.title" top="5"></content-title-tip>
        </div>
        <div class="content-box flex-item img-box form-group" ng-if="vm.mediaType === 'video'">
            <label for="indexPic" class="label-name">封面图</label>
            <input  id="indexPic" style="display: none;" type="file" nv-file-select="" uploader="vm.uploader"  accept="image/gif,image/jpeg,image/png,image/bmp"/>
            <div class="upload-box-content" my-loading="vm.img_loading">
                <div class="upload-box" ng-click="vm.uploadIndexPic()" ng-class="{'has-img-cover':vm.splitItem.index_pic}">
                    <i class="fa typeface-form_zengjia"></i>
                    <span>设置封面图</span>
                </div>
                <div class="upload-cover" ng-click="vm.uploadIndexPic()" ng-class="{'upload-cover-show':vm.splitItem.index_pic}">
                    <span>点击替换封面</span>
                </div>
                <img class="img-cover" ng-if="vm.splitItem.index_pic" ng-src="{{vm.splitItem.index_pic}}">
            </div>
        </div>
        <div class="content-box flex-item form-group">
            <label for="" class="label-name m-t-label">描述</label>
            <textarea type="text" class="content-box-textarea" rows="3" maxlength=500 ng-model="vm.splitItem.brief">
        </div>
        <div class="content-box  key-word-content clearfix form-group">
            <label for="" class="label-name">关键词</label>   
            <div class="keywords-box side-keyword">
                <div class="keyword-body" scroll-limited>
                    <div class="key-list-body is-choose cur-pointer"
                    ng-repeat="(idx,item) in vm.keyList track by idx">
                        <span>{{item}}</span>
                        <i class="keywords-icon-del typeface-alert_cuowu" ng-click="vm.del(idx)">
                        </i>
                    </div>
                    <div class="key-list-body cur-pointer add-key-icon" ng-class="{'add-active': vm.add}" ng-click="vm.getFocus()">
                        <span class="add-icon" ng-if="!vm.add" >
                            <i class="fa typeface-form_zengjia cur-pointer"></i>
                        </span>
                        <input id="input-keyword-add" maxlength="10"  class="input-keyword-add" type="text" ng-model="vm.key" ng-if="vm.add"
                        ng-blur="vm.createKey(1)" 
                        ng-keyup="vm.createKey($event)" ng-style="{'width':vm.width+ 'px','maxWidth':'120px','minWidth':'60px'}"
                        >
                    </div> 
                </div>
                <div id="hidden-span" class="hidden-span">{{vm.key}}</div>  
            </div> 
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn primary-btn" ng-disabled="verifyForm.$invalid" ng-click="vm.save()" translate="editList.sure"></button>
        <button class="btn btn-outline cancel-btn" ng-disabled="verifyForm.$invalid" ng-click="vm.close()" translate="editList.cancel"></button>
    </div>
</div>