<div class="vupload-wrapper wrapper">
	<div class="hoge-table-add">
		<div class="hoge-table-title">
			<i class="fa fa-reply" onClick="javascript:history.back(-1);"></i>
			新建{{vm.type == 'video'?'视频':'音频'}}
		</div>
	</div>
	<div class="content-wrap minHight">
		<div class="col-md-6 upload-wrap" >
			<div class="vupload-title" ng-if="vm.type == 'video'" translate="videoUpload.uploadVideo"></div>
			<div class="vupload-title" ng-if="vm.type == 'audio'" translate="videoUpload.uploadAudio"></div>
			<div class="upload-cont" nv-file-drop=""  uploader="vm.uploader" ng-show="!vm.videoList[0]" multiple >
                <div  nv-file-over="" uploader="vm.uploader" over-class="b-danger" class="b-a b-info b-2x b-dashed p-a-md text-center">
                    <div class="btn-wrap">
						<div class="upload-btn">
							<span ng-if="vm.type == 'video'">{{"videoUpload.dragVideo" | translate}}</span>
							<input ng-if="vm.type == 'video'" class="input-inner" type="file" accept="video/*" nv-file-select="" uploader="vm.uploader" multiple/>
							<span ng-if="vm.type == 'audio'" translate="videoUpload.audioTip"></span>
							<input ng-if="vm.type == 'audio'" class="input-inner" type="file" accept="audio/*" nv-file-select="" uploader="vm.uploader" multiple/>
						</div>
					</div>
                </div>
            </div>
            <div class="upload-cont" ng-show="vm.videoList[0]">
            	<ul>
            		<li ng-repeat="item in vm.videoList" ng-class="{'checked' :vm.curIndex !=='' && vm.curIndex == $index}"
						ng-click="vm.editCur(item,$index)">
            			<div class="progress">
					        <div class="progress-bar primary" ng-style="{width:item.progress+'%'}"></div>
					      </div>
        				<span class="file_name">{{item.file.name}}</span>
        				<div class="error-item" ng-show="item.error_tip">{{item.error_tip}}</div>
        				<div class="error-item" ng-show="item.error_type">{{item.error_type}}</div>
        				<i class="icon-shanchu" ng-class="{'show': item.error_type}" ng-click="vm.delVideo( item )"></i>
        			</li>
        			<!--<li class="upload-file"><i class="fa fa-plus"></i>{{ 'videoUpload.addVideo'| translate}}-->
						<!--<input class="input-inner" type="file" nv-file-select="" uploader="vm.uploader" ng-disabled="vm.vod_loading" multiple />-->
					<!--</li>-->
            	</ul>
            </div>
			<div class="row footer_form row p-20">
				<div class="col-md-6">
					<classify-preview classify-data="vm.radioList"
									  classify-name="vm.DOC.classify" box-name="vm.DOC.choseClassify"
									  classify-check="vm.mainColumn" radio-style="'all'"
									  classify-type="'radio'" classify-next="vm.nextColumn(Id,Level+1,Type)"
									  classify-focus="false"
									  box-status="false"
					></classify-preview>
				</div>
				<div class="col-md-6">

				</div>
			</div>
			<div class="form-group switch-item p-20">
				<div class="row p-10">
					<label class="col-md-5 text-left cursor_text">{{ 'videoUpload.closeComments'| translate}}</label>
					<div class="col-md-7">
						<label class="ui-switch m-t-xs pull-right">
				          <input type="checkbox" ng-click="vm.setOther('is_close_comment')" ng-checked="vm.is_close_comment" >
				          <i></i>
				        </label>
					</div>
				</div>
				<!--<div class="row p-10">-->
					<!--<label class="col-md-4 text-left"> 立即发布</label>-->
					<!--<div class="col-md-8">-->
						<!--<label class="ui-switch m-t-xs pull-right">-->
				          <!--<input type="checkbox" ng-click="vm.setOther('ispublish')" ng-checked="vm.editInfo.ispublish" >-->
				          <!--<i></i>-->
				        <!--</label>-->
					<!--</div>-->
				<!--</div>-->
			</div>
			<div class="m-t-25 p-20 m-b">
				<button class="btn primary-btn m-r " my-loading="vm.vod_loading" ng-click="vm.upload()">{{ 'videoUpload.startUpload'| translate}}</button>
				<!--<button class="btn primary-btn m-r " my-loading="vm.publish_loading" ng-click="vm.upload('pub')"-->
						<!--{{ 'videoUpload.uploadPublish'| translate}}</button>-->
				<!--<span class="tip"><i class="fa  fa-exclamation-circle"></i></span>-->
				<!--<div class="vod-tip">{{ 'videoUpload.useTranscode'| translate}}<span class="highLight"><a ui-sref="app.setting.action.transcode" class="blue_tip">{{ 'videoUpload.transcodeSet'| translate}}</a></span></div>-->
			</div>
		</div>
		<div class="col-md-6 edit-wrap" >
			<!--遮罩层-->
			<div class="shade" ng-if="!vm.videoList[0]"></div>
			<div>
				<div class="new-title flex-item">
					<div class="title-wrap flex-one col-sm-9">
						<input type="text"  placeholder="{{ 'videoUpload.enterTitle'| translate}}" ng-blur="vm.changeTitle()"  ng-model="vm.title" ng-style="{color:vm.tcolor, fontWeight:vm.isbold, fontStyle:vm.isitalic}" maxlength="50"/>
					</div>
					<!--<div class="head-btn-wrap col-sm-3 text-right pos-rlt">-->
						<!--<div class="color-item m-r-sm" my-colpicker get-color = "vm.getColor( color )" style="background-color:{{vm.tcolor}}"></div>-->
						<!--<div class="font-item m-r-sm font-weight" ng-click="vm.fontSet('B')" ng-class="{'fouces':vm.isbold == 'bold'}">B</div>-->
						<!--<div class="font-item i-item font-italic" ng-click="vm.fontSet('I')" ng-class="{'fouces':vm.isitalic == 'italic'}">I</div>-->
						<!--<div num-count="vm.title" count-top="13" count-max="50"count-position="right"></div>-->
					<!--</div>-->
				</div>
			</div>
			<div class="md-form-group float-label abstract">
				<textarea class="b-b form-control brief md-input" ng-model="vm.comment" ng-focus="vm.edit = true" ng-blur="vm.edit = false"
						ng-class="{'ng-dirty': vm.video.comment}" maxlength="50"></textarea>
				<div num-count="vm.comment" count-top="110" count-max="50"count-position="right"></div>
				<label class="cursor_defalut">{{ 'videoUpload.comment'| translate}}</label>
			</div>
			<div class="side_form">
				<div class="form-group m-b">
					<div class="md-form-group float-label">
			          <input type="text" class="md-input" ng-class="{'ng-dirty': vm.editInfo.subtitle}" ng-model="vm.editInfo.subtitle" maxlength="30">
			         <div num-count="vm.editInfo.subtitle" count-top="60" count-max="30"count-position="right"></div>
			          <label class="cursor_defalut">{{'videoUpload.subtitle'| translate}}</label>
			        </div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group m-b">
							<div class="md-form-group float-label">
					          <input type="text" class="md-input" ng-class="{'ng-dirty': vm.editInfo.source}" ng-model="vm.editInfo.source">
					          <label class="cursor_defalut">{{'videoUpload.source'| translate}}</label>
					        </div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group m-b">
							<div class="md-form-group float-label">
					          <input type="text" class="md-input" ng-class="{'ng-dirty' : vm.editInfo.author }" ng-model="vm.editInfo.author" maxlength="30">
								<div num-count="vm.editInfo.author" count-top="60" count-max="30"count-position="right"></div>
								<label class="cursor_defalut">{{'videoUpload.author'| translate}}</label>
					        </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<m2o-footer is-color="true" is-show="1"></m2o-footer>
</div>