
<div class="box comment-list border-radius hoge-border"  my-loading="vm.includeLoading">
    <!-- list -->
    <div class="list_contain m-b-20 hoge-table-contain border-radius">
        <div class="hoge-table-search">
            <div class="btn-group dropdown m-r-15 hoge-dropdown">
                <button class="btn dropdown-toggle " data-toggle="dropdown">
                    <span class="dropdown-label">{{vm.channel_name}}</span>
                    <span class="caret"></span>
                </button>
                <div class="dropdown-menu text-left text-sm font-12">
                    <a class="dropdown-item" ng-repeat="cha in vm.channel_list" ng-click="vm.goChannel(cha.id)">{{cha.name}}</a>
                </div>
            </div>
            <div class="btn-group dropdown m-r-15 hoge-dropdown">
                <button class="btn dropdown-toggle " data-toggle="dropdown">
                    <span class="dropdown-label">{{vm.status}}</span>
                    <span class="caret"></span>
                </button>
                <div class="dropdown-menu text-left text-sm font-12">
                    <a class="dropdown-item" ng-repeat="sta in vm.stateArr" ng-click="vm.goState(sta.state)">{{sta.name}}</a>
                </div>
            </div>
            <div class="pull-right">
                <search-Box key-Word="vm.key"
                        search-Key="vm.search(Item)"
                        key-Press="vm.keyPress(Event)"
                        hide-Kind="vm.hideAccessKind"
                        is-Focus="vm.isFocus"
                        place-Holder="vm.placeHolder"
            > 
            </search-Box>
            </div>
            <!-- <div class="form-group hoge-input-search pull-right" >
                <input type="text" placeholder="搜索" ng-keypress="vm.keyPress($event)" ng-model="vm.key">
                <i class="fa typeface-searchbar_sousuo" ng-click="vm.search(vm.key)"></i>
            </div> -->
        </div>
        <!-- <div class="ErrorTip hide" ng-class="{'show': !vm.includeList.length &&vm.includeLoading==false}">
            <div class="error-img"></div>
            <p>{{vm.errorMessage}}</p>
        </div> -->
        <hoge-error hight-num="'277px'" arr-length="vm.includeList.length" load="vm.loading"></hoge-error>
        <div class="list_header hoge-table-header"  ng-show="vm.includeList.length">
            <div class="wrap">
                <div class="list-ctr"></div>
                <div class="list-name" translate="include.planName"></div>
                <div class="list-plan-time">计划执行</div>
                <div class="list-status">状态</div>
                <div class="list-state">
                    <span translate="include.faliureHistory"></span>
                     <span class="icon_ts">
                         <i class="fa icon-tishi m-r-xs"></i>
                        <div class=" recover">
                            <div class="box-color text-color pos-rlt">
                                <span class="arrow top b-white"></span>
                                <div class="tip_wenzi" translate="include.faliureTip"></div>
                            </div>
                        </div>
                     </span>
                </div>
                <div class="list-channel" translate="include.channel"></div>
                <div class="list-column">栏目</div>
                <div class="list-start">起止时间</div>
                <div class="list-time" translate="include.period"></div>
                <div class="list-len" translate="include.transcribeDur"></div>
                <div class="list-cycle">创建人/创建时间</div>
                <!--<div class="list-end">计划结束日期</div>-->
                <div class="list-i"></div>
            </div>
        </div>

        <div class="list white"  ng-show="vm.includeList.length" >
            <!--列表-->
            <div class="list-item hoge-item-border"  ng-repeat="item in vm.includeList track by $index" id="{{item.id}}">
                <div class="list-ctr">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="option1" ng-checked="vm.itemCheck(item)" ng-click="vm.toggle(item)">
                    </label>
                </div>
                <div class="list-name" style="align-self: center;">
                    {{item.title}}
                </div>
                <div class="list-plan-time" style="align-self: center;">
                    {{item.next_exec_date}}
                </div>
              
                <div class="list-status flex-item" style="align-items: center;">
                    <span class="status-circle"  ng-style="{backgroundColor:item.current_record_status.color}"></span>
                    <span>{{item.current_record_status.name}}</span>
                </div>
                <div class="list-state" >
                    <span class="state_item">
                        <span class="label primary  red-200" >{{item.fail_count}}</span>
                        <div class=" state_tip" ng-if="item.fail_count>0">
                            <div class="box-color text-color pos-rlt">
                                <span class="arrow top b-white"></span>
                                <div class="tip_wenzi" ng-repeat="v in item.time_shift">
                                    <div>
                                        <span ng-if="v.state==3">{{v.start_time *1000| date:"MM-dd"}}{{'include.stateFail' | translate}},{{'include.please' | translate}}<a class="blueTry" ng-click="vm.reTry(v)">{{'include.reTry' | translate}}</a></span>
                                         <span ng-if="v.state!=3">{{v.start_time *1000| date:"MM-dd"}}{{v.text}}</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </span>
                </div>
                <div class="list-channel">
                    <span ng-click="vm.goChannel(item.channel_id)">{{item.channel_name}}</span>
                </div>
                <!-- 栏目 -->
                <div class="list-column" style="align-self: center;">
                    {{item.publish_column_text.join("、")}}
                </div>
                <div class="list-start" >
                    <span>{{item.start_time}} - {{item.toffTime}}</span>
                </div>
                <div class="list-time" >
                    <span>
                        <span class="m-r-xs">{{item.week_day}}</span>
                        <span>{{item.start_time.substring(0,5)}}</span>
                    </span>
                </div>
                <div class="list-len" >
                    <span>{{item.toff}}</span>
                </div>
                <div class="list-cycle" >
                    <span>{{item.create_user_name}}</span>
                    <span>{{item.created_at.substring(0,10)}}</span>
                </div>

                <!--<div class="list-end" >-->
                    <!--<span>{{item.end_date}}</span>-->
                <!--</div>-->
                <div class="list-i" >
                    <div class="icon-tool pull-right">
                        <i class="fa icon-caozuo" data-toggle="dropdown" aria-expanded="false"></i>
                        <div class="dropdown-menu dropdown-menu-scale pull-right">
                            <a class="dropdown-item" ng-click="vm.goJournal(item)" translate="include.log"></a>
                            <a class="dropdown-item" ng-click="vm.goAdd(item)" translate="include.edit"></a>
                            <a class="dropdown-item" ng-click="vm.singleDelete(item)" translate="include.delete"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--bottom-->
        <div class="list_bottom hoge-table-bottom">
            <div class="btn-group">
                <label class="checkbox-inline">
                    <input type="checkbox" value="option1"  ng-checked="vm.allChecked()" ng-click="vm.toggleAll()">{{'include.allSelected' | translate}}
                </label>
            </div>
            <div class="btn-toolbar list_bar flex-one btn-box">
                <div class="btn-group">
                    <button class="btn del-btn" ng-disabled="vm.includeList.length == 0" ng-click="vm.moreDelete()">{{'include.delete' | translate}}</button>
                </div>
            </div>
            <page-nation  options="vm.pageOptions" turn-page="vm.changePage()"></page-nation>
        </div>
        <!--bottom-->
    </div>
    <!-- / list -->
</div>