<div class="review_config_wrap">
    <!-- header -->
    <div class="hoge-table-add">
        <div class="hoge-table-title">流程配置</div>

        <div class="pull-right ng-scope">
            <button class="btn hoge-btn-blue" ng-click="vm.newReview()">新增流程</button>
        </div>
    </div>
    <!-- header -->

    <!-- nav -->
    <div class="nav-contain">
        <div class="btn-contain btn-group">
            <button class="btn btn-outline btn-blue" ng-click="vm.toggleStatus(null)" ng-class="{'actived':vm.status == null}">全部</button>
            <button class="btn btn-outline btn-blue" ng-click="vm.toggleStatus(1)" ng-class="{'actived':vm.status == 1}">启用中</button>
            <button class="btn btn-outline btn-blue" ng-click="vm.toggleStatus(0)" ng-class="{'actived':vm.status == 0}">已停用</button>
        </div>
        <div class="btn-sort ng-scope" ng-click="vm.sort(column)" ng-if="true" style="">
            <i class="typeface-form_paixu"></i>
            <span>排序</span>
        </div>
        <div class="sort_board red-50" ng-show="vm.isSort">
            <i class="fa fa-exclamation-triangle"></i>
            <span class="paixu_setting">排序功能已开启</span>
            <button class="btn btn-sm white pull-right " ng-click="vm.cancelSort()" translate="system_search.cancel"></button>
            <button class="btn btn-sm hoge-btn-blue pull-right m-r" ng-click="vm.outSort()" translate="system_search.save"></button>

        </div>
    </div>
    <!-- nav -->

    <!--list-->
    <div class="process-list" ui-sortable="vm.sortableOpt" ng-model="vm.processList">
        <div class="ErrorTip hoge-error" ng-if="!vm.processList[0]">
            <div>
                <div class="error-img"></div>
                <p>暂无内容</p>
            </div>
        </div>
        <div class="process-item"  ng-repeat="item in vm.processList">
            <div class="process-main flex-item">
                <div class="flex-one process-describe">
                    <div class="process-title">
                        <span>{{item.name}}</span>
                    </div>
                    <div class="process-user">
                        <span class="user">{{item.nodes[0].rangeName}}</span>
                        <span class="update-time">{{item.updated_at}} 更新</span>
                    </div>
                    <div class="process-mode">
                        <span class="mode-name m-r">串签模式</span>
                        <span class="mode-card m-r">{{item.node_count}}审核节点</span>
                        <span class="mode-card m-r" ng-if="item.users_count > 0">{{item.users_count}}用户</span>
                        <span class="mode-card m-r" ng-if="item.roles_count > 0">{{item.roles_count}}角色</span>
                        <span class="mode-card m-r" ng-if="item.departments_count > 0">{{item.departments_count}}部门</span>
                    </div>
                </div>
                <div class="process-nodes flex-two flex-item">
                    <div class="node-item" ng-repeat="(ndx,node) in item.showNodes">
                        <div class="node-main">
                            <div class="node-name">{{node.rangeName}}</div>
                            <div class="node-role flex-item">
                                <div class="role-img" ng-style="{'min-width': node.range != 0 && 50+'px' ,'width': (node.users.length > 0 && node.users.length *30+'px') || (node.role_departments.length > 0 && node.role_departments.length *30+'px')}">
                                    <img class="avatar-34 usual-img" src="/assets/images/mxu/review/shengao_head_quanbuyonghu@2x.png" alt="" ng-if="node.range==1">
                                    <div class="user-img-box" ng-if="node.range==2" >
                                        <div class="hoge-tip-arrow avatar-34 usual-img" ng-repeat="(idx,user) in node.users | limitTo:3"
                                             ng-style="{'left':idx*25+'px'}">
                                            <img class="avatar-34" ng-src="{{user.avatar}}" ng-if="user.avatar">
                                            <span class="avatar-34 no-avatar no-avatar-bg{{user.bgColor}}"  ng-if="!user.avatar">{{user.avatarName}}</span>
                                            <!-- <div class="box-color text-color pos-rlt" ng-style="{'width': user.name.length * 13+'px','left': user.name.length> 3 && (-(user.name.length -3)*4) -2 + 'px'}"> -->
                                            <div class="box-color text-color pos-rlt" ng-style="{'width': user.name.length * 13+'px','left': user.name.length > 2 ? -((user.name.length * 13 - 34) / 2) + 'px' : '-3px'}">
                                                <span class="arrow bottom b-white"></span>
                                                <div class="box-body">{{user.name}}</div>
                                            </div>
                                        </div>
                                        <span class="overflow-user" ng-if="node.users.length >= 4">
                                           <i class="typeface-form_zengjia fa"></i>
                                           <span class="overflow-num">{{node.users.length-3}}</span>
                                        </span>
                                    </div>
                                    <div class="hoge-tip-arrow avatar-34 usual-img" ng-style="{'left':idx*25+'px'}" ng-if="node.range==3" ng-repeat="(idx,user) in node.role_departments">
                                        <img class="avatar-34" src="/assets/images/mxu/review/shengao_head_bumenjuese@2x.png">
                                        <div class="box-color text-color pos-rlt" ng-style="{'width': user.role.name.length * 13+'px','left': user.role.name.length> 3 && (-(user.role.name.length -3)*4) -2 + 'px' }">
                                            <span class="arrow bottom b-white"></span>
                                            <div class="box-body">{{user.role.name}}</div>
                                        </div>
                                    </div>
                                    <div class="avatar-34 ellipsis-box" ng-if=" node.range == 0">
                                        <i class="typeface-list_caozuo"></i>
                                    </div>
                                </div>
                                <div class="role-arrow" ng-if="ndx != item.showNodes.length - 1">
                                    <i class="typeface-shengao_xiayige"></i>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="process-foot">
                <div class="process-type">
                    <span class="on-use" ng-if="item.status == 1">启用中</span>
                    <span class="on-stop" ng-if="item.status == 0">已停用</span>
                    <span class="can-modifier" ng-if="item.edit_status == 1">允许提审后修改</span>
                    <span class="can-modifier" ng-if="item.auto_publish == 1">审后即发</span>
                </div>
                <div class="hoge-list-i pull-right" ng-mouseenter="vm.showOpera(item)" ng-mouseleave="vm.hideOpera(item)">
                    <div class="icon-tool pull-right">
                        <i class="typeface-list_caozuo hoge-list_caozuo"></i>
                        <div class="pull-right list-icon-opera" ng-class="{'opera-show':item.searchShow,'opera-hide':!item.searchShow}">
                            <div class="btn-group">
                                <button class="btn hoge-drop-icon" ng-click="vm.editProcess(item)">编辑</button>
                                <button class="btn hoge-drop-icon" ng-if="item.status == 1" ng-click="vm.changeStatus(item, 0)">停用</button>
                                <button class="btn hoge-drop-icon" ng-if="item.status == 0" ng-click="vm.changeStatus(item, 1)">启用</button>
                                <button class="btn hoge-drop-icon" ng-click="vm.delProcess($index,item)">删除</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--list-->
</div>