<div class="mxu_advPos_wrap">
    <div class="hoge-table-add">
        <div class="hoge-table-title">广告位列表</div>
        <div class="pull-right" ng-if="!vm.systemSet">
            <button class="btn btn-purple" ng-click="vm.goAdd()">新增广告位</button>
        </div>
    </div>
    <div class="list_body hoge-table-contain white" my-loading="vm.loading">
        <div class="list_bar hoge-table-search">
            <!--搜索-->
            <div class="form-group hoge-input-search pull-right">
                <input type="text" placeholder="搜索" ng-keypress="vm.keyPress($event)" ng-model="vm.name">
                <i class="fa typeface-searchbar_sousuo" ng-click="vm.search(vm.name)"></i>
            </div>
        </div>
        <hoge-error arr-length="vm.posList.length" load="vm.loading"></hoge-error>

        <div class="table_header hoge-table-header"  ng-show="vm.posList.length">
            <div class="flex-item header-item">
                <div class="list-ctr" ng-if="!vm.systemSet"></div>
                <div class="list-title flex-one">广告位名称</div>
                <div class="list-type">分类</div>
                <div class="list-material">支持素材</div>
                <div class="list-number">投放数</div>
                <div class="list-state">状态</div>
                <div class="hoge-list-i"  ng-if="!vm.systemSet"></div>
            </div>

        </div>
        <div class="list white" ng-show="vm.posList.length">
            <div class="list-item hoge-item-border flex-item"
                 ng-repeat="nor in vm.posList track by $index">
                <div class="list-ctr" ng-if="!vm.systemSet">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="option1" ng-checked="vm.itemCheck(nor)" ng-click="vm.toggle(nor)">
                    </label>
                </div>
                <div class="list-title flex-one" ng-click="vm.goAdd(nor)">{{nor.name}}</div>

                <div class="list-type">
                    <span>{{nor.group.name}}</span>
                </div>

                <div class="list-material">
                    <span>{{nor.attach_type_name}}</span>
                </div>
                <div class="list-number">{{nor.adv_num}}</div>
                <div class="list-state">
                    <!-- <span ng-class="{'red-use':!nor.is_use,'green-use':nor.is_use}">{{nor.is_use ? '开启':'关闭'}}</span> -->
                    <label class="ui-switch pos-cb">
                        <span class="switch-open" ng-show="nor.isOpen">开启</span>
                        <span class="switch-close" ng-show="!nor.isOpen">关闭</span>
                        <input type="checkbox" ng-click="vm.changeStateBefore(nor, 'close')" ng-model="nor.isOpen">
                        <i ng-class="{'left':!nor.isOpen, 'right': nor.isOpen}"></i>
                    </label>
                </div>
                <div class="hoge-list-i"  ng-if="!vm.systemSet">
                    <!-- <i class="typeface-list_caozuo hoge-list_caozuo"
                       ng-class="{'active-bg':nor.searchShow}"></i>
                    <div class="pull-right list-opera" ng-class="{'opera-show':nor.searchShow,'opera-hide':!nor.searchShow}">
                        <span class="division opera-btn" ng-click="vm.goAdd(nor)">编辑</span>
                        <span class="opera-btn m-b-15" ng-click="vm.changeState(nor)">{{nor.is_use ? '关闭':'开启'}}</span>
                        <span class="opera-btn" ng-click="vm.goDel(nor)">删除</span>
                    </div> -->
                    
                    <i class="fa typeface-form_edit" ng-click="vm.goAdd(nor)"></i>
                    <!-- <i class="fa typeface-form_shanchu" ng-click="vm.changeStateBefore(nor, 'delete')"></i> -->
                    <i class="fa typeface-form_shanchu" ng-click="vm.goDel(nor)"></i>
                </div>
             </div>
        </div>
        <!--bottom-->
        <div class="list_bottom hoge-table-bottom" ng-show="vm.posList.length" ng-class="{'pos_flex':vm.systemSet}">
            <div class="btn-group check-btn-group" ng-if="!vm.systemSet">
                <label class="checkbox-inline" >
                    <input type="checkbox" value="option1"  ng-checked="vm.allChecked()" ng-click="vm.toggleAll()">
                    全选
                </label>
            </div>
            <div class="btn-toolbar list_bar flex-one" ng-if="!vm.systemSet">
                <div class="btn-group">
                    <button class="btn del-btn" ng-click="vm.deleteAll()">删除</button>
                </div>
            </div>
            <page-nation options="vm.pageOptions" turn-page="vm.changePage()"></page-nation>
        </div>
    </div>
</div>