<div class="publish-list published-list-wrapper">
    <div class="list-box" >
        <div class="hoge-table-add" style="overflow:visible">
            <div class="hoge-table-title" style="margin-right:22px;">发布列表</div>
            <bread-Crumb classify-list = "vm.breadcrumbs"
                         handle-next = vm.jump(Item)>
            </bread-Crumb>
            <m2o-site-chose ng-show="!vm.hideSiteChoose" handler-site="vm.initSite(site_id,site_name)" clear-state-param="vm.clearStateParam()" change-site="vm.changeSite(site)" style="position: absolute;right: 248px;top:79px"></m2o-site-chose>
        </div>
        <div class="flex-item main-publish hoge-radius hoge-border">
            <div class="list_contain  white hoge-flex-one" my-loading="vm.publishLoading" load-signs="'publishLoading'">
                <div class="btn-toolbar list_bar filter-box m-l-0 m-b-0 hoge-table-search">
                    <div class="btn-group dropdown m-l-0 hoge-dropdown">
                        <button class="btn dropdown-toggle " data-toggle="dropdown">
                            <span class="dropdown-label">{{vm.status.name}}</span>
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu text-left text-sm font-12">
                            <a class="dropdown-item" ng-repeat="state in vm.statusArr" ng-click="vm.choseStatus(state)">{{state.name}}</a>
                        </div>
                    </div>
                    
                    <div class="btn-group dropdown m-r-15 hoge-dropdown">
                        <button class="btn dropdown-toggle " data-toggle="dropdown">
                            <span class="dropdown-label">{{vm.type.name}}</span>
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu text-left text-sm font-12">
                            <a class="dropdown-item" ng-repeat="type in vm.typeArr" ng-click="vm.choseType(type)">{{type.name}}</a>
                        </div>
                    </div>

                    <div class="btn-group data-search hoge-dropdown" uib-dropdown>
                        <button class="btn btn-sm" uib-dropdown-toggle ng-class="{'long-width': !vm.currentDate.id}">
                            <span class="dropdown-label">{{vm.time}}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu text-left text-sm" uib-dropdown-menu ng-class="{'disOpen':vm.open}">
                            <li class="dropdown-item" ng-repeat="date in vm.dateSearch" ng-click="vm.chooseDate(date)">
                                <a>{{date.label}}</a>
                                <input id="datepicker" ng-if="vm.dateSearch.length - 1 === $index" date-range-picker ng-model="vm.rangeDate" class="opacity-0"
                                       type="text" options="vm.rangeOptions"/>
                            </li>
                        </ul>
                    </div>
                    <!--<div ng-if="!vm.currentDate.id" class="date-picker">-->
                    <!--<i class="typeface-TimePicker_riqi"></i>-->
                    <!--<input type="text" readonly date-range-picker ng-model="vm.rangeDate" options="vm.rangeOptions"/>-->
                    <!--</div>-->
                    
                    <!-- 标签 start -->
                    <div class="label-box">
                        <div class="checkRole dropdown-toggle" ng-click="vm.roleFocus = true;" ng-blur="vm.roleFocus = false;"
                                ng-class="{'focus-color':vm.roleFocus}" data-toggle="dropdown" aria-expanded="true" tabindex="1">
                                <span ng-if="!vm.labelsIds.length" class="placeholder-span">选择标签</span>
                                <span class="check-item" ng-repeat="modules in vm.labelListArr  track by $index" ng-show="modules.check">
                                {{modules.name}}
                                <i class="fa icon-guanbi" ng-click="vm.delCheck(modules)" style="cursor: pointer"></i>
                            </span>
                        </div>
                        <div class="role-list dropdown-menu">
                            <div class="item" ng-if="vm.labelListArr.length" ng-repeat="modules in vm.labelListArr  track by $index" ng-click="vm.chooseLabel(modules)">
                                <label class="">{{modules.name}}</label>
                                <span class="fa fa-check" ng-show="modules.check"></span>
                            </div>
                            <div ng-if="!vm.labelListArr.length" class="no-drop-label">暂无</div>
                        </div>
                    </div>
                    <!-- 标签 end -->
                    <search-Box key-Word="vm.title"
                                search-Key="vm.search(Item)"
                                key-Press="vm.keyPress(Event)"
                                is-Focus="vm.isFocus"
                                place-Holder="vm.placeHolder"
                                >         
                    </search-Box>
                    <!-- <div class="form-group hoge-input-search">
                        <input type="text" placeholder="搜索" ng-keypress="vm.keyPress($event)" ng-model="vm.title" placeholder="搜索">
                        <i class="fa typeface-searchbar_sousuo" ng-click="vm.search()"></i>
                    </div> -->
                </div>
                <hoge-error hight-num="'788px'" arr-length="vm.dataList.length" load="vm.publishLoading"></hoge-error>
                <div class="table-header hoge-table-header" ng-show="vm.dataList.length">
                    <div class="wrap">
                        <div class="list-ctr">
                            <i class="fa typeface-form_paixu"  ng-click="vm.sort()" ng-if="vm.isShowsort"></i>
                        </div>
                        <div class="list-title flex-one" translate="publish.title"></div>
                        <div class="title-weight" ng-show="vm.open_weight">
                            权重
                        </div>
                        <div class="list-i" ></div>
                    </div>
                    <div class="sort-board red-50" ng-show="vm.isSort">
                        <i class="fa typeface-login_tishi"></i>{{'system_search.sortTip'| translate}}
                        <button class="btn btn-sm white pull-right btn-cancel" ng-click="vm.cancelSort()">取消</button>
                        <button class="btn btn-sm hoge-btn-blue pull-right m-r" ng-click="vm.outSort()">保存</button>
                    </div>
                </div>
                <div class="list white" ui-sortable="vm.sortableOpt" ng-model="vm.dataList"  ng-show="vm.dataList.length">
                    <div class="list-item hoge-item-border" ng-click="vm.choseItem(item, $event)"
                         ng-repeat="item in vm.dataList track by $index"
                         ng-mouseenter=""
                         ng-class="{'is_back':item.is_top==1, 'is-top': item.is_top==1, 'is-hot': item.is_hot==1,'gallerys-item-list':item.type=='gallery'}"
                    >
                        <div class="list-ctr">
                            <label class="checkbox-inline" ng-if="!vm.isSort" >
                                <input type="checkbox" value="option1" title="{{item.id}}" ng-checked="vm.itemCheck(item)" ng-click="vm.toggle(item, $event)" ng-disabled="vm.itemDisabled(item)">
                            </label>
                            <i class="fa fa-bars" ng-if="vm.isSort"></i>
                        </div>

                        <div class="list-title flex-one" ng-if="item.type!='gallery'">
                            <!--示意图-->
                            <div class="list-img" >
                            <span class="img-square" ng-if="item.index_pic">
                                <img ng-src="{{item.index_pic}}">
                            </span>
                                <div class="img-square" ng-if="!item.index_pic">
                                    <img src="../assets/images/mxu/img_cover.png">
                                </div>
                                <div class="publish-type">
                                    <span class="type-name" ng-if="item.type=='article' && item.articleName">{{item.articleName}}</span>
                                    <span class="type-name" ng-if="item.type=='article' && !item.articleName">文稿</span>
                                    <span class="type-name" ng-if="item.type=='gallery'">图集</span>
                                    <span class="type-name" ng-if="item.type=='video'">视频</span>
                                    <span class="type-name" ng-if="item.type=='audio'">音频</span>
                                    <span class="type-name" ng-if="item.type=='topic'">专题</span>
                                    <span class="type-name" ng-if="item.type=='link'">外链</span>
                                </div>
                            </div>
                            <div class="list-info">
                                <div class="part-one">
                                    <div class="part-one-title">
                                        <!-- 打回 -->
                                        <i class="typeface-tag_yidahui" ng-if="item.status==2"></i>
                                        <!-- <i class="" ng-if="item.pre_release && item.status != 2"></i> -->
                                        <img src="../../../assets/images/mxu/publish/icon_issue.png" ng-if="item.status == 0" alt="">
                                        <i class="typeface-tag_huandeng" ng-if="item.is_slide==1" ng-class="{'isBack': item.status==2}"></i>
                                        <i class="typeface-tag_remen" ng-if="item.is_hot==1" ng-class="{'isBack': item.status==2}"></i>
                                        <i style="color:red;position: relative;"  ng-class="{'isBack': item.status==2}" class="typeface-tag_list_shangtoutiao" ng-if="item.is_headline==1"><span style="position: absolute;left: 0px;color: #fff;font-size:12px;">上头条</span></i>
                                        <i style="color:#F58935;position: relative;" class="typeface-tag_list_shangtoutiao" ng-if="item.is_manage==1"><span style="position: absolute;left: 0px;color: #fff;font-size:12px;">签发稿</span></i>
                                        <a class="list-name " ng-click="vm.chosePublishColumn(item)" ng-class="{'isBack': item.status==2}" ng-mouseenter="vm.showTitle(item.title,$index)">
                                            <!--ng-click="vm.goPage(item)"-->
                                            <span ng-class="{'content-title':vm.is_open == 1&&item.mengyu, 'mengyu-font': vm.resMengyu(item.title)}">{{item.title}}</span>
                                        </a>
                                    </div>
                                    <div  ng-if="item.title.length>0 || vm.resMengyu(item.title)" ng-class="{'all-title':vm.is_open == 0 || !item.mengyu,'mengyu-title': vm.resMengyu(item.title)&&item.mengyu, 'mengyu-font': vm.resMengyu(item.title)}">
                                        <span class="jiantou arrow bottom"></span>
                                        <span class="hideTitle">{{item.title}}</span>
                                    </div>
                                </div>
                                <div class="part-two">
                                    <div class="list-data" ng-if="!vm.wxPublish || (vm.wxPublish && item.article_type != 'weixin')">
                                        <span class="data-icon" ng-class="{'isBack': item.status==2, 'mengyu-font': vm.resMengyu(item.column_name)}">
                                            <span>ID {{item.id}}</span>
                                            <span>·</span>
                                            <span>{{item.column_name}}</span>
                                            <!-- <span ng-if="!vm.publish_click_hide">·</span>
                                            <span ng-if="!vm.publish_click_hide" ng-show="!vm.hideTrueClickNum">{{item.click_num}}真实点击</span>  
                                            <span ng-if="!vm.publish_click_hide" ng-show="!vm.hideVirtualClickNum">&nbsp;&nbsp;</span>
                                            <span ng-if="!vm.publish_click_hide" ng-show="!vm.hideVirtualClickNum && !vm.hideTrueClickNum">{{item.virtual_click_num}}虚拟点击</span>
                                            <span ng-show="vm.hideTrueClickNum && vm.canShowClick">{{item.click_num}}真实点击</span> 
                                            <span ng-show="vm.hideTrueClickNum">{{item.virtual_click_num}}点击数</span> -->
                                            <!-- 长城网配置--隐藏虚拟点击数 -->
                                            <div ng-if="vm.hideVirtualClickNum" style="display:inline-block;">
                                                <span>·</span>
                                                <span ng-if="vm.canShowClick">{{item.click_num}}真实点击</span>  
                                            </div>
                                            <!-- 河北配置--虚拟点击数改为点击数 -->
                                            <div ng-if="vm.hideTrueClickNum" style="display: inline-block;">
                                                <span>·</span> 
                                                <span ng-if="vm.canShowClick">{{item.click_num}}真实点击</span>
                                                 <span>&nbsp;&nbsp;</span>
                                                <span>{{item.virtual_click_num}}点击数</span>
                                            </div>
                                            <!-- 湖州配置--隐藏真实点击数 && 虚拟点击数改为点击数 && 分站点 -->
                                            <div ng-if="vm.subsite_hideTrueClickNum" style="display: inline-block;">
                                                <span>·</span> 
                                                <span>{{item.virtual_click_num}}点击数</span>
                                            </div>
                                            <!-- 默认配置 -->
                                            <div  ng-if="!vm.hideTrueClickNum && !hideVirtualClickNum && !vm.publish_click_hide && !vm.subsite_hideTrueClickNum" style="display:inline-block;">
                                                <span>·</span>
                                                <span ng-if="vm.canShowClick">{{item.click_num}}真实点击</span>  
                                                <span>&nbsp;&nbsp;</span>
                                                <span>{{item.virtual_click_num}}虚拟点击</span>
                                            </div>
                                            <span>·</span>
                                            <span>{{item.publish_user_name}}</span>
                                            <span>·</span>
                                            <span>{{item.publish_time}}</span>
                                            <span ng-show="item.style_name">·</span>
                                            <span>{{item.style_name}}</span>
                                            <span ng-if="(vm.permission.publish.changeSlide | right) && item.type!='link'&& item.type!='audio' && vm.showSlide && item.slide_bakcolor">· 轮播背景色</span>
                                            <span class="slide-color-show" ng-style="{'background-color':item.slide_bakcolor}"
                                         ng-if="(vm.permission.publish.changeSlide | right) && item.type!='link'&& item.type!='audio' && vm.showSlide && item.slide_bakcolor"></span>
                                        </span>
                                        <span class="data-icon" ng-if="item.comment_num > 0">
                                            <i class="typeface-gongzuotai_pinglunshu"></i>
                                            <span class="statistic-data">{{item.comment_num}}</span>
                                        </span>
                                        <span class="data-icon" ng-if="item.praise_num > 0">
                                            <i class="typeface-list_dianzan"></i>
                                            <span class="statistic-data">{{item.praise_num}}</span>
                                        </span>
                                        <span class="data-icon" ng-if="item.share_num > 0">
                                            <i class="fa typeface-list_zhuanfa mt-1"></i>
                                            <span class="statistic-data">{{item.share_num}}</span>
                                        </span>
                                        <span class="push-info" ng-show="item.push_records.wechat.length">
                                            <span class="divider"></span>
                                            <span>已推送：</span>
                                            <span class="push-icon" ng-repeat = "wechatIcon in item.push_records.wechat"><img ng-src="{{wechatIcon.avatar}}" alt=""></span>
                                            <span class="push-more" ng-show="item.push_records.wechat.length > 3"><i class="typeface-list_caozuo hoge-list_caozuo"></i></span>
                                        </span>
                                    </div>
                                    <div class="list-data" ng-if="item.article_type == 'weixin' && vm.wxPublish">
                                        <span class="data-icon" ng-click="vm.showHistory(item)">
                                            <span>微信·</span>
                                            <span ng-repeat="v in item.push_records.wechat">{{v.client_name}}&nbsp;</span>
                                            <span>·</span>
                                            <span>{{item.create_time}}</span>
                                        </span>
                                        <span class="data-icon" ng-if="item.comment_num > 0">
                                            <i class="typeface-gongzuotai_pinglunshu"></i>
                                            <span class="statistic-data">{{item.comment_num}}</span>
                                        </span>
                                            <span class="data-icon" ng-if="item.praise_num > 0">
                                            <i class="typeface-list_dianzan"></i>
                                            <span class="statistic-data">{{item.praise_num}}</span>
                                        </span>
                                            <span class="data-icon" ng-if="item.share_num > 0">
                                            <i class="fa typeface-list_zhuanfa mt-1"></i>
                                            <span class="statistic-data">{{item.share_num}}</span>
                                        </span>
                                        <!-- <span class="push-info" ng-show="item.push_records.wechat.length">
                                            <span class="divider"></span>
                                            <span>已推送：</span>
                                            <span class="push-icon" ng-repeat = "wechatIcon in item.push_records.wechat"><img ng-src="{{wechatIcon.avatar}}" alt=""></span>
                                            <span class="push-more" ng-show="item.push_records.wechat.length > 3"><i class="typeface-list_caozuo hoge-list_caozuo"></i></span>
                                        </span> -->
                                    </div>
                                    <!-- 标签 -->
                                    <div class="list-label">
                                        <div ng-repeat="label in item.labels" ng-if="label.status==1">
                                            <span>{{label.name}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-title flex-one gallery-body-body" ng-if="item.type=='gallery'">
                            <div class="list-info">
                                <div class="part-one">
                                    <div class="gallery-one-title">
                                        <i class="typeface-tag_yidahui" ng-if="item.status==2"></i>
                                        <i class="typeface-tag_huandeng" ng-if="item.is_slide==1" ng-class="{'isBack': item.status==2}"></i>
                                        <i class="typeface-tag_remen" ng-if="item.is_hot==1" ng-class="{'isBack': item.status==2}"></i>
                                        <i style="color:red;position: relative;"  ng-class="{'isBack': item.status==2}" class="typeface-tag_list_shangtoutiao" ng-if="item.is_headline==1"><span style="position: absolute;left: 0px;color: #fff;font-size: 12px;">上头条</span></i>
                                        <i style="color:#F58935;position: relative;" class="typeface-tag_list_shangtoutiao" ng-if="item.is_manage==1"><span style="position: absolute;left: 0px;color: #fff;font-size: 12px;">签发稿</span></i>
                                        <a class="list-name " ng-click="vm.chosePublishColumn(item)" ng-class="{'isBack': item.status==2}">
                                            <!--ng-click="vm.goPage(item)"-->
                                            {{item.title}}
                                        </a>
                                    </div>
                                    <div class="all-title" ng-if="item.title.length>0">
                                        <span class="jiantou arrow bottom"></span>
                                        <span class="hideTitle">{{item.title}}</span>
                                    </div>
                                </div>
                                <div class="part-gallery">
                                    <div class="list-img" >
                                        <span class="img-square" ng-repeat="vv in item.gallery_pics.pics">
                                            <img ng-src="{{vv}}?imageView/0/h/150/w/200">
                                        </span>
                                    </div>
                                    <div class="list-img" >
                                        <span class="img-square-num flex-item hoge-flex-center hoge-flex-justify-center">
                                            共{{item.photo_count || item.photo_num || '0'}}图
                                        </span>
                                    </div>
                                </div>
                                <div class="part-two">
                                    <div class="list-data">
                                    <span class="data-icon" ng-class="{'isBack': item.status==2}">
                                        <span>ID {{item.id}}</span>
                                        <span>·</span>
                                        <span>{{item.column_name}}</span>
                                        <span>·</span>
                                        <span ng-show="!vm.hideTrueClickNum">{{item.click_num}}真实点击</span>      
                                        <span ng-show="!vm.hideVirtualClickNum">&nbsp;&nbsp;</span>
                                        <span ng-show="!vm.hideVirtualClickNum && !vm.hideTrueClickNum">{{item.virtual_click_num}}虚拟点击</span>
                                        <span ng-show="vm.hideTrueClickNum && vm.canShowClick">{{item.click_num}}真实点击</span> 
                                        <span ng-show="vm.hideTrueClickNum">{{item.virtual_click_num}}点击数</span>
                                        <span>·</span>
                                        <span>{{item.publish_user_name}}</span>
                                        <span>·</span>
                                        <span>{{item.publish_time}}</span>
                                        <span ng-show="item.style_name">·</span>
                                        <span>{{item.style_name}}</span>
                                        <span ng-if="(vm.permission.publish.changeSlide | right) && item.type!='link'&& item.type!='audio' && vm.showSlide && item.slide_bakcolor">· 轮播背景色</span>
                                        <span class="slide-color-show" ng-style="{'background-color':item.slide_bakcolor}"
                                         ng-if="(vm.permission.publish.changeSlide | right) && item.type!='link'&& item.type!='audio' && vm.showSlide && item.slide_bakcolor"></span>
                                    </span>
                                        <span class="data-icon" ng-if="item.comment_num > 0">
                                        <i class="typeface-gongzuotai_pinglunshu"></i>
                                        <span class="statistic-data">{{item.comment_num}}</span>
                                    </span>
                                        <span class="data-icon" ng-if="item.praise_num > 0">
                                        <i class="typeface-list_dianzan"></i>
                                        <span class="statistic-data">{{item.praise_num}}</span>
                                    </span>
                                        <span class="data-icon" ng-if="item.share_num > 0">
                                        <i class="fa typeface-list_zhuanfa mt-1"></i>
                                        <span class="statistic-data">{{item.share_num}}</span>
                                    </span>
                                    </div>
                                    
                                </div>
                                <!-- 标签 -->
                                <div class="list-label">
                                    <div ng-repeat="label in item.labels" ng-if="label.status==1">
                                        <span>{{label.name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hoge-weight" ng-show="vm.open_weight">
                            <model-weight weight="item.weight" key="item.weight" trigger-event="click" params="{ id : item.id, listType: 'publishList' }" get-list="vm.getList()"></model-weight>
                        </div>
                        <div class="hoge-list-i"  ng-if="!vm.isSort" ng-mouseenter="vm.showOpera(item,$event)" ng-mouseleave="vm.hideOpera(item,$event)">
                            <div class="icon-tool pull-right">
                                <i class="typeface-list_caozuo hoge-list_caozuo"
                                   ng-class="{'active-bg':item.searchShow}"></i>
                                <div class="pull-right list-icon-opera" ng-class="{'opera-show':item.searchShow,'opera-hide':!item.searchShow}">
                                    <div class="btn-group" ng-class="{'publish-disabled': item.is_manage && !vm.isShowPublishment}">
                                        <button class="btn hoge-drop-icon" ng-if="item.can_edit"
                                            ng-click="vm.goEdit(item)">编辑</button>
                                        <button class="btn hoge-drop-icon" ng-if="(vm.permission.publish.operate | right) && !vm.hideSiteAndOperation" ng-click="vm.handleStick(item,'is_top',item.is_top==1 ? 0 : 1 )">
                                            <span>{{item.is_top == 1 ? vm.DOC.cancelTop : vm.DOC.setTop}}</span>
                                            <span ng-if="item.is_top == 1" class="dropdown_xuanze"><i class="typeface-dropdown_xuanze"></i></span>
                                        </button>
                                        <button class="btn hoge-drop-icon" ng-if="(vm.permission.publish.operate | right) && !vm.hideSiteAndOperation" ng-click="vm.setStatus(item,'is_hot',item.is_hot==1 ? 0 : 1 )">
                                            <span>{{item.is_hot == 1 ? vm.DOC.cancelHot : vm.DOC.setHot}}</span>
                                            <span ng-if="item.is_hot == 1"  class="dropdown_xuanze"><i class="typeface-dropdown_xuanze"></i></span>
                                        </button>
                                        <button class="btn hoge-drop-icon" ng-if="(vm.permission.publish.operate | right) && !vm.hideSiteAndOperation" ng-click="vm.setStatus(item,'is_slide',item.is_slide==1 ? 0 : 1 )">
                                            <span>{{item.is_slide == 1 ? vm.DOC.cancelProjector : vm.DOC.setProjector}}</span>
                                            <span ng-if="item.is_slide == 1"  class="dropdown_xuanze"><i class="typeface-dropdown_xuanze"></i></span>
                                        </button>
                                        <!-- 管控签发 -->
                                        <button class="btn hoge-drop-icon push-style" ng-if="vm.isShowPublishment && vm.showControls" ng-click="vm.multiSiteDistribute(item)">
                                            <span>一键发稿</span>
                                        </button>
                                        <button class="btn hoge-drop-icon push-style" ng-if="vm.isCan && vm.changeTitle" ng-click="vm.titleClick(item)">
                                            <span>修改标题</span>
                                        </button>
                                        <!-- 修改虚拟点击数 -->
                                        <button class="btn hoge-drop-icon push-style" ng-if="vm.isCan && vm.isVirtual" ng-click="vm.virtualClick(item)">
                                            <span>修改{{ (vm.subsite_hideTrueClickNum || vm.hideTrueClickNum) ? '' : '虚拟'}}点击数</span>
                                        </button>
                                        <!-- 修改发布时间 -->
                                        <button class="btn hoge-drop-icon push-style" ng-if="vm.isCan && vm.isTime" ng-click="vm.modifyTime(item)">
                                            <span>修改发布时间</span>
                                        </button>
                                        <!-- 修改预发布状态 -->
                                        <button class="btn hoge-drop-icon push-style" ng-if=" item.status == 0" ng-click="vm.modifyStatus(item)">
                                                <span>修改预发布状态</span>
                                        </button>
                                        <button class="btn hoge-drop-icon push-style" ng-click="vm.addSpecial(item)">
                                            <span>添加到专题</span>
                                        </button>
                                        <button class="btn hoge-drop-icon push-style" ng-show="!vm.hideSiteAndOperation" ng-mouseenter="vm.mouseenterStyle(item)"
                                        ng-mouseleave="vm.mouseleaveStyle(item)">
                                            <span>样式设置</span>
                                            <ul class="push-style-box list-icon-opera" ng-if="item.publishStyle.length" ng-class="{'opera-show':item.pushStyleShow ,'opera-hide':!item.pushStyleShow}">
                                                <li class="hoge-drop-icon" ng-repeat="style in item.publishStyle" ng-click="vm.pushStyle(style,item)">
                                                    <span class="style-name">{{style.name}}</span>
                                                    <span style="width: 40px;display: block;">
                                                        <span class="dropdown_xuanze" ng-if="style.css_id==item.css_id"><i class="typeface-dropdown_xuanze"></i></span>
                                                    </span>
                                                </li>
                                            </ul>
                                        </button>
                                        
                                        <!-- 轮播背景色设置需要满足三个条件 -->
                                        <!-- vm.showSlide是根据后端/system/settings接口返回的，此接口可能后续会在系统设置中增加轮播展示开关，读取配置使用。-->
                                        <!-- 需要在角色里选择轮播权限 -->
                                        <button class="btn hoge-drop-icon" ng-if="(vm.permission.publish.changeSlide | right) && item.type!='link'&& item.type!='audio' && vm.showSlide" ng-click="vm.changSlide(item)">轮播背景色设置</button>
                                        <div class="btn-line"></div>
                                        <!--<button class="btn hoge-drop-icon" ng-click="vm.setStyle(item)" ng-show="item.type != 'special'" translate="publish.style"></button>-->
                                        <!--<button class="btn hoge-drop-icon" ng-if="!(item.type=='outlink')" ng-click="vm.preview(item)" translate="publish.preview"></button>-->
                                        <!--推送按钮-->
                                        <button class="btn hoge-drop-icon" ng-if="item.type=='article' && !vm.wxPublish && (vm.permission.publish.push | right)" ng-click="vm.itemPush(item)" translate="publish.push"></button>
                                        <button class="btn hoge-drop-icon" ng-if="item.type=='article' && item.article_type=='weixin' && vm.wxPublish && (vm.permission.publish.push | right)" ng-click="vm.wxPush(item)" translate="publish.push"></button>
                                        <button class="btn hoge-drop-icon" ng-if="vm.permission.publish.delete | right" ng-click="vm.deleteItem(item)"  translate="publish.delete"></button>
                                        <button class="btn hoge-drop-icon" ng-if="item.is_recommend==0&&vm.siteId!==0&&vm.is_fusion==1&&vm.hotMaster" ng-click="vm.goHot(item)">推荐上头条</button>
                                        <button class="btn hoge-drop-icon" ng-if="item.is_recommend==1&&vm.siteId!==0&&vm.is_fusion==1&&vm.hotMaster">已推荐</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!--bottom-->
                <div class="list_bottom hoge-table-bottom" ng-class="{'hoge-table-bottom-wx': vm.wxPublish}" ng-show="vm.dataList.length">
                    <div class="btn-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="option1" ng-checked="vm.allChecked()" ng-click="vm.toggleAll()" ng-disabled="!vm.chooseList.length">
                            全选
                        </label>
                    </div>
                    <div class="btn-toolbar list_bar flex-one btn-box">
                        <div class="btn-group">
                            <button class="btn  del-btn" ng-class="{'del-btn-wx': vm.wxPublish}" ng-if="vm.permission.publish.delete | right" ng-click="vm.deleteAll()">删除</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn  del-btn" ng-class="{'del-btn-wx': vm.wxPublish}" ng-if="vm.permission.publish.delete | right" ng-click="vm.copyPreLink('copy')">复制</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn  del-btn" ng-class="{'del-btn-wx': vm.wxPublish}" ng-if="vm.permission.publish.delete | right" ng-click="vm.copyPreLink('move')">移动</button>
                        </div>
                        <div class="btn-group">
                            <a class="export-publish" ng-click="vm.downloadList()" ng-href="{{vm.exportUrl}}">导出</a>
                        </div>                   
                        <div class="btn-group">
                            <button class="btn push-btn" ng-if="(vm.permission.publish.delete | right) && vm.wxPublish" ng-click="vm.wxPush()">微信推送</button>
                        </div>
                    </div>
                    <page-nation  options="vm.pageOptions" turn-page="vm.pageChange()" ng-show="vm.pageOptions.total > 10"></page-nation>
                </div>
            </div>
           <div style="width: 250px"></div>
           <div class="fixed-box border-right-radius">
               <div class="list-right-info right-parts" >
                   <div class="all-info" style="height: 100%" my-loading="vm.detailLoading" load-signs="'detailLoading'">
                       <div class="all-info-body" ng-if="!vm.detailLoading">
                           <div class="all-info-title">
                               <span>今日发布:</span>
                               <span>{{vm.allInfo.today_total}}</span>
                           </div>
                           <div class="all-publish-charts" ng-if="!vm.detailLoading" ng-class="{'one-height':vm.heightAll==1,'two-height':vm.heightAll==2,'three-height':vm.heightAll==3}">
                               <div class="chart-box" id="all-publish"  ui-jp="chart" ui-refresh="vm.isRefresh" ui-options="{{vm.option}}">
                               </div>
                           </div>
                       </div >


                       <div ng-if="!vm.detailLoading">
                           <div class="operate-title">
                               <span>运营概况:</span>
                           </div>
                           <div class="operate-list">
                               <div class="line">
                            <span class="tody-info">
                                <span class="today-num">{{vm.todayClick ? vm.todayClick:0}}</span>
                                <span class="info-tip">今日点击</span>
                            </span>
                                   <span class="yester-info">
                                <span class="yester-num">{{vm.yesterdayClick ? vm.yesterdayClick:0}}</span>
                                <span class="info-tip">昨日点击</span>
                            </span>
                               </div>
                               <div class="line">
                            <span class="tody-info">
                                <span class="today-num">{{vm.todayComment ? vm.todayComment:0}}</span>
                                <span class="info-tip">今日评论</span>
                            </span>
                                   <span class="yester-info">
                                <span class="yester-num">{{vm.yesterdayComment ? vm.yesterdayComment:0}}</span>
                                <span class="info-tip">昨日评论</span>
                            </span>
                               </div>
                               <div class="line">
                            <span class="tody-info">
                                <span class="today-num">{{vm.todayShare ? vm.todayShare:0}}</span>
                                <span class="info-tip">今日分享</span>
                            </span>
                                   <span class="yester-info">
                                <span class="yester-num">{{vm.yesterdayShare ? vm.yesterdayShare:0}}</span>
                                <span class="info-tip">昨日分享</span>
                            </span>
                               </div>
                           </div>
                       </div>
                       <div class="bottom-tip" ng-if="!vm.detailLoading">
                        <span>
                            Tips：数据载入需要一点时间，请耐心等待。此部分数据为发布库稿件总量，不随栏目切换变动。单击列表稿件可显示单篇稿件详细运营数据。
                        </span>
                       </div>


                   </div>
               </div>
               <div class="item-details list-right-info"  ng-class="{'show-item': vm.currentItem.showDetails,'hide-item':!vm.currentItem.showDetails}">
                   <div  style="height:100%;" my-loading="vm.itemLoading">
                       <i class="fa fa-remove close-icon" ng-click="vm.itemClose()" ng-if="!vm.itemLoading"></i>
                       <div class="item-info" ng-if="!vm.itemLoading">
                           <div class="info-top">
                               <div class="item-info-title">{{vm.currentItem.title}}</div>
                               <div class="item-info-tip">
                                   <p>创建人：{{vm.currentItem.publish_user_name}}</p>
                                   <p>发布日期：{{vm.currentItem.publish_time}}</p>
                                   <p>发布栏目：{{vm.currentItem.column_name}}</p>
                               </div>
                           </div>
                           <div class="click-spread">
                               <div class="click-spread-title">
                                   <span>点击分布:</span>
                               </div>
                               <div class="item-publish-charts">
                                   <div class="spread-box" ui-jp="chart" ui-refresh="vm.spreadRefresh" ui-options="{{vm.spreadOption}}">
                                   </div>
                                   <div class="percent-body">
                                       <span class="percent-word">{{vm.distributionTotal}}</span>
                                       <span class="percent-font">点击量</span>
                                   </div>
                               </div>
                           </div>
                           <div>
                               <div class="part-title">
                                   <span>互动统计:</span>
                               </div>
                               <div class="bottom-border">
                                    <div class="text">当前栏目</div>
                                    <div class="flex-item interact">
                                        <div class="inter-item">
                                            <span class="inter-item-num">{{vm.currentItem.column_comment_num}}</span>
                                            <span class="inter-item-tip">评论</span>
                                        </div>
                                        <div class="inter-item">
                                            <span class="inter-item-num">{{vm.currentItem.column_share_num}}</span>
                                            <span class="inter-item-tip">分享</span>
                                        </div>
                                        <div class="inter-item">
                                            <span class="inter-item-num">{{vm.subsite_hideTrueClickNum ? vm.virtual_click_num : vm.currentItem.column_click_num}}</span>
                                            <span class="inter-item-tip">点击</span>
                                        </div>
                                        <div class="inter-item">
                                            <span class="inter-item-num">{{vm.currentItem.column_praise_num}}</span>
                                            <span class="inter-item-tip">点赞</span>
                                        </div>
                                    </div>
                                    <div class="text">所有栏目</div>
                                    <div class="flex-item interact">
                                        <div class="inter-item">
                                            <span class="inter-item-num">{{vm.currentItem.comment_num}}</span>
                                            <span class="inter-item-tip">评论</span>
                                        </div>
                                        <div class="inter-item">
                                            <span class="inter-item-num">{{vm.currentItem.share_num}}</span>
                                            <span class="inter-item-tip">分享</span>
                                        </div>
                                        <div class="inter-item">
                                            <span class="inter-item-num">{{vm.subsite_hideTrueClickNum ? vm.virtual_click_num : vm.currentItem.click_num}}</span>
                                            <span class="inter-item-tip">点击</span>
                                        </div>
                                        <div class="inter-item">
                                            <span class="inter-item-num">{{vm.currentItem.praise_num}}</span>
                                            <span class="inter-item-tip">点赞</span>
                                        </div>
                                    </div>
                               </div>
                               <!-- <div class="flex-item interact">
                                   <div class="inter-item">
                                       <span class="inter-item-num">{{vm.currentItem.comment_num}}</span>
                                       <span class="inter-item-tip">评论</span>
                                   </div>
                                   <div class="inter-item">
                                       <span class="inter-item-num">{{vm.currentItem.share_num}}</span>
                                       <span class="inter-item-tip">分享</span>
                                   </div>
                                   <div class="inter-item">
                                       <span class="inter-item-num">{{vm.currentItem.click_num}}</span>
                                       <span class="inter-item-tip">点击</span>
                                   </div>
                                   <div class="inter-item">
                                       <span class="inter-item-num">{{vm.currentItem.praise_num}}</span>
                                       <span class="inter-item-tip">点赞</span>
                                   </div>
                               </div> -->
                           </div>
                           <div class="comments">
                               <div class="comments-title">
                                   <span>稿件评论:</span>
                               </div>
                               <div class="comments-lists">
                                   <div class="comments-item" ng-repeat="item in vm.commentsList" ng-if="vm.commentsList.length">
                                       <img ng-src="{{item.member_avatar}}" alt="" ng-if="item.member_avatar">
                                       <img src="/assets/images/mxu/avatar-50.jpg" alt="" ng-if="!item.member_avatar">
                                       <div class="comments-info">
                                           <div class="comments-info-top">
                                               <span class="info-name">{{item.member.member_name}}</span>
                                               <span class="info-time" title="{{item.created_at}}">{{item.created_at}} </span>
                                           </div>
                                           <div class="info-message">
                                               {{item.content}}
                                           </div>
                                       </div>
                                       <div class="comments-operate flex-item">
                                           <div class="operate-left" ng-if="item.status==2||item.status==0" ng-click="vm.changeCommentsStatus(item,1)">审核</div>
                                           <div class="operate-left" ng-if="item.status==1" ng-click="vm.changeCommentsStatus(item,2)">打回</div>
                                           <div ng-click="vm.delComments(item)">删除</div>
                                       </div>
                                   </div>
                                   <div class="page-body hoge-table-bottom" ng-if="vm.commentsList.length">
                                       <div class="pages-operate">
                                           <button type="button" class="btn btn-sm btn-page" ng-disabled="vm.commentsPageCur==1" ng-click="vm.changeCommentsPage('pre')">
                                               <i class="fa fa-chevron-left" ng-class="{'disabled':vm.commentsPageCur==1,'no-event':vm.commentsPageCur==1}"></i>
                                           </button>
                                           <button type="button" style="" class="btn btn-sm white btn-page btn-radius" ng-disabled="vm.commentsPageCur>=vm.commentsTotal" ng-click="vm.changeCommentsPage('next')">
                                               <i class="fa fa-chevron-right" ng-class="{'no-event':vm.commentsPageCur>=vm.commentsTotal,'disabled':vm.commentsPageCur>=vm.commentsTotal}" style=""></i>
                                           </button>
                                       </div>

                                   </div>
                                   <div class="error-list" ng-if="!vm.commentsList.length">
                                       暂无数据
                                   </div>
                               </div>
                           </div>



                       </div>
                   </div>

               </div>
           </div>

        </div>

    </div>
</div>
