<div class="wrapper-traffic" my-loading="vm.info_loading">
    <div class="flex-item">
        <div class="col-editor flex-one">
            <div class="roadEdit">
                <div class="home-cont-title">
                    <span class="b-l-5x other"></span>
                    <p class="title">{{ 'addTraffic.description' | translate}}</p>
                    <span class="num">{{ 'addTraffic.descriptionTip' | translate}}</span>
                </div>
                <textarea class="form-control traffic_info" rows="4" ng-model="vm.trafficContent"></textarea>
            </div>
            <!--attachment-->
            <div class="attachUpload">
                <div class="home-cont-title">
                    <span class="b-l-5x other"></span>
                    <p class="title">{{ 'addTraffic.trafficInformation' | translate}}</p>
                    <span class="num">{{ 'addTraffic.infoTip' | translate}}</span>
                </div>

                <div class="attachmentImg">
                    <ul class="img_list">
                        <li ng-repeat="pic in vm.imgList">
                            <img ng-src="{{pic.picSrc}}">
                            <i class="delete icon-shanchu" ng-click="vm.delPic(pic)"></i>
                        </li>
                        <li class="tuji-fileUp pos-rlt" ng-show="vm.imgList.length < 9">
                            <div class="img-item" my-loading="vm.attach_loading">
                                <input id="localFile" type="file" nv-file-select="" accept="image/gif,image/jpeg,image/png,image/bmp" uploader="vm.uploader" multiple/>
                                <div class="pos-abt fileUpTip">
                                    <i class="material-icons md-24">&#xe145;</i>
                                    <div class="pic-tip">{{ 'addTraffic.addPic' | translate }}({{vm.imgList.length}}/9)</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="videoUpload" ng-show="vm.attachVideoShow">
                    <div class="video_box">
                        <img ng-src="{{vm.picIndexSrc}}">
                        <i class="icon-kaishi"></i>
                    </div>
                    <span class="delete" ng-if="vm.attachVideoShow" ng-click="vm.delAttach()" translate="addTraffic.deleteAttachment"></span>
                </div>
                <audio id="audio" src="{{vm.voiceSrc | trust}}"></audio>
                <div class="voiceUpload" ng-show="vm.attachVoiceShow">
                    <div class="voice_box" ng-click="vm.voicePlaying()">
                        <figure ng-class="{'playing':vm.playing}">
                            <div>
                                <i class="icon-yuyin1" aria-hidden="true"></i>
                                <i class="icon-yuyin2" aria-hidden="true"></i>
                                <i class="icon-yuyin3" aria-hidden="true"></i>
                            </div>
                            <span class="pull-right"></span>
                        </figure>
                    </div>
                    <span class="delete" ng-if="vm.attachVoiceShow" ng-click="vm.delAttach()" translate="addTraffic.deleteAttachment"></span>
                </div>
            </div>
            <!--map-->
            <div class="map_box" my-loading="vm.mapLoad">
                <div id="map_result" class="result row">
                    <!--路况地点-->
                    <div class="place pull-left col-md-4">
                        <label class="title">{{ 'addTraffic.place' | translate }} :</label>
                        <input class="content" ng-model="vm.RodeState" id="suggestId" ng-keypress="vm.keyPress($event,vm.RodeState)">
                        <i class="fa fa-search search" ng-click="vm.mapSearch(vm.RodeState)"></i>
                    </div>
                    <!--路况分类-->
                    <div class="category col-md-4">
                        <label class="title">{{ 'addTraffic.classify' | translate }} :</label>
                        <label class="radio-inline" ng-repeat="item in vm.categoryList">
                            <input type="radio" name="trafficCategory" ng-checked="vm.category_type == item.id" ng-click="vm.categoryChange(item.id)">
                            {{ item.title }}
                        </label>
                    </div>
                    <!--有效时间-->
                    <div class="category_time col-md-4">
                        <label class="title"> {{ 'addTraffic.expirationDate' | translate }} :</label>
                        <span>
                            <input ng-model="vm.hour" class="time-text" lang="zh-cn"/>
                            <label class="time_label" translate="addTraffic.hour"></label>
                        </span>
                        <span>
                            <input ng-model="vm.minute" class="time-text" lang="zh-cn"/>
                            <label class="time_label" translate="addTraffic.min"></label>
                        </span>
                    </div>
                    <!--经纬度-->
                    <div class="coordinate">
                        <span class="longitude">{{ 'addTraffic.longitude' | translate }} : {{vm.long}}</span>  ,
                        <span class="latitude">{{ 'addTraffic.latitude' | translate }} : {{vm.lad}}</span>
                    </div>
                </div>
                <div id="map" style="height:400px;width:100%;margin: 0;border: 1px solid #eee;"></div>
            </div>
            <!--bottom-->
            <div class="btn_bottom">
                <button class="btn primary-btn m-r" ng-click="vm.save(0)" my-loading="vm.release_loading">
                    {{ 'addTraffic.save' | translate }}
                </button>
                <button class="btn primary-btn m-r" ng-click="vm.save(1)" my-loading="vm.lock_loading">
                    {{ 'addTraffic.saveReview' | translate }}
                </button>
                <button class="btn cancel-btn" ng-click="vm.cancel()">
                    {{ 'addTraffic.cancel' | translate }}
                </button>
            </div>
        </div>
    </div>
    <div ui-include="'../views/mxu/common/footer.html'"></div>
</div>

