<div class="modal-cover-img box-shadow-md ">
        <div class="modal-header">
            <h5 class="modal-title" >生成地址</h5>
            <i class="fa fa-remove close-icon" ng-click="vm.close()"></i>
        </div>
        <div class="modal-body">
            <div style="display: flex">
                <label class="label-name">有效时间:</label>
                <div style="display: flex">
                    <div class="date-box date">
                        <input placeholder="选择日期" class="form-control"
                                ng-model="vm.modifyDate"
                                data-date-format="yyyy-MM-dd"
                                data-icon-left="fa fa-chevron-left"
                                data-icon-right="fa fa-chevron-right"
                                name="date" autocomplete='off'
                                bs-datepicker >
                    </div>
                    <div class="time-box time">
                        <input placeholder="选择时间" class="form-control"
                                ng-model="vm.modifyTime"
                                data-icon-left="fa fa-chevron-left"
                                data-icon-right="fa fa-chevron-right"
                                data-time-format="HH:mm"
                                data-time-type="number"
                                data-autoclose="1" lang="zh-cn"
                                placement="bottom-right" name="time"
                                autocomplete='off'
                                bs-timepicker />
                    </div>
                </div>
                
                <button class="btn hoge-btn-blue effect" ng-click="vm.takeEffect()">生效</button>
            </div>
            <div class="url-class">
                <input id="upt-copy" class="url-content" type="text" ng-model="vm.currentUrl">
                <input class="copy-btn" type="button" value="复制"  ng-click="vm.copyUrl()">
            </div>
        </div>
    
    </div>