<div class="mxu_side_wrapper" style="overflow:hidden;">
  <div class="menu-wrap">
    <div class="hoge-classify-sidebar">
        <div class="sidebar-header">
           <span ng-click="vm.refreshList()" class="header-all" ng-class="{'item-active' : vm.isChoose}" ng-if="!vm.hideAll">全部</span>
           <i class="fa typeface-menu_mianbaoxie no-use"></i>
        </div>
        <div class="list-list pull-left" id="sidebar-list">
           <div class="sidebar-list pull-left">
               <div class="sidebar-item" ng-repeat="item in vm.navList">
                   <div class="sidebar-body">
                          <span class=" item-name" ng-class="{'item-active' : item.id == vm.category}" ng-click="vm.refreshList(item)">
                               {{item.name}}
                          </span>
                   </div>
               </div>
           </div>
        </div>     
   </div>
  </div>
  <div class="second-view" style="padding: 16px;">
      <div ui-view></div>
  </div>
</div>
<m2o-footer ></m2o-footer>