<div class="mxu-component-wraper pos-rlt" my-loading="vm.loading">
    <div>
        <!-- header -->
        <div class="content_list_head clearfix hoge-table-add" style="overflow:unset">
            <!--新增文稿-->
            <div class="pull-left hoge-table-title">组件列表</div>
            <m2o-site-chose handler-site="vm.initSite(site_id,site_name)" clear-state-param="vm.clearStateParam()" change-site="vm.changeSite(site)"></m2o-site-chose>
            <div class="pull-right">
                <button class="btn hoge-btn-blue" ng-click="vm.stateGo()">新增组件</button>
            </div>
        </div>
        <!-- / header -->
        <!-- list -->
        <div class="list_contain hoge-table-contain white">
            <div class="btn-toolbar list_bar hoge-table-search">
                <!--搜索-->
                <div class="form-group hoge-input-search pull-right" >
                    <input type="text" placeholder="输入关键词" ng-keypress="vm.keyPress($event)" ng-model="vm.key">
                    <i class="fa typeface-searchbar_sousuo" ng-click="vm.search()"></i>
                </div>
            </div>
            <div class="ErrorTip" style="padding: 120px 40px;" ng-show="!vm.componentList.length">
                <p>暂无数据</p>
            </div>
            <div class="table_header hoge-table-header" ng-show="vm.componentList.length">
                <div class="wrap b-l b-white">
                    <div class="list-ctr"></div>
                    <div class="list-name">组件名称</div>
                    <div class="list-info">简介</div>
                    <div class="list-category">所属分类</div>
                    <div class="list-time">更新时间</div>
                    <div class="list-other">操作</div>
                </div>
            </div>

            <div class="list white" ng-show="vm.componentList.length">
                <div class="list-item hoge-item-border"
                     ng-repeat="item in vm.componentList track by $index"
                     ng-mouseenter=""
                     ng-class="{'border-blue':vm.itemCheck(item)}">
                    <div class="list-ctr">
                        <label class="checkbox-inline">
                            <!-- {{item.is_default !== 1}} -->
                            <input type="checkbox" value="option1" ng-checked="vm.itemCheck(item)" ng-click="vm.toggle(item)" ng-disabled="item.is_default == 1" ng-class="item.is_default !== 1 ? '' : 'normal_disable'">
                        </label>
                        <!-- <i class="fa fa-bars"></i> -->
                    </div>

                    <div class="list-name">
                        {{item.name}}
                    </div>

                    <div class="list-info">
                        {{item.brief}}
                    </div>

                    <div class="list-category">
                        {{item.category_name}}
                    </div>

                    <div class="list-time">
                        {{item.updated_at}}
                    </div>

                    <div class="list-other" >
                        <span ng-click="vm.handleCopy(item)">复制</span>
                        <span ng-click="vm.handleEdit(item)">编辑</span>
                        <span ng-if="item.is_default !== 1" ng-click="vm.handleDelete(item)">删除</span>
                    </div>

                </div>
            </div>

            <!--bottom-->
            <div class="list_bottom hoge-table-bottom border-bottom-radius" ng-show="vm.pageOptions.total > vm.pageOptions.pageSize">
                <div class="btn-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="option1" ng-checked="vm.allChecked()" ng-click="vm.toggleAll()">{{'content.select' | translate}}
                    </label>
                </div>
                <div class="btn-toolbar list_bar flex-one btn-box">
                    <div class="btn-group">
                        <button class="btn del-btn" ng-click="vm.deleteAll()">删除</button>
                    </div>
                </div>
                <page-nation options="vm.pageOptions" turn-page="vm.changePage()"></page-nation>
            </div>
        </div>
        <!-- / list -->

    </div>
</div>