<div class="links">
    <div class="box">
        <div class="main_body">
            <div class=" hoge-table-add">
                <div translate="terminalLinks.link" class="hoge-table-title"></div>
                <button class="btn btn-purple pull-right" ng-click="vm.goAdd()" translate="terminalLinks.createLink"></button>

            </div>
            <div class="box-body p-v-md">

                <div>
                    <div class="box">
                        <div class="list_contain hoge-table-contain white" my-loading="vm.loadding">
                            <hoge-error  arr-length="vm.linkList.length" load="vm.loadding"></hoge-error>
                            <div class="list_header hoge-table-header" ng-show="vm.linkList.length">
                                <div class="wrap">
                                    <div class="list-ctr">
                                        <i class="fa fa-bars"  ng-click="vm.sort()"></i>
                                        <!--ng-if=""-->
                                    </div>
                                    <div class="list-name" translate="terminalLinks.linkName"></div>
                                    <div class="list-logo" translate="terminalLinks.logo"></div>
                                    <div class="list-href" translate="terminalLinks.href"></div>
                                    <div class="list-i"></div>
                                    <div class="list-i"></div>
                                </div>
                                <div class="sort_board red-50" ng-show="vm.isSort">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    {{'terminalLinks.sortTip' | translate}}
                                    <button class="btn btn-sm white pull-right " ng-click="vm.cancelSort()">{{'terminalLinks.cancel' | translate}}</button>
                                    <button class="btn btn-sm hoge-btn-blue pull-right m-r" ng-click="vm.outSort()">{{'terminalLinks.save' | translate}}</button>

                                </div>
                            </div>
                            <!--列表-->
                            <div class="list"  ui-sortable="vm.sortableOpt" ng-model="vm.linkList" ng-show="vm.linkList.length">
                                <div class="list-item hoge-item-border"
                                     ng-repeat="item in vm.linkList track by $index"
                                     ng-mouseenter="">
                                    <div class="list-ctr">
                                        <label class="checkbox-inline" ng-if="!vm.isSort">
                                            <input type="checkbox" value="option1" ng-checked="vm.itemCheck(item)" ng-click="vm.toggle(item)">
                                        </label>
                                        <i class="fa fa-bars" ng-if="vm.isSort"></i>
                                    </div>
                                    <div class="list-name">{{item.name}}</div>
                                    <div class="list-logo">
                                        <img src="{{item.logo_display}}" alt="">
                                    </div>
                                    <div class="list-href">{{item.link}}</div>
                                    <div class="list-i">
                                        <div class="icon-tool pull-right" ng-click="vm.singleEdit(item);" ng-show="!vm.isSort">
                                            <i class="fa icon-bianji " data-toggle="dropdown" aria-expanded="false"></i>
                                        </div>
                                    </div>
                                    <div class="list-i">
                                        <div class="icon-tool pull-right" ng-click="vm.singleDelete(item);" ng-show="!vm.isSort">
                                            <i class="fa icon-shanchu1 " data-toggle="dropdown" aria-expanded="false"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--bottom-->
                            <div class="list_bottom hoge-table-bottom" ng-show="vm.pageOptions.total > vm.pageOptions.pageSize">
                                <div class="btn-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="option1" ng-checked="vm.allChecked()" ng-click="vm.toggleAll()">{{'terminalLinks.allSelect' | translate}}
                                    </label>
                                </div>
                                <div class="btn-toolbar list_bar flex-one btn-box">
                                    <div class="btn-group">
                                        <button class="btn  hoge-common-btn" ng-disabled="vm.linkList.length == 0" ng-click="vm.moreDelete()">{{'terminalLinks.delete' | translate}}</button>
                                    </div>
                                </div>
                                <page-nation  options="vm.pageOptions" turn-page="vm.changePages()"></page-nation>
                            </div>
                            <!--bottom-->
                        </div>
                        <!-- / list -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<m2o-footer></m2o-footer>