
<div class="material-modal">
    <div class="modal-header">
        <h5 class="modal-title" >添加视频</h5>
        <!--{{vm.typeTitle}}-->
        <i class="fa fa-remove close-icon" ng-click="vm.close()"></i>
    </div>
    <div class="time-chose">
        <div class="btn-contain btn-group">
            <!-- <button class="btn btn-outline btn-blue" ng-click="vm.typeChange('gallery')" ng-class="{actived:vm.stateType=='gallery'}">外网链接</button> -->
            <button class="btn btn-outline btn-blue" ng-click="vm.typeChange('video')" ng-class="{actived:vm.stateType=='video'}">视频库</button>
            <button class="btn btn-outline btn-blue" ng-if="!vm.systemSet" ng-click="vm.typeChange('audio')" ng-class="{actived:vm.stateType=='audio'}">音频库</button>
        </div>
    </div>
    <div class="modal-body">
        <!--标题-->
        <div class="material-search" ng-if="vm.stateType !== 'gallery'">
            <!--搜索-->
            <div class="input-group input-group-sm widths">
                <input type="text" class="form-control search" ng-keypress="vm.keyPress($event)" placeholder="请输入" ng-model="vm.title">
                <span class="input-group-btn">
                    <button class="btn hoge-white-btn" ng-click="vm.search();">搜索</button>
                </span>
            </div>
        </div>
        <!-- <div class="body-outlink" ng-if="vm.stateType === 'gallery'">
            <input type="text" class="body-outlink-input" placeholder="请输入视频链接">
            <div class="body-outlink-div">1、目前已支持新浪博客、优酷网、土豆网、酷6网、搜狐视频、56网、奇艺网、凤凰网、音悦台、乐视网等视频网站的视频播放页链接。</div>
            <div class="body-outlink-div">2、确认添加后，视频地址将转换成短连接插入到正文中。</div>
        </div> -->
        <div class="material-body" ng-if="vm.stateType !== 'gallery'">
            <!--栏目分类-->
            <div class="nav_classify pos-rlt" data="$state">
                <div class="classify-list">
                    <nav class="navside m-b">
                        <div class="nav-border b-primary" flex>
                            <class-tree class="classify-tree"
                                        no-add = "true"
                                        no-edit ="true"
                                        no-del ="true"
                                        tree-data="vm.navList"
                                        sort-id="vm.storage"
                                        get-child="vm.getChilds(item)"
                                        select-class="vm.selectClass(param)"
                                        tree-level="10"
                                        is-show-item="-1"
                            ></class-tree>
                        </div>
                    </nav>
                </div>
            </div>
            <!--素材列表-->
            <div class="material-list">
                <div class="list-body" my-loading="vm.loading">
                    <hoge-error  arr-length="vm.materialList.length" load="vm.loading"></hoge-error>
                    <div class="list-contain" ng-if="vm.materialList[0]">
                        <div class="each-item" ng-repeat="item in vm.materialList track by $index">
                            <!--图片没写-->
                            <div class="item-img" ng-click="vm.choseItem(item)" ng-class="{'chos-item':item.is_chosed}" ng-click="vm.cancelChose(item)">
                                <span class="img-square" ng-if="item.index_pic">
                                    <img ng-src="{{item.index_pic}}">
                                </span>
                                <div class="img-square" ng-if="!item.index_pic">
                                    <img src="../assets/images/mxu/img_cover.png">
                                </div>
                                <!--<div class="item-msg">-->
                                    <!--<span ng-if="vm.params.type != 'gallery'">{{item.duration_format}}</span>-->
                                    <!--<span ng-if="vm.params.type == 'gallery'">{{item.photo_count}}P</span>-->
                                <!--</div>-->
                                <div class="hover-floor">
                                    <span ng-if="vm.params.type != 'gallery'">{{item.duration_format}}</span>
                                    <span ng-if="vm.params.type == 'gallery'">{{item.photo_count}}P</span>
                                    <span class="hoge-tip-arrow pull-right" ng-click="vm.newsMaterialPreview(item)">
                                        <i class="fa typeface-form_yulan"></i>
                                        <div class="box-color text-color pos-rlt">
                                             <span class="arrow bottom b-white"></span>
                                            <div class="box-body">预览</div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="item-title">
                                {{item.title}}
                            </div>
                        </div>
                    </div>
                    <div class="hoge-table-bottom" ng-if="vm.materialList.length!=0">
                        <page-nation  options="vm.pageOptions" turn-page="vm.getList()"></page-nation>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn cancel-btn" ng-click="vm.close()">取消</button>
        <button type="button" class="btn primary-btn" ng-click="vm.save()" ng-class="{'disabled':!vm.chosed[0].id}">确认</button>
    </div>
</div>
<div ng-if="vm.newsMaterialPre">
    <atlas-pre state-type="vm.stateType" atlas-loading="vm.atlasLoading"
              pre-title="vm.preTitle" atlas="vm.atlas" active-index="vm.activeIndex"
               news-material-pre="vm.newsMaterialPre" pre-close="vm.preClose()"
    ></atlas-pre>
    <video-pre state-type="vm.stateType" atlas-loading="vm.atlasLoading"  news-material-pre="vm.newsMaterialPre"
               pre-title="vm.preTitle" video="vm.video" pre-close="vm.preClose()"  video-img="vm.video_img"></video-pre>

    <div class="audio-pre new-material-pre" ng-cloak ng-if="vm.stateType == 'audio'">
        <div class="pre-body">
            <div class="media-body" >
                <div class="auido-style" my-loading="vm.audioLoading">
                    <i class="fa fa-remove close-icon" ng-click="vm.preClose()"></i>
                    <div class="control-icon">
                        <i class="fa btn-audio typeface-menu_bofang"
                        ></i>
                    </div>
                    <div class="controll-body">
                        <div class="body-title">{{vm.preTitle}}</div>
                        <div class="body-progress progress" id="progress">
                            <div class="progress-bar info" id="progress-bar"></div>
                        </div>
                        <div class="body-time">
                            <span class="current-time" id="current-time"></span>
                            <span id="durtion-time">{{vm.duration}}</span>
                        </div>
                    </div>
                </div>
                <audio id="audioTag" preload="true" ng-poster="{{vm.audioImg}}" src="{{vm.audio}}" style="width: 100%;"></audio>
            </div>
        </div>
    </div>
</div>



