<% if (edition === 'pro' || edition === 'ult') { %>
<div class="mxu_vote_wrap padding">
    <div class="row">
        <div class="col-md-12 col-md-pull-0">
            <div ui-include="'../views/mxu/interact/vote/list/list.html'"></div>
        </div>
    </div>
</div>
<% } %>
