<div class="mxu_au_wrap padding">
    <div class="box m-0">
        <div class="box_header"  >
            <h5 translate="authority.basicRole"></h5>
        </div>
        <div class="box_wraper m-b">
            <div class="form-group m-l-10">
                <label class="block m-b-sm" ng-class="{'active': vm.authority.name}" translate="authority.roleName"></label>
                <input type="text" maxlength="20" class="text-muted form_input color_text" ng-model="vm.roleName" ng-blur="vm.authority.name = false"
                       ng-focus="vm.authority.name = true" required>
            </div>
            <div class="form-group">
                <label class="block m-b-sm" ng-class="{'active': vm.authority.description}" translate="authority.roleDescribe"></label>
                <textarea class="b-ta form_input color_text" ng-model="vm.roleDesc" ng-blur="vm.authority.description = false"
                          ng-focus="vm.authority.description = true"> </textarea>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box_header">
            <h5 translate="authority.jurisdiction"></h5>
        </div>
        <div class="box_wraper m-b">
            <span class="b-l-5x"></span>
            <span class="list-title" translate="authority.basicJurisdiction"></span>
            <div class="wrap_block" ng-repeat="item in vm.basePermision">
                <div class="w-t-h">
                    <span class="block-t">{{item.display}}</span><span class="chose-b" ng-class="{'active':vm.allCheck(item)}" ng-click="vm.choseAuth(item)" translate="authority.select"></span>&nbsp; / &nbsp;<span class="chose-b" ng-class="{'active':vm.nullCheck(item)}" ng-click="vm.cancelAuth(item)" translate="authority.cancel"></span>
                </div>
                <div class="w-t-b">
                    <label class="checkbox-inline" ng-repeat="v in item.prms">
                    <input type="checkbox" ng-click="vm.singleToggle(v,item)" ng-checked="vm.singleCheck(v,item)" value="{{v.name}}">
                       {{v.display}}
                   </label>
                </div>
            </div>
            <div class="head_box">
                <span class="b-l-5x"></span>
                <span class="list-title" translate="authority.columnJurisdiction"></span>
            </div>
            <div class="wrap_block">
                <div class="w-t-b">
                    <label class="m-r-20">
                        <input type="radio" ng-click="vm.colToggle()"  ng-model="vm.colAuth" name="col" value="1" checked="">
                        {{ 'authority.manageColumn'| translate}}
                    </label>
                    <label class="m-r-20">
                        <input type="radio" ng-click="vm.colToggle()"  ng-model="vm.colAuth" name="col" value="2" checked="">
                       {{ 'authority.manageAllColumn'| translate}}
                    </label>
                    <label id="c-s" class="m-r-20">
                        <input type="radio" ng-click="vm.colToggle()" ng-model="vm.colAuth" name="col" value="0" checked="">
                        {{ 'authority.manageLimitColumn'| translate}}
                    </label>
                    <div class="box-color text-color pos-rlt collapse" ng-class="{'in':vm.siteshow}" aria-expanded="{{vm.siteshow}}">
                        <span style="left:167px;" class="arrow top pull-left b-white"></span>
                        <div class="box-body">
                            <label class="checkbox-inline" ng-repeat="item in vm.siteList | orderBy: 'id'">
                                <input type="checkbox" ng-click="vm.singleSiteToggle(item)" ng-checked="vm.singleSiteCheck(item)" value="{{item.id}}">
                                {{item.name}}
                            </label>
                        </div>
                    </div>
                    <div class="box-color text-color pos-rlt collapse" ng-class="{'in':vm.show}" aria-expanded="{{vm.show}}">
                        <span style="left:346px !important;" class="arrow top pull-left b-white"></span>
                        <div class="box-body">
                            <div ng-repeat="item in vm.colList" ng-if="item.site">
                                <div class="col_list">
                                    <span class="site_tit">{{item.title}}</span>
                                    <span ng-repeat="v in item.site">
                                        <span class="col_name">{{v.name}}
                                        <i class="icon-guanbi cursor_pointer" ng-click="vm.deleteCheck(v.id,item)"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="add_column cursor_pointer" ng-click="vm.choseColumn()">
                                + {{'authority.addColumn' | translate}}
                            </div>
                            <!--<label class="checkbox-inline" ng-repeat="item in vm.colList">-->
                                <!--<input type="checkbox" ng-click="vm.singleColToggle(item)" ng-checked="vm.singleColCheck(item)" value="{{item.id}}">-->
                                <!--{{item.name}}-->
                            <!--</label>-->
                        </div>
                    </div>
                </div>
            </div>
            <!--扩展权限-->
            <div class="head_box">
                <span class="b-l-5x"></span>
                <span class="list-title" translate="authority.extendJurisdiction"></span>
            </div>
            <div class="wrap_block">
                <div class="w-t-b">
                    <label class="m-r-20">
                        <input type="radio" ng-click="vm.exToggle()"  ng-model="vm.exAuth" name="ex" value="1" checked="">
                       {{ 'authority.manageExtend'| translate}}
                    </label>
                    <label id="c-e" class="m-r-20">
                        <input type="radio" ng-click="vm.exToggle()" ng-model="vm.exAuth" name="ex" value="0" checked="">
                        {{ 'authority.manageLimitExtend'| translate}}
                    </label>
                    <div class="box-color text-color pos-rlt collapse" ng-class="{'in':vm.exshow}" aria-expanded="{{vm.exshow}}">
                        <span style="left:116px;" class="arrow top pull-left b-white"></span>
                        <div class="box-body">
                            <label class="checkbox-inline" ng-repeat="item in vm.baseService">
                                <input type="checkbox" ng-click="vm.singleExToggle(item)" ng-checked="vm.singleExCheck(item)" value="{{item.id}}">
                                {{item.name}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap_block wrap_block_footer">
                <div class="btn-group" my-loading="vm.release_loading">
                    <button class="btn primary-btn m-r-10" ng-click="vm.save()" translate="authority.save"></button>
                </div>
                <div class="btn-group" my-loading="vm.lock_loading">
                    <button class="btn btn-purple m-r-10" ng-click="vm.reset()" translate="authority.reset"></button>
                </div>
                <div class="btn-group" my-loading="vm.lock_loading">
                    <button class="btn btn-outline btn-comment" ng-click="vm.cancel()" translate="authority.cancel"></button>
                </div>
            </div>
        </div>
    </div>
</div>
