<div class="modal-preview box-shadow-md">
    <div class="modal-header">
        <h5 class="modal-title">接口预览</h5>
        <i class="fa fa-remove map-close" ng-click="vm.close()" style="position: absolute;right: 15px;top: 16px;"></i>
    </div>
    <div class="modal-body">
        <div class="content-box">
            <pre class="content-text-box">{{vm.dataText}}</pre>
            <!-- <textarea name="" id="" cols="30" rows="10" ng-model="vm.dataText">
                {{vm.dataText}}
            </textarea> -->
            
        </div>
        
    </div>
</div>