<form class="member-edit box-shadow-md form-validation" name="adjustForm" id="editForm" my-loading="vm.edit_loading">
    <div class="modal-header">
        <h5 class="modal-title">{{vm.modalTitle}}成员</h5>
    </div>
    <div class="modal-body add-body">
        <div class="flex-item flex-v-center input-wrapper">
            <label class="label-title">会员：</label>
            <div class="member-name" ng-click="vm.changeMember()"
            ng-class="{'placeColor': !vm.memberName(),'disabled-color':vm.param.obj}" 
            >{{vm.memberName()? vm.memberName():'请选择'}}</div>
        </div>
        <div class="flex-item flex-v-center input-wrapper">
            <label class="label-title">手机号：</label>
            <input type="text"  ng-focus="vm.titleFocus = true"
            placeholder="请输入手机号"
            ng-class="{'focus-color':vm.titleFocus}" ng-blur="vm.titleFocus = false" class="content input-control input-len name-input" 
            ng-model="vm.memberInfo.mobile">
        </div>
        <div class="flex-item flex-v-center input-wrapper">
            <label class="label-title">真实姓名：</label>
            <input type="text"  ng-focus="vm.nameFocus = true"
            placeholder="请输入真实姓名" ng-class="{'disabled-color':vm.param.obj}" 
            ng-class="{'focus-color':vm.nameFocus}" ng-blur="vm.nameFocus = false" 
            class="content input-control input-len name-input" ng-model="vm.memberInfo.name" maxlength="6">
            <span class="length-tip">{{vm.memberInfo.name.length ? vm.memberInfo.name.length:0}}/6</span>
        </div>
        <div class="flex-item flex-v-center input-wrapper">
            <label class="label-title">商会职务：</label>
            <div class="btn-group dropdown hoge-dropdown">
                <button class="btn btn-sm dropdown-toggle" style="padding-right: 24px !important;" data-toggle="dropdown">
                    <span class="dropdown-label">{{vm.choseGroupName}}</span>
                    <span class="caret"></span>
                </button>
                <div class="dropdown-menu text-left text-sm">
                    <a class="dropdown-item" ng-repeat="region in vm.jopList track by $index" ng-click="vm.chooseGroup(region)">
                        {{region.name}}
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn primary-btn" ng-click="vm.save()"> {{ 'task.save' | translate }}</button>
        <button type="button" class="btn cancel-btn" ng-click="vm.cancel()"> {{ 'task.cancel' | translate }}</button>
    </div>
</form>
<!-- 添加会员 -->
<div class="member-edit showMember-wrapper" ng-if="vm.showMember">
    <div class="modal-header">
        <h5 class="modal-title">添加会员</h5>
    </div>
    <div class="modal-body">
        <div class="search-wrapper">
            <i class="fa typeface-searchbar_sousuo"></i>
            <input type="text" placeholder="请输入"  ng-model="vm.key" ng-change="vm.search()">
        </div>
        <div class="list-wrapper">
            <div class="classify-wrapper">
                <div ng-repeat="item in vm.groupList" class="classify-item" 
                ng-class="{'active-item':vm.currentGroup.id==item.id}"
                ng-click="vm.changeGroup(item)">{{item.group_name}}</div>
            </div>
            <div class="data-wrapper" id="data-wrapper">
                <div ng-repeat="item in vm.list" class="data-item">
                    <label class="radio-inline" ng-click="vm.choseMember = item">
                        <!-- <input ng-model="vm.choseMember" name="'outputType'" type="radio" value="{{item}}"> -->
                        <input ng-checked="vm.checkedMember(item)" name="'outputType'" type="radio" value="{{item}}">
                        <img src="/assets/images/mxu/avatar-40.jpg" alt="" ng-if="!item.avatar">
                        <img ng-src="{{item.avatar}}" alt="" ng-if="item.avatar">   
                        <span>{{item.nick_name}}</span>
                    </label>
                </div>
                <div class="loading-box" ng-if="vm.memberLoading">
                    <img  src="/assets/images/mxu/loading3.gif"/>
                </div>
                
            </div>
        </div>
            

    </div>
    <div class="modal-footer">
        <button type="button" class="btn primary-btn" ng-click="vm.memberSave()"> {{ 'task.save' | translate }}</button>
        <button type="button" class="btn cancel-btn" ng-click="vm.memberCancel()"> {{ 'task.cancel' | translate }}</button>
    </div>
    </div>
</div>