<div>
    <div class="formcontetn">
        <div class="header">
            <div class="bread">
                <div class="title">
                        反馈表单列表
                </div>
                <div class="arrow">
                    >
                </div>
                <div class="do">
                        新建问卷
                </div>
            </div>
            <div class="return" ng-click="vm.goBack()">
                <i class="fa typeface-menu_fanhuiliebiao"></i>
                <span>返回</span>
            </div>
        </div>
        <ul class="module">
            <li class="module_item" ng-click="vm.navchange($event,'#788091',0)" style="color:#3598DC;border-bottom:2px solid #3598dc;">编辑问卷</li>
            <li class="module_item" ng-click="vm.navchange($event,'#788091',1)">规则设置</li>
            <li class="module_item" ng-click="vm.navchange($event,'#788091',2)">统计报表</li>
        </ul>
        <div class="setform">
            <div class="toolbox">
                <ul>
                    <li ng-click="vm.navchange($event,'black',0)" style="color:#3598DC;border-bottom:2px solid #3598dc;">组件</li>
                    <li ng-click="vm.navchange($event,'black',1)">主题</li>
                    <li ng-click="vm.navchange($event,'black',2)">逻辑</li>
                </ul>
                <div class="toolbox-show">
                        <ul class="main_content">
                            <li>
                                <div class="title_zj">通用组件</div>
                                <ul class="firstul">
                                    <li>单选</li>
                                    <li>多选</li>
                                    <li>图片单选</li>
                                    <li>下拉题</li>
                                    <li>图片多选</li>
                                    <li>矩阵单选</li>
                                    <li>矩阵多选</li>
                                    <li>附件</li>
                                </ul>
                                <ul class="firstul">
                                        <li>单行文字</li>
                                        <li ng-click="vm.createCom()">多行文字</li>
                                        <li>矩阵填空</li>
                                        <li>图文填空</li>
                                        <li>无图商品</li>
                                        <li>配图商品</li>
                                    </ul>
                                    <ul class="firstul">
                                            <li>评分</li>
                                            <li>分割线</li>
                                            <li>备注说明</li>
                                            <li>日期</li>
                                            <li>日期时间</li>
                                        </ul>
                                        <ul class="firstul">
                                                <li>姓名</li>
                                                <li>邮箱</li>
                                                <li>电话</li>
                                                <li>手机</li>
                                                <li>性别</li>
                                            </ul>
                            </li>
                            <li>
                                <div class="title_zt">主题模版</div>
                                <ul class="itemlist">
                                    <li>
                                        <div></div>
                                        <div>全部</div>
                                    </li>
                                    <li>
                                            <div></div>
                                            <div>风景</div>
                                        </li>
                                        <li>
                                                <div></div>
                                                <div>校园</div>
                                            </li>
                                            <li>
                                                <div></div>
                                                <div>商务</div>
                                            </li>
                                            <li>
                                                <div></div>
                                                <div>亲子</div>
                                            </li>
                                            <li>
                                                <div></div>
                                                <div>职业</div>
                                            </li>
                                            <li>
                                                <div></div>
                                                <div>餐饮</div>
                                            </li>
                                            <li>
                                                <div></div>
                                                <div>节日</div>
                                            </li>
                                            <li>
                                                <div></div>
                                                <div>其他</div>
                                            </li>
                                </ul>
                                <div id="show_setbackground">
                                    <div style="overflow:hidden;cursor:pointer;" ng-click="vm.showsetbackground($event)">
                                        <div class="title_zt" style="float:left;height: 18px;line-height: 18px;">自定义页眉/背景图</div>
                                        <div class="rotate">
                                            <div style="width:0px;height:0px;border: 6px solid #9BA5BB;border-left-color:transparent;border-right-color: transparent;border-bottom: transparent;"></div>
                                        </div>
                                    </div>
                                    <div class="add_back">
                                        <div class="add_background">
                                            <div class="shu"></div>
                                            <div class="heng"></div>
                                            <div class="text">设置页眉图</div>
                                        </div>
                                        <div class="add_background">
                                            <div class="shu"></div>
                                            <div class="heng"></div>
                                            <div class="text">设置背景图</div>
                                        </div>
                                    </div>
                                </div>
                                <div style="width:100%;height:1px;background-color: #EEF1F5;margin-top: 16px;"></div>
                            </li>
                            <li style="padding:0px;">
                                <ul style="width:100%;height: 100px;overflow:hidden;background-color: #fff;display: block;">
                                    <li style="width:100%;height:30px;line-height: 30px;cursor: pointer;float: none;">跳转规则</li>
                                    <li style="width:100%;height:30px;line-height: 30px;cursor: pointer;float: none;font-size: 12px;">显示规则</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
            </div>
            <div class="compoments_area">
                <div style="width:728px;height:100%;float:left;">
                        <div style="width:calc(100% - 64px);height:100%;margin:0px auto;">
                                <!-- 此处放入标题组件 -->
                        <form-input value="vm.$scope.form.title" styleval="vm.styleval" maxlength='30'></form-input> 
                        <div class="sub_line"></div>
                         <!-- 此处放入内容UEditor -->
                        <div id="title" style="width:100%;margin-top: 24px;overflow: hidden;height: 282px;" ></div>
                        <div class="compoments">
                            <div style="width:260px;height: 200px;position:absolute;top:calc(50% - 200px / 2);left:calc(50% - 260px / 2);">
                                <img src="../../../../assets/images/mxu/Newform/img_edit_zujian@2x.png" style="width:100px;height:100px;margin:35px auto;display: inherit;"/>
                                <div style="width:100%;height:20px;color:#9BA5BB;font-size: 18px;text-align:center;">点击组件或把组件拖入此区域</div>
                            </div>
                        </div>
                <form-input value="vm.$scope.form.endword" styleval="'width:100%;height:60px;font-size:16px;line-height:30px;overflow:scroll;'" contentstyle="'overflow:scroll;height:60px;'"></form-input> 
                    </div>
                </div>
                <div style="width:204px;height:100%;float:left;border-left:1px solid #DBE1E9;">
                <div class="fm_submit">
                    <div id="heng"></div>
                    <div id="shu"></div>
                    <div id="text">设置封面图</div>
                    <img/>
                    <input id="file" type="file" ng-click="vm.callback('fm_img',$event)">
                </div>
                    <div style="color: #788091;margin-left: 20px;display:inline-block;">选择分类：</div>
                    <div style="display:inline-block;">
                            <select-com selectdata='vm.selectdata' index='vm.fl_res'></select-com>
                    </div>
                </div>

             
            </div>
        </div>
    </div>
    <div class="nav_ctn">
        <div class="nav_btn_ctn">
            <div class="nav-btn">
                <div>预览</div>
                <div>保存并分享</div>
                <div>取消</div>
            </div>
        </div>
    </div>
</div>