<form class="edit-column box-shadow-md" name="editColumnForm">
    <div class="modal-header">
        <h5 class="modal-title">新增标签</h5>
    </div>
    <div class="modal-body">
        <div class="form-group" style="position: relative;">
            <label>标签</label>
            <input type="text" maxlength="10" class="form-control"
                   ng-model="vm.label"
                   ng-blur="vm.addColumn.name = false"
                   ng-focus="vm.addColumn.name = true"
                   ng-keydown="vm.keydown($event)">
            <div num-count="vm.label" count-top="30" count-right="50" count-max="10" class="m-b count"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn primary-btn" ng-click="vm.save()" >保存</button>
        <button type="button" class="btn cancel-btn" ng-click="vm.close()">取消</button>
    </div>
</form>