<div class="sync-page">
  <div class="p-v-md">
      <div class="hoge-edit-head">
          <span class="page-title">平台同步设置</span>
      </div>
  </div>
  <div class="info-setting-box" style="box-shadow: none;border-radius: 4px;" >
      <div class="box-body hoge-border">
        <form role="form" name="form" my-loading="vm.loading"> 
            <ul class="flatform-tab">
              <li class="tab-item" ng-repeat="(index, item) in vm.platformList" ng-class="{'active': index === vm.currentIndex}" ng-click="vm.toggleTab(index,item)">{{item.flat_name}}</li>
            </ul>
            <!--规则设置-->
            <div class="form-card">
                <!-- <div class="header">{{item.flat_name}}</div> -->
                <div class="content">
                    <div class="m-b publish-switch flex-item">
                        <label for="" class="label-name">是否开启同步：</label>
                        <label class="ui-switch">
                            <span class="switch-open">开</span>
                            <span class="switch-close">关</span>
                            <input type="checkbox" ng-click="vm.toggleOpen(vm.platformList[vm.currentIndex])" ng-checked="!!vm.platformList[vm.currentIndex].is_open" >
                            <i></i>
                        </label>
                    </div>
                    <!-- switch -->
                    <div class="m-b publish-switch flex-item">
                        <label for="" class="label-name">是否开启自动同步：</label>
                        <label class="ui-switch">
                            <span class="switch-open">开</span>
                            <span class="switch-close">关</span>
                            <input type="checkbox" ng-click="vm.toggleAuto(vm.platformList[vm.currentIndex])" ng-checked="!!vm.platformList[vm.currentIndex].is_auto" >
                            <i></i>
                        </label>
                    </div>
                    <!-- 发布后 -->
                    <div class="publish-time m-b" ng-if="vm.platformList[vm.currentIndex].is_auto">
                        <label for="" class="label-name">默认同步时间：</label>
                        <span class="publish-label">发布后</span>
                        <input type="number" ng-blur="vm.platformList[vm.currentIndex].time = false" ng-focus="vm.platformList[vm.currentIndex].time = true" 
                            ng-class="{'focus-color':vm.platformList[vm.currentIndex].time}"
                            ng-model="vm.platformList[vm.currentIndex].delay_time">
                        <div class="btn-group dropdown hoge-dropdown" style="margin-left:8px !important;">
                            <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                                <span class="dropdown-label">{{vm.platformList[vm.currentIndex].timeTypeName}}</span>
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu text-left text-sm">
                                <a class="dropdown-item" ng-repeat="type in vm.timeArr" ng-click="vm.chooseType(type,vm.platformList[vm.currentIndex])">{{type.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="md-form-group" ng-if="!vm.loading">
                <button type="submit" class="btn primary-btn right-primary" my-loading="vm.saveloading" ng-click="vm.settingSave()">保存</button>
            </div>
        </form>
      </div>
  </div>
</div>