<div class="mxu_system_setting_wrap mxu_system_setting_wrap_text ">
    <div class="hoge-table-add">
        <div class="hoge-table-title">短信设置</div>
    </div>
    <!-- list -->
    <div class="text-wrapper">
        <div class="box-header">
            <!-- <div class="row">
                
                <div class="col-xs-12">
                    <button class="btn btn-purple" ng-click="vm.setGo()" style="float: right;margin-top: 0;" translate="system_text.buttonText"></button>
                </div>
            </div> -->
            <div class="box-tip collapse in">
                <i class="material-icons font-16">&#xe88f;</i>
                {{ 'system_text.tip'| translate}}
            </div>
        </div>
        <div class="box-body">
                <div class="box-body-contain">
                    <div class="title">
                        <span class="title-name text">短信使用进度</span>
                    </div>
                    <div class="body-default">
                        <div class="sms-chart">
                            <div class="inline">
                                <div ui-jp="easyPieChart" class="easyPieChart" ui-refresh="vm.smsRefresh" data-redraw="true" data-percent="{{vm.percent}}"
                                    ui-options="{{vm.pieOptions}}">
                                    <div class="circle-content">
                                        <span class="percent-word">剩余</span>
                                        <span class="percent-font">{{vm.percent}}%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sms-count">
                            <div class="count-box">
                                <span class="send-num">{{vm.used}}</span>
                                <span class="send-name">已发条数</span>
                            </div>
                            <div class="count-box">
                                <span class="send-num">{{vm.remain}}</span>
                                <span class="send-name">剩余条数</span>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- <form role="form" class="ng-pristine ng-valid">
                <div class="tip_box">
                    <div class="tip_title" translate="system_text.charge"></div>
                    <p class="tips"><i class="fa icon-tixing"></i>{{ 'system_text.chargeTip'| translate}}</p>
                </div>
            </form> -->
        </div>
    </div>
    <!-- list -->

</div>