<div class="push-wrapper box-shadow-md">
    <div class="modal-header">
        <h3 class="modal-title">稿件推送</h3>
        <i class="fa fa-remove map-close" ng-click="vm.close()" style="position: absolute;right: 15px;top: 16px;cursor: pointer;"></i>
    </div>
    <div class="modal-body">
     
        <div class="push-type">
            <button class="type-btn" ng-repeat="typeItem in vm.typeData" ng-class="{'choose-type':vm.type == typeItem.type}" ng-click="vm.chooseType(typeItem)">{{typeItem.name}}<span class="push-num">(<span ng-show="vm.type == typeItem.type">{{vm.choseArr.length}}</span><span ng-show="vm.type !== typeItem.type">0</span>/{{typeItem.counts}})</span></button>

        </div>
        <div class="content-box">
            <div class="public-box">
                <span class="public-title">所有公众号</span>
                <div class="public-list-box" ng-show="vm.currentPublicArr.length">
                    <div class="item" ng-repeat="(index, item) in  vm.currentPublicArr">
                        <img class="public-icon" src="{{item.avatar}}" alt="">
                        <input class="input-icon" id={{index}} type="checkbox" ng-disabled="!item.can_push" ng-model="x" ng-checked="vm.checkPublic(item)" ng-click="vm.chosePublic(item,x)">
                        <!-- <span class="public-name" ng-class="{'selected-name':x}">{{item.name}}</span>  -->
                        <a class="public-name" ng-class="{'selected-name':vm.checkPublic(item)}" title="{{item.name}}">{{item.name}}</a>     
                    </div>
                </div>
                <div class="public-list-box" ng-show="!vm.currentPublicArr.length">
                    <p class="no-content">暂无内容</p>
                </div>
                

            </div>
            <div class="public-box">
                <span class="public-title">已选推送（点击删除）：</span>
                <div class="public-list-box" ng-show="vm.choseArr.length" >
                    <div class="item" ng-repeat="(pushedIndex, pushedItem) in vm.choseArr" ng-click="vm.deletePublic(pushedItem)">
                        <img class="public-icon c-p" src="{{pushedItem.avatar}}" alt="">
                        <a class="public-name" title="{{pushedItem.name}}">{{pushedItem.name}}</a>
                    </div>
                </div>
                <div class="public-list-box" ng-show="!vm.choseArr.length">
                    <p class="no-content">暂无内容</p>
                </div>
            </div>
            <div class="public-box">
                <span class="public-title">无法推送</span><span class="tips-text">可能原因：1.该公众号未完成推送功能认证2.该公众号推送功能不可用</span>
                <div class="public-list-box" ng-show="vm.currentCanPushArr.length">
                    <div class="item" ng-repeat="canItem in vm.currentCanPushArr">
                        <img class="public-icon" src="{{canItem.avatar}}" alt="">
                        <a class="public-name" title="{{canItem.name}}">{{canItem.name}}</abs>
                    </div>
                </div>
                <div class="public-list-box" ng-show="!vm.currentCanPushArr.length">
                    <p class="no-content">暂无内容</p>
                </div>
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
        <button type="submit" class="push-btn push-submit" ng-disabled="verifyForm.$invalid" ng-click="vm.save()" translate="publish.sure_push"></button>
        <button class="push-btn push-cancel" ng-click="vm.pushCancel()">取消</button>
    </div>
    <div class="animation-loading" ng-if="vm.animationLoading">
            <div style="margin: 0 auto;">
                <spin></spin>
                <span class="text">正在推送，请稍等...</span>
            </div>
        </div>
</div>