<div class="modal-setStyle box-shadow-md">
    <div class="modal-header">
        <h3 class="modal-title" translate="publish.listStyle"></h3>
    </div>
    <div class="modal-body">
        <div class="b-l b-l-2x b-l-info p-l-sm" translate="publish.clientStyle"></div>
        <div class="p-l-sm">
            <ul mxu-nav>
                <li ng-repeat="item in vm.display_style" ng-class="{'active':vm.originId==item.style_value}">
                    <a ng-click="vm.saveStyle(item)">{{item.name}}</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn primary-btn" ng-disabled="verifyForm.$invalid" ng-click="vm.save()" translate="publish.sure"></button>
        <button type="button" class="btn cancel-btn" ng-click="vm.close()" translate="publish.cancel"></button>
    </div>
</div>