<div class="modify-wrapper edit-virtual-modal">
    <div class="modal-header">
        <h3 class="modal-title">修改虚拟点击数</h3>
        <i class="fa fa-remove map-close" ng-click="vm.close()" style="position: absolute;right: 15px;top: 16px;cursor: pointer;"></i>
    </div>
    <div class="modal-body" style="min-height:100px !important;">
        <div class="form-card">
            <div class="content">
                <div class="form-group">
                        <label class="label-name">点击量基数：
                        </label>
                        <input type="text" ng-model="vm.baseNum" onkeyup="value=value.replace(/\D/g,'')" ng-focus="vm.baseFocus = true"
                            ng-class="{'focus-color':vm.baseFocus}" ng-blur="vm.baseFocus = false">
                    </div>
                <div class="form-group">
                    <label class="label-name">随机增长
                        <div class="question-box">
                            <i class="subtitle-i typeface-form_tishi"></i>
                            <div class="question-hover">
                                    可设置会员每次点击后固定倍数增长量及随机增长区间，
                                    参考公式：<b>单次点击*固定倍数+随机增长区间=单次随机增长量</b>
                                <span class="question-tip"></span>
                            </div>
                        </div>
                    ：
                    </label>
                    <div class="setting-num-box">
                        <div class="multiple-box">
                            <span class="s-label-name">固定倍数：</span>
                            <input type="text" ng-model="vm.multipleNum" onkeyup="value=value.replace(/\D/g,'')" ng-focus="vm.multipleFocus = true"
                            ng-class="{'focus-color':vm.multipleFocus}" ng-blur="vm.multipleFocus = false">
                            <span class="frequency">/ 次</span>
                        </div>
                        <div class="interval-box">
                            <span class="s-label-name">随机增长区间：</span>
                            <input type="text" ng-model="vm.minInterval" onkeyup="value=value.replace(/\D/g,'')" ng-focus="vm.minIntervalFocus = true"
                            ng-class="{'focus-color':vm.minIntervalFocus}" ng-blur="vm.minIntervalFocus = false">
                            <span class="connector">-</span>
                            <input type="text" ng-model="vm.maxInterval" onkeyup="value=value.replace(/\D/g,'')" ng-focus="vm.maxIntervalFocus = true"
                            ng-class="{'focus-color':vm.maxIntervalFocus}" ng-blur="vm.maxIntervalFocus = false">
                            <span class="frequency">/ 次</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn primary-btn" ng-click="vm.save()" my-loading="vm.save_loading">保存</button>
        <button type="button" class="btn cancel-btn" ng-click="vm.close()">取消</button>
    </div>
</div>