<div id="audioListFirst">
  <audio ng-repeat="item in vm.trackList.first track by $index" src="{{item.path_info.url}}" controls class="audio-item-first">
    <source src="{{item.path_info.url}}" type="video/mp3" ng-if="item.extension === 'mp3'"/>
    <source src="{{item.path_info.url}}" type="video/wav" ng-if="item.extension === 'wav'"/>
    <object width="320" height="240" ng-if="item.extension === 'wma'">
      <embed src="{{item.path_info.url}}" width="320" height="240" />
    </object>
  </audio>
</div>
<div id="audioListSec">
  <audio ng-repeat="item in vm.trackList.second track by $index" src="{{item.path_info.url}}" controls class="audio-item-second">
    <source src="{{item.path_info.url}}" type="video/mp3" ng-if="item.extension === 'mp3'"/>
    <source src="{{item.path_info.url}}" type="video/wav" ng-if="item.extension === 'wav'"/>
    <object width="320" height="240" ng-if="item.extension === 'wma'">
      <embed src="{{item.path_info.url}}" width="320" height="240" />
    </object>
  </audio>
</div>