<div class="audio-edit-wrap">
  <div class="source-tab-wrap">
    <span class="source-tab" ng-click="vm.changeTab('personal')" ng-class="{'is-selected': vm.currentTabName == 'personal'}">
      <span class="tab-title personal-icon tab-icon">个人资源库</span>
    </span>
    <span class="source-tab" ng-click="vm.changeTab('public')" ng-class="{'is-selected': vm.currentTabName == 'public'}">
      <span class="tab-title public-icon tab-icon">公共资源库</span>
    </span>
    <!-- <div class="hoge-input-search my-search-wrap" ng-class="{'is-focus': vm.isFocus}">
      <input type="text" class="my-search-input" placeholder="搜索" ng-keypress="vm.keyPress($event)" ng-model="vm.keyword"
      ng-focus="vm.isFocus = true" ng-blur="vm.isFocus = false">
      <i class="fa typeface-searchbar_sousuo" ng-click="vm.search()"></i>
    </div> -->
    <search-Box key-Word="vm.keyword"
                search-Key="vm.search(Item)"
                key-Press="vm.keyPress(Event)"
                hide-Kind="vm.hideAccessKind"
                is-Focus="vm.isFocus"
                place-Holder="vm.placeHolder"
    >         
    </search-Box>
    <span class="tab-line" ng-style="{ left: vm.leftLength + 'px'}"></span>
  </div>
  <div class="source-content" ng-class="{'retract-source': !vm.showSource}" my-loading="vm.loadingList">
    <!-- 面包屑 -->
    <div class="bread-crumb">
      <span ng-repeat="(key, item) in vm.sideBarList" ng-click="vm.backBread(item, key)" ng-if="vm.sideBarList.length !== 1"
      ng-class="{'is-last': key == (vm.sideBarList.length - 1)}">
        <span class="bread-crumb-title">{{item.name}}</span>
        <span ng-if="key !== (vm.sideBarList.length - 1)">&nbsp;/&nbsp;</span>
      </span>
    </div>
    <!-- 列表 -->
    <div class="content">
      <ul class="source-list-wrap">
        <li class="source-list-item" ng-repeat="(k, item) in vm.sourceList track by $index" 
        ng-mouseenter="vm.showOperate($event, item)" 
        ng-mousedown="vm.mousedown($event, item)"
        ng-mouseup="vm.mouseup($event, item)"
        ng-click="vm.openDirectory(item)"
        ng-class="{'is-rename': vm.renameItem.id === item.id, 'drag-item': item.file_type !== 'directory' }">
          <div class="source-logo">
            <i class="source-logo-img" ng-class="{
              'is-audio': item.file_type === 'audio', 
              'is-audio-mp3': item.file_type === 'audio' && item.extension === 'mp3', 
              'is-audio-wav': item.file_type === 'audio' && item.extension === 'wav', 
              'is-audio-wma': item.file_type === 'audio' && item.extension === 'wma', 
              'is-video': item.file_type === 'video', 
              'is-directory': item.file_type === 'directory'}">
            </i>
          </div>
          <div class="source-title-wrap">
            <i class="is-new-file" ng-if="vm.composeAudioKey === item.key && vm.renameItem.id !== item.id && item.file_type !== 'directory'"></i>
            <div class="source-title" ng-hide="vm.renameItem.id === item.id" ng-class="{ellipsis: vm.isEllipsis(item.name)}">{{item.name}}</div>
            <input class="source-title" type="text" ng-if="vm.renameItem.id === item.id" ng-model="item.name" 
              autofocus="autofocus" 
              onfocus="this.select()"
              ng-class="{'is-rename-title': vm.renameItem.id === item.id}">
          </div>
          <div class="btn-wrap" ng-if="vm.renameItem.id === item.id">
            <i class="btn-confirm" ng-click="vm.rename($event, 'save')"></i>
            <i class="btn-cancel" ng-click="vm.rename($event, 'cancel')"></i>
          </div>
          <div class="progress-wrap" ng-if="item.progress !== 100 && vm.renameItem.id === item.id">正在转码</div>
        </li>
        <li ng-if="vm.sourceList.length == 0 && !vm.loadingList" class="no-data">暂无数据</li>
      </ul>
    </div>
    <!-- 操作列表 -->
    <ul class="operate-list-wrap hide">
      <li class="operate-item" ng-if="vm.hoverList.file_type === 'directory'" ng-click="vm.chooseOperate($event, 'open', vm.hoverList)">打开</li>
      <li class="operate-item"
        ng-repeat="val in vm.operateList"
        ng-hide="(val.type === 'public-download' && item.file_type === 'directory') || (val.type === 'public-preview' && vm.hoverList.file_type === 'directory')" 
        ng-click="vm.chooseOperate($event, val.type)">
        {{val.name}}
      </li>
    </ul>
    <!-- 音频预览 -->
    <div class="preview-audio slider-box" ng-if="vm.previewAudioItem.isShow" ng-style="{top: vm.previewAudioItem.y +'px', left:vm.previewAudioItem.x +'px'  }">
      <div class="header-wrap">
        <span class="audio-title">{{vm.previewAudioItem.name}}</span>
        <i class="close-icon" ng-click="vm.previewAudioItem.isShow = !vm.previewAudioItem.isShow"></i>
      </div>
      <div class="footer-wrap">
        <i class="pause-icon" ng-class="{'is-play': vm.previewAudioItem.isPlaying}" ng-click="vm.playPreviewAudio()"></i>
        <input type="range" ng-model="vm.previewAudioItem.progress" id="sliderInput" class="slider-input" ng-change="vm.changeCurrentTime()">
        <span class="time-wrap">
          <span class="current-time">{{vm.formateTime(vm.previewAudioItem.current)}}</span>
          <span>/</span>
          <span>{{vm.previewAudioItem.format_duration}}</span>
        </span>
        <audio src="{{vm.previewAudioItem.path_info.url}}" id="previewAudio"></audio>
      </div>
    </div>
    <!-- 分页 -->
    <div class="page-wrap flex-v-center" ng-if="vm.totalPage > 1">
      <i class="page-btn page-left-btn" ng-class="{ 'is-disabled': vm.params.page === 1 }" ng-click="vm.changePage('pre')"></i>
      <input type="text" class="page-input" ng-model="vm.params.page" ng-keypress="vm.goPage($event)">
      <span class="split-line">/</span>
      <span class="total-num">{{vm.totalPage}}</span>
      <i class="page-btn page-right-btn" ng-class="{ 'is-disabled': vm.params.page === vm.totalPage }" ng-click="vm.changePage('next')"></i>
    </div>
    <div class="source-btn">
      <span ng-click="vm.changeStatus()" ng-class="{'is-retract': vm.showSource, 'is-open': !vm.showSource}">{{vm.showSource ? '收起资源库' : '展开资源库'}}</span>
    </div>
  </div>
  <div class="edit-content" ng-class="{'hide-source-list': !vm.showSource}">
    <!-- 撤销，播放，保存，打点，裁剪，删除操作 -->
    <div class="audio-operate-wrap flex-v-center">
      <div class="operate-item" ng-click="vm.revokeOperation()"
      ng-class="{'is-disabled': vm.revokeList.length === 0 }">
        <i class="revoke-icon"></i>
        <span class="operate-title">撤销</span>
      </div>
      <div class="operate-item" ng-click="vm.playAudio()" 
        ng-class="{'is-disabled': vm.trackList.first.length === 0 && vm.trackList.second.length === 0, 'is-play': vm.isPlay }">
        <i class="play-icon"></i>
        <span class="operate-title">{{!vm.isPlay ? '播放' : '暂停'}}</span>
      </div>
      <div class="operate-item" ng-click="vm.saveAudio()" 
        ng-class="{'is-disabled': vm.trackList.first.length === 0 && vm.trackList.second.length === 0 }">
        <i class="save-icon"></i>
        <span class="operate-title">保存</span>
      </div>
      <div class="operate-item" ng-click="vm.dotAudio()" 
        ng-class="{'is-disabled': vm.selectAudio.trackType !== 'first' && vm.selectAudio.trackType !== 'second'}">
        <i class="dot-icon"></i>
        <span class="operate-title">打点</span>
      </div>
      <div class="operate-item" ng-click="vm.cutAudio()" 
        ng-class="{'is-disabled': vm.selectAudio.trackType !== 'first' && vm.selectAudio.trackType !== 'second'}">
        <i class="cut-icon"></i>
        <span class="operate-title">剪切</span>
      </div>
      <div class="operate-item" ng-click="vm.deleteAudio()" 
        ng-class="{'is-disabled': vm.selectAudio.trackType !== 'first' && vm.selectAudio.trackType !== 'second'}">
        <i class="delete-icon"></i>
        <span class="operate-title">删除</span>
      </div>
    </div>
    <div class="content edit-scroll">
      <div ng-style="{width: vm.showWidth +'px', paddingLeft: vm.padLeft * vm.accuracy + 'px'}" ng-click="vm.changeTime($event)">
        <canvas width="1900" height="24" id="diving-scale"></canvas>
      </div>
      <div class="time-pointer" ng-show="vm.trackList.first.length !== 0 || vm.trackList.second.length !== 0">
        <i class="time-pointer-header"></i>
        <span class="time-pointer-line"></span>
      </div>
      <!-- 轨道一 -->
      <div class="audio-first audio-content" id="target1" ng-class="{'is-sel': vm.selectTrack === 'first'}" ng-style="{width: vm.showWidth +'px'}">
        <div class="audio-item" 
          ng-class="{'is-sel': vm.selectAudio.uuid === item.uuid}"
          ng-repeat="(key, item) in vm.trackList.first track by $index" 
          ng-click="vm.checkAudio($event, key, item, 'first')"
          ng-style="{width: item.duration * vm.accuracy + 'px', left: item.leftTime * vm.accuracy + 'px'}">
          <div class="drag-audio-content" ng-class="{'is-sel-drag': vm.selectAudio.uuid === item.uuid}">
            <span class="audio-title drag-audio-title" ng-class="{'is-sel-drag': vm.selectAudio.uuid === item.uuid}">{{item.name}}</span>
            <i class="volume-icon" ng-click="vm.changeVolumeStatus($event)"></i>
          </div>
          <i id="dragLeft" class="drag-left" ng-if="vm.selectAudio.uuid === item.uuid"></i>
          <i id="dragRight" class="drag-right" ng-if="vm.selectAudio.uuid === item.uuid"></i>
          <div class="slider-box" ng-if="vm.selectAudio.uuid === item.uuid && vm.showVolume" ng-style="{
            left: vm.computedLeft(key, 'first') + 'px'
          }">
            <div>音量：</div>
            <input type="range" ng-model="vm.volumePercent" ng-change="vm.handleSliderChange()" class="slider-input">
            <span class="volume-num">{{vm.volumePercent}}</span>
          </div>
          <!-- 图标宽度为5 -->
          <i class="dot-position" ng-repeat="(k, val) in item.dot track by $index" ng-style="{left: ((val - item.start_time) * vm.accuracy - 5) + 'px'}"
            ng-mousedown="vm.dotDeleteStart($event, item, val, k, key, 'first')"></i>
        </div>
        <div class="dot-delete-box" id="dot-delete-first" ng-show="vm.canDelete && vm.selDot.trackType === 'first'" ng-style="{left: (vm.selDot.leftTime + vm.selDot.currentDot)*vm.accuracy + 'px'}">拖动至此处删除</div>
      </div>
      <!-- 轨道二 -->
      <div class="audio-second audio-content" id="target2" ng-class="{'is-sel': vm.selectTrack === 'second'}" ng-style="{width: vm.showWidth +'px'}">
        <div class="audio-item" 
          ng-class="{'is-sel': vm.selectAudio.uuid === item.uuid}"
          ng-repeat="(key, item) in vm.trackList.second track by $index" 
          ng-click="vm.checkAudio($event, key, item, 'second')"
          ng-style="{width: (item.duration) * vm.accuracy + 'px', left: item.leftTime * vm.accuracy + 'px'}">
          <div class="drag-audio-content" ng-class="{'is-sel-drag': vm.selectAudio.uuid === item.uuid}">
            <span class="audio-title drag-audio-title" ng-class="{'is-sel-drag': vm.selectAudio.uuid === item.uuid}">{{item.name}}</span>
            <i class="volume-icon" ng-click="vm.changeVolumeStatus($event)"></i>
          </div>
          <i id="dragLeft" class="drag-left" ng-if="vm.selectAudio.uuid === item.uuid"></i>
          <i id="dragRight" class="drag-right" ng-if="vm.selectAudio.uuid === item.uuid"></i>
          <div class="slider-box" ng-if="vm.selectAudio.uuid === item.uuid && vm.showVolume" ng-style="{
            left: vm.computedLeft(key, 'second') + 'px'
          }">
            <div>音量：</div>
            <input type="range" ng-model="vm.volumePercent" ng-change="vm.handleSliderChange()" class="slider-input">
            <span class="volume-num">{{vm.volumePercent}}</span>
          </div>
          <!-- 图标宽度为5 -->
          <i class="dot-position" ng-repeat="(k, val) in item.dot track by $index" ng-style="{left: ((val - item.start_time) * vm.accuracy - 5) + 'px'}"
            ng-mousedown="vm.dotDeleteStart($event, item, val, k, key, 'second')"></i>
        </div>
        <div class="dot-delete-box" id="dot-delete-second" ng-show="vm.canDelete && vm.selDot.trackType === 'second'" ng-style="{left: (vm.selDot.leftTime + vm.selDot.currentDot)*vm.accuracy + 'px'}">拖动至此处删除</div>
      </div>
    </div>
    <div class="upload-wrap">
      <div class="first-upload">
        <div class="upload-content" ng-click="vm.checkTrack('first')">
          <i class="add-icon"></i>
          <span class="add-title">本地音频</span>
          <input  class="input-upload" type="file" nv-file-select  uploader="vm.localUploader" accept=".m4a,.mp3,.wma,.wav,.acc,.ogg,.m4r">
          <div class="progress-bar" ng-if="vm.clickUpload ==='first' && vm.uploadProgress !== 0">
            <div class="seek-bar" ng-style="{width: vm.uploadProgress + '%'}"></div>
          </div>
        </div>
      </div>
      <div class="second-upload">
        <div class="upload-content" ng-click="vm.checkTrack('second')">
          <i class="add-icon"></i>
          <span class="add-title">本地音频</span>
          <input  class="input-upload" type="file" nv-file-select  uploader="vm.localUploader" accept=".m4a,.mp3,.wma,.wav,.acc,.ogg,.m4r">
          <div class="progress-bar" ng-if="vm.clickUpload ==='second' && vm.uploadProgress !== 0">
            <div class="seek-bar" ng-style="{width: vm.uploadProgress + '%'}"></div>
          </div>
        </div>
      </div>
      <div class="upload-mask" ng-if="vm.disabledUpload"></div>
    </div>
    <!-- 播放器 -->
    <div ng-show="false">
      <div ui-include="'../views/mxu/audioEdit/audioPlay.html'"></div>
    </div>
  </div>
</div>