<div class="single-wrapper wrapper">
    <div class="p-20">
        <div class="row">
            <div class="col-sm-6">
                <div class="list_contain">
                    <div class="list_header">
                        <div class="singleTitle" translate="single.liveChannel"></div>
                        <div class="singledes" translate="single.editSingle"></div>
                    </div>
                    <div class="ErrorTip" ng-show="!vm.list_loading && vm.channelList.length<1">{{vm.errorMessage}}</div>
                    <div class="list white" ng-repeat="item in vm.channelList">
                        <div class="">
                            <div class="info-box">
                                <div class="list_img"  style="background:url({{item.img_pic}}) center center no-repeat">
                                    <div ng-show="!item.img_pic" class="img-single"></div>
                                </div>
                                <div class="program-info ">
                                    <div class="program-title ng-binding">
                                        <span>{{item.name}}</span>
                                        <span class="label primary m-l-sm light-green-200" ng-if="item.running_status=='1'" translate="single.underflow"></span>
                                        <span class="label primary m-l-sm red-200" ng-if="item.running_status=='2'" translate="single.seriesSingle"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" list-icon">
                            <a ng-click="vm.showVideo(item)" title="{{vm.DOC.preview}}"><i class="icon-yulan"></i> </a>
                            <a ng-click="vm.goPlanned(item)" ng-if="item.running_status!=='3'" title="{{vm.DOC.singleSeries}}"><i class="fa icon-new-chuanlian"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="list_contain">
                    <div class="list_header">
                        <div class="singleTitle" translate="single.broadcastChannel"></div>
                        <div class="singledes" translate="single.editSingle"></div>
                    </div>
                    <div class="ErrorTip" ng-show="!vm.list_loading &&  vm.broadcast.length<1">{{vm.errorMessage}}</div>
                    <div class="list white" ng-repeat="item in vm.broadcast" >
                        <div class="">
                            <div class="info-box">
                                <div class="list_img"  style="background:url({{item.img_pic}}) center center no-repeat">
                                    <div ng-show="!item.img_pic" class="img-single"></div>
                                </div>
                                <div class="program-info ">
                                    <div class="program-title ng-binding">
                                        <span>{{item.name}}</span>
                                        <span class="label primary m-l-sm light-green-200" ng-if="item.running_status=='1'" translate="single.underflow"></span>
                                        <span class="label primary m-l-sm red-200" ng-if="item.running_status=='2'" translate="single.seriesSingle"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" list-icon">
                            <a ng-click="vm.showVideo(item)" title="{{vm.DOC.preview}}"><i class="icon-yulan"></i> </a>
                            <a ng-click="vm.goPlanned(item)"  ng-if="item.running_status!=='3'" title="{{vm.DOC.single}}"><i class="fa icon-new-chuanlian"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<m2o-footer ></m2o-footer>
