<div class="accountSet-wrap">
    <header class="hoge-table-add">
        <div class="hoge-table-title">
            账号设置
        </div>
    </header>
    <div class="edit-form">
        <div class="form-card">
            <div class="content" my-loading="vm.loading">
                <form name="form" ng-show="!vm.loading" autocomplete="off">
                    <div class="form-group pos-rel">
                        <label class="label-name">姓名:</label>
                        <span ng-if="!vm.nameModification" class="default-style">{{vm.userInfo.name}}</span>
                        <input type="text" ng-if="vm.nameModification" ng-model="vm.userInfo.name" ng-focus="vm.nameFocus = true"
                               ng-class="{'focus-color':vm.nameFocus}" ng-blur="vm.nameFocus = false" maxlength="6">
                        <div class="count-name" ng-if="vm.nameModification">
                            <div num-count="vm.userInfo.name" count-left="50" count-max="6" count-position="left"></div>
                        </div>
                        <span class="modification" ng-if="!vm.nameModification" ng-click="vm.changeName()"><i class="fa typeface-form_edit"></i></span>
                        <div class="btn-group name-btn" ng-if="vm.nameModification">
                            <button class="btn primary-btn m-r-1" ng-click="vm.saveName()">保存</button>
                            <button class="btn hoge-common-btn" ng-click="vm.cancelName()">取消</button>
                        </div>
                    </div>
                    <input type="file" id="avatarFile" nv-file-select  class="avatarFile"
                           uploader="vm.uploader" accept="image/gif,image/jpeg,image/png,image/bmp" style="cursor: pointer;" multiple>


                    <div class="form-group">
                        <label class="label-name">头像:</label>
                        <div class="avatar-content" ng-click="vm.changeAvater()" my-loading="vm.upload_loading">
                            <img ng-if="vm.userInfo.avatar" class="image" ng-src="{{vm.avatarImg}}" alt="">
                            <img src="/assets/images/mxu/avatar-32.jpg" class="image" ng-if="!vm.userInfo.avatar">
                            <div class="upload-avatar">点击更换</div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="label-name height-22">手机号:</label>
                        <div class="mobile-msg default-style">{{vm.userInfo.phone ? vm.userInfo.phone.substr(0, 3) + '****' + vm.userInfo.phone.substr(7):'' }}
                            <i class="fa typeface-form_tishi">
                                <div class="box-color text-color pos-rlt">
                                    <span class="arrow bottom pull-left b-white"></span>
                                    <div class="box-body">
                                        如果这不是本人手机号，请联系管理员更改。
                                    </div>
                                </div>
                            </i>
                        </div>
                    </div>


                    <div class="form-group password-height">
                        <label class="label-name">登录密码:</label>
                        <span ng-if="!vm.passwordModification" class="default-style">******</span>
                        <span class="modification" ng-click="vm.cancelPassword()" ng-if="!vm.passwordModification"><i class="fa typeface-form_edit"></i></span>
                        <div class=" m-b-1 password-form" ng-if="vm.passwordModification">
                            <div class="form-group password-height  password-input">
                                <div class="form-group">
                                    <input type="password" ng-model="vm.oldPassword" ng-focus="vm.oldFocus = true"
                                           placeholder="请输入旧密码"
                                           ng-class="{'focus-color':vm.oldFocus}" ng-blur="vm.oldFocus = false" >
                                </div>
                                <div class="form-group  password-input">
                                    <input type="password" ng-model="vm.newPassword" ng-focus="vm.newFocus = true"
                                           ng-class="{'focus-color':vm.newFocus}"
                                           ng-blur="vm.newFocus = false" ng-pattern="/^(?! +$).+/"
                                           name="password"
                                           placeholder="请输入新密码"
                                    >
                                </div>
                                <div class="form-group confirm-pass  password-input">
                                    <input type="password" ng-model="vm.repeatPassword" ng-focus="vm.repeatFocus = true"
                                           ng-class="{'focus-color':vm.repeatFocus}" ng-blur="vm.repeatFocus = false"
                                           ui-validate=" '$value==vm.newPassword' "
                                           name="repeatPassword"
                                           placeholder="请再次输入新密码"
                                           ui-validate-watch=" 'password' " required=""

                                    >
                                    <span ng-show="form.repeatPassword.$error.validator && !form.password.$error.validator && !(vm.newPassword.length > 16 || vm.newPassword.length < 6)" class="error-tip">{{ 'layout.errNotSame'| translate}}</span>
                                    <span ng-show="vm.newPassword.length > 16 || vm.newPassword.length < 6" class="error-tip">密码长度6-16位，支持数字、字母、字符</span>
                                    <div class="btn-group name-btn m-l-0 m-r-2-rem" ng-if="vm.passwordModification">
                                        <button class="btn primary-btn m-r-1"
                                                ng-disabled="form.$invalid || (vm.newPassword.length > 16 || vm.newPassword.length < 6)"
                                                ng-click="vm.changePassword()">保存</button>
                                        <button class="btn hoge-common-btn" ng-click="vm.cancelPassword()">取消</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>



                    <div class="form-group form-height">
                        <label class="label-name ver-bottom">工作台默认展示:</label>
                        <div class="btn-group dropdown select-drop hoge-dropdown">
                            <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                                <span class="dropdown-label">{{vm.workName}}</span>
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu text-left text-sm">
                                <a class="dropdown-item" ng-repeat="item in vm.work" ng-click="vm.workSelect(item)">{{item.name}}</a>
                            </div>
                        </div>
                    </div>



                </form>

            </div>
        </div>
    </div>
</div>
<m2o-footer></m2o-footer>