<div class="dynamic-warpper">
    <header class="hoge-table-add">
        <div class="hoge-table-title">
            消息中心
        </div>
        <div class="set-btn pull-right" ng-click="vm.goSet()">
            <i class="fa typeface-dongtai_xitongyingyong"></i>
            <span>消息设置</span>
        </div>
    </header>
    <div class="border-contian">
        <nav class="filter-contain">
            <div class="daterange">
                <input date-range-picker options="vm.dateOptions" ng-model="vm.rangeDate" class="date-picker" type="text" />
                <i class="glyphicon glyphicon-calendar fa typeface-TimePicker_shijian"></i>&nbsp;
            </div>
        </nav>
        <section class="main-contian">
            <div class="white nodata-contain" ng-if="vm.dynamicList.length == 0">
                <hoge-error  arr-length="vm.dynamicList.length" load="vm.dynamicLoading"></hoge-error>
            </div>
            <div class="date-list" ng-repeat="dateItem in vm.dynamicList">
                <div class="time-bar">
                    <p class="time-line">{{dateItem.dateName}}</p>
                </div>
                <div class="dynamic-slip" ng-repeat="list in dateItem.list track by $index">
                    <div class="dynamic-body">
                        <span class="dynamic-img"
                              ng-class="{'content-img':list.type == 'content',
                                          'system-img':  list.type == 'system',
                                          'account-img':  list.type == 'auth',
                              }">
                        </span>
                        <div class="dynamic-content">
                            <span class="slip-time">{{list.list_time_line}}</span>
                            <!--图文应用-->
                            <div>
                                <span>{{list.message}}</span>
                                <span class="slip-link" ng-click="vm.toJump(list)" ng-if="list.redirect">
                                    <a href="">
                                        {{list.title}}
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="add-list" ng-if="vm.addShow">
                <img src="../../../assets/images/mxu/home/new/icon_loading_2x.png" alt="" ng-if="vm.loadMsg=='正在加载'">
                <span ng-click="vm.loadMore()">{{vm.loadMsg}}</span>
            </div>

        </section>
    </div>
</div>
<m2o-footer></m2o-footer>