
<!--<div class="p-a text-xs ng-scope second-footer footer">-->
    <!--<ul class="footer-ul">-->
      <!--<li translate="common.updateLog"></li>-->
      <!--<li translate="common.helpFile"></li>-->
      <!--<li translate="common.aboutUs"></li>-->
    <!--</ul>-->
    <!--<div class="second-line">-->
      <!--<a class="">M2O alpha1.0</a>-->
      <!--&lt;!&ndash;<span class="">{{release.version}}</span>&ndash;&gt;-->
      <!--<span class="m-l-xs">-->
         <!--© Copyright <i class="icon-hoge"></i>-->
      <!--<a ui-scroll-to="content"></a>-->
      <!--</span>-->


    <!--</div>-->
<!--</div>-->