<div class="footer_form">
    <div class="row">
        <div class="col-md-6">
            <classify-preview classify-data="vm.radioList"
                              classify-name="'分类'" box-name="'选取分类'"
                              classify-check="vm.mainColumn" radio-style="'all'"
                              classify-type="'radio'" classify-next="vm.nextColumn(Id,Level+1,Type)"
                              classify-focus="false"
                              box-status="false"
            ></classify-preview>
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="md-form-group float-label">
                <input type="text" class="md-input" ng-class="{'ng-dirty': vm.source }" ng-model="vm.source" name="source">
                <label>{{ 'common.source'| translate}}</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="md-form-group float-label">
                <input type="text" class="md-input" ng-class="{'ng-dirty': vm.source_link }" ng-model="vm.source_link" name="ori">
                <label>{{ 'common.originalLink'| translate}}</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 p-t-sm p-b-sm">
            <button class="btn primary-btn m-r " my-loading="vm.save_loading" ng-click="vm.save()">{{ 'common.save'| translate}}</button>
            <!--<button class="btn primary-btn m-r " my-loading="vm.publish_loading" ng-click="vm.save('publish')"-->
                    <!--ng-if="vm.publish">{{ 'common.savePublish'| translate}}</button>-->
            <!-- <button class="btn btn-sm white">预览</button> -->
        </div>
    </div>
</div>
