
<div class="demolition-wrapper">
    <div class="hoge-table-add">
      <div class="hoge-table-title">串联单</div>
    </div>
    <div class="fast-editing-content border-top-radius hoge-flex">
        <!-- 左侧 -->
        <!-- <video-lists style="width: 292px;"></video-lists> -->
        <div class="video-list-body">
            <div class="toggle-channel">
                <span ng-class="{'actived': vm.currentIdx == 1}" ng-click="vm.toggleChannel('1')">点播文件</span>
                <span ng-class="{'actived': vm.currentIdx == 2}" ng-click="vm.toggleChannel('2')">频道</span>
            </div>
            <div class="video-search-body clearfix">
                <!-- 分类下拉 -->
                <div class="list-role-user-drop list-role-drop" ng-click="vm.showColumn()">
                    <button class="btn white btn-sm dropdown-toggle black-dropdown" data-toggle="dropdown" ng-class="{'stateBox':vm.stateBox}">
                        <span class="dropdown-label" ng-if="vm.category.name">{{vm.category.name}}</span>
                        <span class="dropdown-label" ng-if="!vm.category.name">全部分类</span>
                        <span class="caret dropdown-label"></span>
                    </button>
                    <div class="column-top-box" ng-if="vm.categoryShow">
                        <classify-preview classify-data="vm.radioList" classify-name="''" box-name="'选择部门'" classify-check="vm.category" radio-style="'all'"
                            classify-type="'radio'" classify-next="vm.nextColumn(Id,Level+1,Type)" classify-focus="false" box-status="true" show-class="vm.stateBox = $event"
                            show-chose-all="true" all-name="'全部分类'" choose-function="vm.chooseColumns(Item)"></classify-preview>
                    </div>
                </div>
                <!--时间下拉-->
                <div class="btn-group dropdown hoge-dropdown">
                    <button class="btn btn-sm dropdown-toggle black-dropdown" style="padding-right: 24px !important;" data-toggle="dropdown">
                        <span class="dropdown-label">{{vm.time}}</span>
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu text-left text-sm" ng-class="{'disOpen':vm.open}">
                        <a class="dropdown-item" ng-repeat="time in vm.timeArr track by $index" ng-click="vm.chooseTime(time)" ng-class="{out: vm.timeArr.length - 1 === $index}">
                            {{time.name}}
                            <input id="datepicker" ng-if="vm.timeArr.length - 1 === $index" date-range-picker ng-model="vm.rangeDate" class="date-picker opacity-0"
                                type="text" options="vm.options" />
                        </a>
                    </div>
                </div>
                <!--搜索-->
                <div class="form-group hoge-input-search pull-right black-input-search" ng-class="{'black-search-focus':vm.blackSearch}">
                    <input type="text" placeholder="{{'content.search' | translate }}" ng-keypress="vm.keyPress($event)" ng-model="vm.titles" ng-focus="vm.blackSearch=true" ng-blur="vm.blackSearch=false">
                    <i class="fa typeface-searchbar_sousuo" ng-click="vm.search()"></i>
                </div>
            </div>
            <div class="video-list" id="cascade-list" my-loading="vm.videoLoading">
                <div class="video-list-item" ng-if="vm.videoList.length" ng-repeat="item in vm.videoList" ng-click="vm.handlerAdd(item)">
                    <div class="video-item-img">
                            <!-- ng-show="item.split_count > 0" -->
                        <img ng-src="{{item.index_pic}}" alt="" ng-if="item.index_pic">
                        <img ng-if="!item.index_pic" src="/assets/images/mxu/img_cover.png" alt="">
                        <!-- <img ng-if="item.type=='audio'&&!item.index_pic" src="/assets/images/mxu/video/voice@2x.png" alt=""> -->
                        <span class="show-time">{{item.duration_format}}</span>
                    </div>
                    <div class="show-title">
                        <span class="title-name" ng-if="vm.currentIdx == '1'">{{item.title}}</span>
                        <span class="title-name" ng-if="vm.currentIdx == '2'">{{item.name}}</span>
                    </div>
                </div>
                <div class="no-video-list" ng-if="!vm.videoList.length&&!vm.videoLoading">
                    <span>暂无数据</span>
                </div>
            </div>
        </div>
        <!-- 中间 -->
        <div class="middle-main">
            <div class="video-top">
                <div class="left">
                    <span class="left-text">{{vm.currentChannelName}}</span>
                    <span class="right-text">{{vm.currentYMDW}}</span>
                </div>
                <div class="right">
                    <button class="btn shuffling" ng-class="{ 'more-button-hover': vm.moreManage }" ng-click="vm.moreContent()">{{vm.playMode}}
                        <span class="caret"></span>
                        <div class="shuffling-content" ng-show="vm.moreManage">
                            <div class="item config" ng-click="vm.changeMode('xubo')">续播</div>
                            <!-- <div class="item del" ng-click="vm.changeMode('lunbo')">轮播</div> -->
                        </div>
                    </button>
                    <button class="btn clear-btn" ng-click="vm.clearProgram()" ng-disabled="!vm.programList.length && vm.isAfterToday">清空</button>
                </div>
            </div>
            <div class="video-content" my-loading="vm.detailLoading">
                <div class="title">
                    <div class="start-time">开始时间</div>
                    <div class="end-time">结束时间</div>
                    <div class="program">安排节目</div>
                    <div class="duration">时长</div>
                </div>
                <div class="body-con" id="program-list">
                    <div class="body">
                        <div class="no-video-data" ng-show="!vm.programList.length && !vm.yesterProList.length && !vm.hasPlayList.length && !vm.detailLoading">
                            <img class="image" src="/assets/images/mxu/cascade/img_kongzhuangtai@2x.png" alt="">
                            <span class="text">从左侧点击文件</span>
                        </div>
                        <div class="item-con" ng-if="vm.yesterProList.length">
                            <div class="item">
                                <div class="start-time">
                                    <span>{{vm.yesterProList[0].startTime}}({{vm.yesterProList[0].time}})</span>
                                </div>
                                <div class="end-time">
                                    <span>{{vm.yesterProList[0].endTime}}</span>
                                </div>
                                <div class="program">{{vm.yesterProList[0].title}}</div>
                                <div class="duration">
                                    {{vm.yesterProList[0].duration_format}}
                                </div>
                                <i class="typeface-form_tishi" ng-mouseenter="vm.tipShiXiaoShow()" ng-mouseleave="vm.tipShiXiaoHide()"></i>
                                <!-- <div class="tip-shixiao" ng-show="vm.isShiXiaoShow">
                                    <div class="text">当天存在历史日期的跨天节目，会影响串联单的最早可编辑时间。可前往该节目所在日进行修改。</div>
                                </div> -->
                            </div>
                            <div class="over-day">
                                <span>跨</span><span>天</span>
                            </div>
                        </div>
                        <div class="item-con" ng-if="vm.hasPlayList.length">
                            <div class="item" style="color: rgba(255, 255, 255, 0.4)" ng-repeat="v in vm.hasPlayList track by $index">
                                <div class="start-time">
                                    <span>{{v.startTime}}</span>
                                </div>
                                <div class="end-time">
                                    <span ng-if="!v.isFailure && !v.isOverDay">{{v.endTime}}</span>
                                    <span ng-if="v.isFailure || v.isOverDay">{{v.isOverDay ? '次日' : null}}{{v.end_time}}</span>
                                </div>
                                <div class="program">{{v.title}}</div>
                                <div class="duration">
                                    {{v.duration_format}}
                                </div>
                            </div>
                        </div>
                        <div class="item-con" ng-show="vm.programList.length" ng-drop="true" ng-drop-success="vm.success($index, $data)" ng-repeat="item in vm.programList track by $index">
                            <div class="failure-tip" ng-if="item.isFailure && !vm.programList[$index - 1].isFailure">
                                <span class="text">以下是失效节目</span>
                                <i class="typeface-form_tishi tip" ng-mouseenter="vm.tipShow()" ng-mouseleave="vm.tipHide()"></i>
                                <div class="tip-con" ng-show="vm.isTipShow">
                                    <div class="text">失效节目原因：</div>
                                    <div class="text">由于时间变动，该节目的播放时间在今日24:00:00之后，建议调整播出时间在今日24小时之内或前往次日进行编辑。</div>
                                </div>
                            </div>
                            <div class="item" ng-style="{'color': item.isFailure?'rgba(255,255,255,0.4)':undefined}" ng-drag="true" ng-drag-data="item">
                                <div class="start-time" ng-mouseenter="vm.editEnter(item, 'editStart')" ng-mouseleave="vm.editLeave(item, 'editStart')">
                                    <span ng-if="!item.isFailure">{{item.startTime}}</span>
                                    <span ng-if="item.isFailure">{{item.start_time}}</span>
                                    <i class="typeface-form_edit edit-icon" ng-if="item.editStart && !item.isFailure" ng-click="vm.showStart(item, $index)"></i>
                                </div>
                                <div class="end-time" ng-mouseenter="vm.editEnter(item, 'editEnd')" ng-mouseleave="vm.editLeave(item, 'editEnd')">
                                    <span ng-if="!item.isFailure && !item.isOverDay">{{item.endTime}}</span>
                                    <span ng-if="item.isFailure || item.isOverDay">{{item.isOverDay ? '次日' : null}}{{item.end_time}}</span>
                                    <i class="typeface-form_edit edit-icon" ng-if="item.editEnd && !item.isFailure" ng-click="vm.showEnd(item, $index)"></i>
                                </div>
                                <div class="program">{{item.title}}</div>
                                <div class="duration" ng-mouseenter="vm.editEnter(item, 'editDuration')" ng-mouseleave="vm.editLeave(item, 'editDuration')">
                                    {{item.duration_format}}
                                    <i class="typeface-form_edit edit-icon" ng-if="item.editDuration && !item.isFailure" ng-click="vm.showDuration(item, $index)"></i>
                                </div>
                                <i class="typeface-form_shanchu delete-icon" ng-click="vm.deleteItem($index)"></i>
                            </div>
                            <div class="over-day" ng-if="item.isOverDay">
                                <span>跨</span><span>天</span>
                            </div>
                            <div class="manage-border" ng-if="item.isShowStart">
                                <edit-time old-time="item.startTime" is-show="item.isShowStart" time-name='"startTime"'></edit-time>
                            </div>
                            <div class="end-manage-border" ng-if="item.isShowEnd">
                                <edit-time old-time="item.endTime" is-show="item.isShowEnd" time-name='"endTime"'></edit-time>
                            </div>
                            <div class="dura-manage-border" ng-if="item.isShowDuration">
                                <edit-time old-time="item.duration_format" is-show="item.isShowDuration" time-name='"duration_format"' show-cascade-rule="true"></edit-time>
                            </div>
                        </div>
                    </div>
                    <div class="tip-shixiao" ng-show="vm.isShiXiaoShow">
                        <div class="text">当天存在历史日期的跨天节目，会影响串联单的最早可编辑时间。可前往该节目所在日进行修改。</div>
                    </div>
                </div>
            </div>
            <div class="manage-bottom">
                    <button type="button" class="btn primary-btn left-button" ng-click="vm.saveData()" ng-disabled="!vm.isAfterToday" translate="encoding.save"></button>
                    <button type="button" class="btn cancel-btn" ng-click="vm.cancel()" translate="encoding.cancel"></button>
            </div>
        </div>
        <!-- 右侧 -->
        <div class="video-info">
            <!-- <save-content detail-data="vm.detailData" screen-shot-url="vm.imgSrc" screen-shot-key="vm.index_pic" start-time="vm.duration.start_time" end-time="vm.duration.end_time"></save-content> -->
            <div class="toggle-program">
                <span ng-class="{'actived': vm.currentActive == 1}" ng-click="vm.toggleProgram('1')">串联单</span>
                <span ng-class="{'actived': vm.currentActive == 2}" ng-click="vm.toggleProgram('2')">节目单</span>
            </div>
            <div class="time-content-box" ng-show="vm.currentActive == 1">
                <div class="calender-box">
                    <div id="custom-menu" class="newdatepicker-here" data-language='zh'></div>
                </div>
                <div class="copy-box">
                    <div class="source-time">
                        <div class="source-time-label">
                                选择复制来源：
                        </div>
                        <div id="source-cells" class="source-cells">
                            <input type="text" id="source-menu-input" class="source-cell-input" autocomplete="off">
                            <i class="fa typeface-TimePicker_riqi source-i"></i>
                        </div>
                    </div>
                    <div class="paste-time">
                        <div class="source-time-label">
                                选择粘贴日期（已选择{{vm.dateList.length}}天）
                        </div>
                        <div id="source-cells" class="source-cells">
                            <span class="paste-cell-span" ng-style="vm.heightCalc()">
                                <input type="text" id="paste-menu-input" ng-model="vm.dateList" class="newdatepicker-here" autocomplete="off">
                                <i class="fa typeface-TimePicker_riqi paste-i"></i> 
                                <div class="date-list">
                                    <span class="date-list-item" ng-repeat="item in vm.dateList">{{item.substring(8)}}</span>
                                </div>
                            </span>
                        </div>
                        <span class="paste-tip">*仅支持当月节目单复制</span>
                        <button class="btn hoge-btn-blue copy-button" my-loading="vm.copyLoading" ng-click="vm.copyProgramme()" ng-disabled="!vm.sourceTime || !vm.dateList.length">复制串联单</button>
                    </div>
                </div> 
            </div>
            <!-- 节目单 -->
            <div class="time-programe-box" ng-show="vm.currentActive == 2">
                <div class="calender-box">
                    <div id="program-menu" class="newdatepicker-here" data-language='zh'></div>
                </div>
                <div class="copy-box">
                    <button class="btn hoge-btn-blue copy-button" my-loading="vm.copyLoading" ng-click="vm.createProgram()" ng-disabled="!vm.hasMenuArr.length">生成节目单</button>
                </div> 
            </div>
        </div>

    </div>
</div>