<div class="modal-addGift-publish box-shadow-md">
        <div class="modal-header">
            <h5 class="modal-title">提醒<img ng-click="vm.close()" style="float: right;width: 23px;margin-top: 12px"></h5>
        </div>
        <div class="modal-body" my-loading="vm.detailLoading">
            <div class="content" ng-if="vm.repeatList.length">
                <div class="tip">
                    <i class="typeface-form_tishi tip-icon"></i>
                    <span>所选日期中，以下日期存在串联单，是否覆盖？</span>
                </div>
                <div class="date-con">
                    <span class="date" ng-repeat="v in vm.repeatList track by $index">{{v}}</span>
                </div>
            </div>
            <div ng-if="!vm.repeatList.length">确定复制串联单？</div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn primary-btn" ng-click="vm.save()" ng-disabled="vm.saveDisabled">确定</button>
            <button type="button" class="btn cancel-btn" ng-click="vm.close()">取消</button>
        </div>
</div>