<div class="mxu_marketing_wrap new-wrapper">
  <div class="marketing_box">

    <div class="marketing_item">
      <a ui-sref="app.operate.adSystem.advertise">
        <i class="icon-guanggao"></i>
        <div class="sys_info">
          <em translate="operateMarketing.adSystem"></em>
          <span translate="operateMarketing.adIntroduce"></span>
        </div>
      </a>
    </div>
    <!--<div class="marketing_item">-->
      <!--<a ui-sref="app.m2o.lottery">-->
        <!--<i class="icon-choujiang"></i>-->
        <!--<div class="sys_info">-->
          <!--<em translate="operateMarketing.drawModule"></em>-->
          <!--<span translate="operateMarketing.drawIntroduce"></span>-->
        <!--</div>-->
      <!--</a>-->
    <!--</div>-->
    <!--<div class="marketing_item">-->
      <!--<a ui-sref="app.m2o.invite">-->
        <!--<i class="icon-yaoqing"></i>-->
        <!--<div class="sys_info">-->
          <!--<em translate="operateMarketing.register"></em>-->
          <!--<span translate="operateMarketing.registerIntroduce"></span>-->
        <!--</div>-->
      <!--</a>-->
    <!--</div>-->

    <!--<% if (edition === 'ult') { %>-->
    <!--<div class="marketing_item">-->
      <!--<a ui-sref="app.m2o.purchase">-->
        <!--<i class="icon-tuangou"></i>-->
        <!--<div class="sys_info">-->
          <!--<em translate="operateMarketing.bulk"></em>-->
          <!--<span translate="operateMarketing.bulkIntroduce"></span>-->
        <!--</div>-->
      <!--</a>-->
    <!--</div>-->
    <!--<% } %>-->

    <!--<div class="marketing_item">-->
      <!--<a ui-sref="app.operate.point">-->
        <!--<i class="icon-jifenguanli"></i>-->
        <!--<div class="sys_info">-->
          <!--<em translate="operateMarketing.integral"></em>-->
          <!--<span translate="operateMarketing.integralIntroduce"></span>-->
        <!--</div>-->
      <!--</a>-->
    <!--</div>-->

    <!--<% if (edition === 'pro' || edition === 'ult') { %>-->
    <!--<div class="marketing_item">-->
      <!--<a ui-sref="app.m2o.mall">-->
        <!--<i class="icon-jifen"></i>-->
        <!--<div class="sys_info">-->
          <!--<em translate="operateMarketing.mall"></em>-->
          <!--<span translate="operateMarketing.mallIntroduce"></span>-->
        <!--</div>-->
      <!--</a>-->
    <!--</div>-->
    <!--<% } %>-->

    <!--<% if (edition === 'ult') { %>-->
    <!--<div class="marketing_item">-->
      <!--<a ui-sref="app.m2o.payment">-->
        <!--<i class="icon-zhifu"></i>-->
        <!--<div class="sys_info">-->
          <!--<em translate="operateMarketing.payment"></em>-->
          <!--<span translate="operateMarketing.paymentIntroduce"></span>-->
        <!--</div>-->
      <!--</a>-->
    <!--</div>-->
    <!--<% } %>-->
  </div>
</div>