<div class="mxu_tool_wrap new-wrapper">
  <div class="tool_box">

    <!--<% if (edition === 'pro' || edition === 'ult') { %>-->
    <!--<div class="tool_item">-->
      <!--<a ui-sref="app.m2o.graphiclive">-->
        <!--<i class="icon-tuwen"></i>-->
        <!--<div class="sys_info">-->
          <!--<em translate="operateTool.live"></em>-->
          <!--<span translate="operateTool.liveIntroduce"></span>-->
        <!--</div>-->
      <!--</a>-->
    <!--</div>-->
    <!--<% } %>-->
    <div class="tool_item">
      <a ui-sref="app.operate.workload">
        <i class="icon-gongzuoliang"></i>
        <div class="sys_info">
          <em translate="operateTool.workload"></em>
          <span translate="operateTool.workloadIntroduce"></span>
        </div>
      </a>
    </div>

    <!--<% if (edition === 'pro' || edition === 'ult') { %>-->
    <!--<div class="tool_item">-->
      <!--<a ui-sref="app.m2o.broadcast">-->
        <!--<i class="icon-zhibohudong"></i>-->
        <!--<div class="sys_info">-->
          <!--<em translate="operateTool.broadcast"></em>-->
          <!--<span translate="operateTool.broadcastIntroduce"></span>-->
        <!--</div>-->
      <!--</a>-->
    <!--</div>-->
    <!--<div class="tool_item">-->
      <!--<a ui-sref="app.m2o.card">-->
        <!--<i class="icon-kapian"></i>-->
        <!--<div class="sys_info">-->
          <!--<em translate="operateTool.card"></em>-->
          <!--<span translate="operateTool.cardIntroduce"></span>-->
        <!--</div>-->
      <!--</a>-->
    <!--</div>-->
    <!--<% } %>-->

    <div class="tool_item">
      <a ui-sref="app.split.list">
        <i class="fa fa-minus-circle"></i>
        <div class="sys_info">
          <em translate="operateTool.list"></em>
          <span translate="operateTool.listIntroduce"></span>
        </div>
      </a>
    </div>
    <div class="tool_item">
      <a ui-sref="app.operate.editing">
        <i class="icon-cebian-pindao"></i>
        <div class="sys_info">
          <em translate="operateTool.encoding"></em>
          <span translate="operateTool.encodingIntroduce"></span>
        </div>
      </a>
    </div>
  </div>
</div>