<div class="box-shadow-md">
    <div class="modal-header">
        <h5 class="modal-title">添加水印</h5>
        <i class="fa typeface-form_guanbi map-close" ng-click="vm.close()" style="position: absolute;right: 15px;top: 18px;cursor:pointer"></i>
    </div>
    <div class="modal-body">
        <label class="radio-inline m-r">
            <input ng-model="vm.is_used" type="radio" value="0" ng-click="vm.useWater(0)">不使用水印
        </label>
        <label class="radio-inline m-r">
            <input ng-model="vm.is_used" type="radio" value="1" ng-click="vm.useWater(1)">使用水印
        </label>
        <div class="waterList" my-loading="vm.loading">
            <hoge-error  arr-length="vm.waterList.length" load="vm.loading"></hoge-error>
            <div class="list-contain" ng-if="vm.waterList.length>0">
                <div class="water-item" ng-repeat="list in vm.waterList track by $index">
                        <div class="water-srcItems"  ng-click="vm.choseList(list)" ng-class="{'chos-item':list.is_chosed}">
                                <div class="water-imgClass">
                                    <div class="img-onlyimg" ng-if="list.water_type=='1'" ng-click="vm.choseList(list)">
                                            <img ng-src="{{list.water_img}}">
                                        </div>
                                    <div class="img-square" ng-if="list.water_type=='2'" ng-click="vm.choseList(list)">
                                        <span class="water-font">{{list.water_text}}</span>
                                        <!-- {{list.water_text}} -->
                                    </div>
                                    <img class="default" ng-if="list.is_default=='1'" src="/assets/images/mxu/workload/tag_shengao_moren_pre.png">
                                </div>
                                <div class="item-title">
                                    {{list.title}}
                                </div>
                            </div>
                </div>
            </div>
            <div class="hoge-table-bottom" ng-if="vm.waterList.length>0">
                <page-nation  options="vm.pageOptions" turn-page="vm.getWaterList()"></page-nation>
            </div>
        </div>
    </div>
    <div class="modal-footer" my-loading="vm.saveLoading">
        <!-- <input type="checkbox" ng-checked="vm.is_checked" ng-click="vm.toggle(vm.is_checked)"> 应用到该文稿内所有图片 -->
        <button type="button" class="btn cancel-btn" ng-click="vm.close()">取消</button>  
        <button type="button" class="btn primary-btn" ng-click="vm.save()">确定</button> 
    </div>
</div>