<div class="push-wrapper box-shadow-md">
    <div class="modal-header">
        <h3 class="modal-title">传输列表<span class="title-tip">共选择{{vm.fileList.length}}个文件，正在上传{{vm.startNum}}个，上传成功{{vm.completeNum}}个，上传失败<span style="color:red">{{vm.failNum}}</span>个，等待上传{{vm.waitNum || 0}}个</span></h3>
        <i class="fa fa-narrow map-close" ng-click="vm.narrow()" style="position: absolute;right: 35px;top: 20px;cursor: pointer;"></i>
        <i class="fa fa-remove map-close" ng-click="vm.close()" style="position: absolute;right: 15px;top: 16px;cursor: pointer;"></i>
    </div>
    <div class="modal-add">
        <div class="file-add">
            <i class="typeface-form_zengjia"></i>
            <input class="input-inner" id="input-inner" type="file" accept=".wmv,.avi,.dat,.asf,.rm,.rmvb,.mpg,.mpeg,.3gp,.mov,.mp4,.m4v,.
            dvix,.dv,.dat,.mkv,.flv,.vob,.qt,.divx,.cpk,.fli,.flc,.mod,.m4a,.f4v,.3ga,.caf,.vob,.ts,.mxf" nv-file-select="" uploader="vm.uploade" multiple/>
            <span>继续添加</span>
        </div>
        <div class="video-trans">
            <label class="checkbox-inline">
                <span class="replace-switch-name">视频转码</span>
                <label class="ui-switch">
                    <span class="switch-open">开</span>
                    <span class="switch-close">关</span>
                    <input type="checkbox" ng-click="vm.toggleIsCode()" ng-checked="vm.is_transcode==1">
                    <i></i>
                </label>
            </label>
            <div class="btn-group dropdown hoge-dropdown" ng-if="vm.is_transcode==1">
                <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                    <span class="dropdown-label">{{vm.choseTranscode}}</span>
                    <span class="caret"></span>
                </button>
                <div class="dropdown-menu text-left text-sm">
                    <a class="dropdown-item" ng-repeat="type in vm.transcodeSet" ng-click="vm.chooseType(type)">{{type.name}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="table_header hoge-table-header">
            <div class="wrap">
                <div class="batch-body flex-one">文件名称</div>
                <div class="batch-size">文件大小</div>
                <div class="batch-status">状态</div>
                <div class="batch-i"></div>
                <div class="batch-oper">操作</div>
            </div>
        </div>
        <div class="list white border-bottom-radius" ng-model="vm.fileList" ng-show="vm.fileList.length">
            <div class="list-item hoge-item-border"
                    ng-repeat="(idxs,nor) in vm.fileList track by $index">
                <div class="batch-body flex-one">
                    <img src="/assets/images/mxu/content/batch/icon_shipin.png" ng-if="vm.fileType">
                    {{nor.fileName}}
                </div>
                <div class="batch-size">{{nor.size}}</div>
                <div class="batch-status">
                    <div class="progress" ng-if="vm.showState">
                        <div class="progress-bar primary" ng-style="{width:vm.fileList[idxs].progress+'%'}"></div>
                    </div>
                    <span class="upload-tip" ng-if="vm.showState">
                        <span class="wait-tip" ng-if="vm.fileList[idxs].progress == 0">等待上传</span>
                        <span class="ok-tip" ng-if="vm.fileList[idxs].uploadTrue">上传完成</span>
                        <span class="error-tip" ng-if="vm.fileList[idxs].progress == null">上传失败</span>
                        <span class="ing-tip" ng-if="(vm.fileList[idxs].progress > 0)&&(vm.fileList[idxs].progress !=100)">上传{{vm.fileList[idxs].progress}}%</span>
                    </span>
                </div>
                <div class="batch-i">
                    <i class="typeface-icon_pipei" ng-click="vm.refreshSingle(nor)" ng-if="vm.fileList[idxs].progress == null"></i>
                </div>
                <div class="batch-oper">
                    <i class="typeface-form_shanchu" ng-click="vm.deleteSingle(nor)"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sure p-x-md upload-btn" ng-click="vm.startUpload()">
            开始上传
        </button>
    </div>
</div>
