<div class="modal-content-publish box-shadow-md">
        <div class="modal-header">
            <h5 class="modal-title" ng-if="!vm.isBatch">复制内容: {{vm.content.title}}</h5>
            <h5 class="modal-title" ng-if="vm.isBatch">批量复制内容: {{vm.content.title}}</h5>
        </div>
        <div class="modal-body" style="display: flex;">
            <!--左边栏-->
            <div class="column-wrap" style="flex: 1;">
                <!--nav-->
                <!-- <div class="site_nav">
                    <ul class="" ng-style="{width:vm.siteList.length * 120 + 'px', left: vm.navLeft * 120 + 'px'}" data-data="{{vm.siteList.length}}">
                        <li class="inline" ng-repeat="nav in vm.siteList" ng-class="{'navActive': vm.navActive == nav.id}" ng-click="vm.siteNavGo(nav,$index+1)">
                            <a class="">
                                <span>{{nav.name}}</span>
                            </a>
                        </li>
                    </ul>
                </div> -->
                <!--column-->
                <div class="column_content" style="height: 400px;" my-loading="vm.column_loading">
                    <div class="ErrorTip" ng-show="!vm.columnData.length">
                        <p translate="content.noData"></p>
                    </div>
                    <ks-swiper-container  ng-if="vm.columnData.length"
                                          swiper="vm.swiper"
                                          class="swiper-container"
                                          observer='true'
                                          slides-per-view="4"
                                          pagination-clickable='true'
                                          space-between= '0'
                                          override-parameters="{'grabCursor':'true','observeParents':'true','observer':'true',}">
                        <ks-swiper-slide class="swiper-slide list_box" ng-repeat="column in vm.columnData track by $index" >
                            <div class="list" style="height: 400px;" ng-model="column">
                                <div class="list_item" ng-click="vm.goNext(item,$parent.$index+1)" ng-repeat="item in column" ng-class="{'active':item.active}">
                                    <input type="checkbox" data="{{item.id}}" ng-class="{'input_checked': item.isCheck}" ng-checked="vm.itemCheck(item)" ng-click="vm.addCheck(item)">
                                    <div class="column_title">{{item.name}}</div>
                                    <div class="pull-right next_icon">
                                        <i class="icon-jinru" ng-show="item.is_last == 0"></i>
                                    </div>
                                </div>
                            </div>
                        </ks-swiper-slide>
                    </ks-swiper-container>
                </div>
            </div>
            <!--右边栏-->
            <div class="right_site">
                <div class="title-more">
                    <div class="more">
                        <div class="has_publish" translate-values="{num: vm.checkLength}">已复制到{{vm.checkLength}}个分类</div>
                        <div class="site_box">
                            <!-- <span class="item_title">{{list.name}}</span> -->
                            <!-- <div class="box_item">
                                <span class="item_title">{{list.name}}</span>
                            </div> -->
                            <div>
                                <ul>
                                    <li class="item" ng-if="vm.checkList.length" ng-repeat="list in vm.checkList">
                                        {{list.name}}
                                        <i class="icon-guanbi" ng-click="vm.deleteCheck(list)"></i>
                                    </li>
                                    <li ng-if="!vm.checkList.length" style="color: #969696;" translate="content.unselected"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn primary-btn" ng-click="vm.save()" my-loading="vm.save_loading">复制</button>
            <button type="button" class="btn cancel-btn" ng-click="vm.close()">{{vm.DOC.cancel}}</button>
        </div>
    </div>