<div class="push-wrapper box-shadow-md">
    <div class="modal-header">
        <h3 class="modal-title">推荐上头条</h3>
        <i class="fa fa-remove map-close" ng-click="vm.close()" style="position: absolute;right: 15px;top: 16px;cursor: pointer;"></i>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div>
                <span style="display: inline-block;width: 80px;margin-bottom: 20px;">目标站点：</span>
                <div class="btn-group dropdown m-l-0 hoge-dropdown">
                    <button class="btn dropdown-toggle w-200" data-toggle="dropdown">
                        <span class="dropdown-label">{{vm.currentSite}}</span>
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu text-left text-sm font-12 w-200">
                        <a class="dropdown-item" ng-repeat="siteItem in vm.fatherSiteList track by $index" ng-click="vm.choseStatus(siteItem)">{{siteItem.name}}</a>
                    </div>
                </div>
            </div>
            <div style="display:flex">
                    <label class="label-name ver-top" style="display: inline-block;width: 80px">选择分类：</label>
                    <div class="group-content w-min">
                        <label class="checkbox-inline" style="height: 26px;" ng-repeat="n in vm.check track by $index">
                            <input type="checkbox" ng-model="n.selected" ng-true-value="true" ng-false-value="false"><span title="{{n.name}}" style="display: inline-block;">{{n.name}}</span>
                        </label>
                    </div>
            </div>
            
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" style="background-color: #3598dc;color:#fff" class="btn btn-sure p-x-md" ng-disabled="verifyForm.$invalid" ng-click="vm.save()" translate="publish.sure_push"></button>
        <button class="btn cancel-btn p-x-md" ng-click="vm.close()">取消</button>
    </div>
</div>
