<div class="mxu_side_wrapper mxu_content_wrapper">
    <div class="menu-wrap" ng-if="!vm.hideAccessKind">
        <classify-sidebar classify-list = "vm.navList"
                          handle-next = "vm.getChilds(Item, flag)"
                          go-back="vm.navBack()"
                          category-id ="vm.categoryId"
                          storage-list = "vm.storageList"
                          jump-classify="vm.jumpClassify(Item)"
                          is-jump="true"
                          show-all-cate="vm.showAllCate"
        ></classify-sidebar>
    </div>
    <div class="member-cont" ng-class="{'second-view': !vm.hideAccessKind}">
        <div ui-view></div>
    </div>
    <!-- <div class="mask-gray">
        <div class="batchVideo-modal1">
        
        </div>
    </div> -->
</div>
<div class="mask-gray"></div>
<div class="batchVideo-modal1">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="push-wrapper box-shadow-md">
                        <div class="modal-header">
                            <h3 class="modal-title">传输列表<span class="title-tip">共选择{{vm.fileList.length}}个文件，正在上传{{vm.startNum}}个，上传成功{{vm.completeNum}}个，上传失败<span style="color:red">{{vm.failNum}}</span>个，等待上传{{vm.waitNum || 0}}个</span></h3>
                            <i class="fa typeface-icon_zuixiaohua map-btn" ng-click="vm.narrow()" style="position: absolute;right: 35px;top: 16px;"></i>
                            <i class="fa typeface-form_guanbi map-btn" ng-click="vm.close()" style="position: absolute;right: 15px;top: 16px;"></i>
                            <!-- <i class="fa typeface-form_guanbi map-close" ng-click="vm.close()" style="position: absolute;right: 15px;top: 18px;cursor:pointer"></i> -->
                        </div>
                        <div class="modal-add">
                            <div class="file-add">
                                <i class="typeface-form_zengjia"></i>
                                <input ng-if="vm.stateType == 'video'" class="input-inner" id="input-inner" type="file" accept=".wmv,.avi,.dat,.asf,.rm,.rmvb,.mpg,.mpeg,.3gp,.mov,.mp4,.m4v,.
                                dvix,.dv,.dat,.mkv,.flv,.vob,.qt,.divx,.cpk,.fli,.flc,.mod,.m4a,.f4v,.3ga,.caf,.vob,.ts,.mxf" nv-file-select="" uploader="vm.uploade" multiple/>
                                <input ng-if="vm.stateType == 'audio'" class="input-inner" id="input-inner" type="file" accept=".wav,.aif,.au,.mp3,.ram,.wma,.mmf,.amr,.aac,.flac" nv-file-select="" uploader="vm.uploade" multiple/>
                                <span>继续添加</span>
                            </div>
                            <div class="video-trans">
                                <label class="checkbox-inline" ng-if="vm.stateType == 'video'">
                                    <span class="replace-switch-name">视频转码</span>
                                    <label class="ui-switch">
                                        <span class="switch-open">开</span>
                                        <span class="switch-close">关</span>
                                        <input type="checkbox" ng-click="vm.toggleIsCode()" ng-checked="vm.is_transcode==1">
                                        <i></i>
                                    </label>
                                </label>
                                <div class="btn-group dropdown hoge-dropdown" ng-if="vm.is_transcode==1 && vm.stateType == 'video'">
                                    <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                                        <span class="dropdown-label">{{vm.choseTranscode}}</span>
                                        <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu text-left text-sm">
                                        <a class="dropdown-item" ng-repeat="type in vm.transcodeSet" ng-click="vm.chooseType(type)">{{type.name}}</a>
                                    </div>
                                </div>
                                <div style="float: right;">
                                    栏目：
                                    <div class="publish-box">
                                        <content-publish publish-name="vm.publish_name" publish-from="vm.batchUpVideo" publish-array="vm.publish_column" dispose-arr="vm.disposeArr(d)" place-holder="vm.dColumnName" type-difference="'all'"></content-publish>
                                    </div>
                                </div>
                                <div style="float: right;">
                                    分类：
                                    <div class="publish-box">
                                        <content-classification publish-from="vm.batchUpVideo" publish-name="vm.class_name" publish-array="vm.publish_class" dispose-arr="vm.disposeClassArr(d)" place-holder="vm.dClassName" type-difference="'all'"></content-classification>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="table_header hoge-table-header">
                                <div class="wrap">
                                    <div class="batch-body flex-one">文件名称</div>
                                    <div class="batch-size">文件大小</div>
                                    <div class="batch-trans" ng-if="vm.stateType == 'video'">转码</div>
                                    <div class="batch-transSet" ng-if="vm.stateType == 'video'">转码配置</div>
                                    <div class="batch-status">状态</div>
                                    <div class="batch-col">栏目</div>
                                    <div class="batch-col">分类</div>
                                    <div class="batch-i"></div>
                                    <div class="batch-oper">操作</div>
                                </div>
                            </div>
                            <hoge-error hight-num="'277px'" arr-length="vm.fileList.length" load="vm.loading"></hoge-error>
                            <div class="list white border-bottom-radius" ng-model="vm.fileList" ng-show="vm.fileList.length">
                                <div class="list-item hoge-item-border"
                                        ng-repeat="(idxs,nor) in vm.fileList track by $index">
                                    <div class="batch-body flex-one">
                                        <img src="/assets/images/mxu/content/batch/icon_shipin.png" ng-if="vm.fileType">
                                        {{nor.fileName}}
                                    </div>
                                    <div class="batch-size">{{nor.size}}</div>
                                    <div class="batch-trans" ng-if="vm.stateType == 'video'">
                                        <!-- 转码开关 -->
                                        <label class="ui-switch">
                                            <span class="switch-open">开</span>
                                            <span class="switch-close">关</span>
                                            <input type="checkbox" ng-click="vm.toggleSingleCode(nor)" ng-checked="nor.singleCode==1">
                                            <i></i>
                                        </label>
                                    </div>
                                    <div class="batch-transSet" ng-if="vm.stateType == 'video'">
                                        <!-- 转码配置 -->
                                        <div class="btn-group dropdown hoge-dropdown" ng-if="nor.singleCode==1">
                                            <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                                                <span class="dropdown-label">{{nor.singleSet}}</span>
                                                <span class="caret"></span>
                                            </button>
                                            <div class="dropdown-menu text-left text-sm">
                                                <a class="dropdown-item" ng-repeat="type in vm.transcodeSet" ng-click="vm.chooseSingleType(nor,type)">{{type.name}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="batch-status">
                                        <div class="progress" ng-if="vm.showState">
                                            <div class="progress-bar primary" ng-style="{width:vm.fileList[idxs].progress+'%'}"></div>
                                        </div>
                                        <span class="upload-tip" ng-if="vm.showState">
                                            <span class="wait-tip" ng-if="vm.fileList[idxs].progress == 0">等待上传</span>
                                            <span class="ok-tip" ng-if="vm.fileList[idxs].progress == 100&&vm.fileList[idxs].uploadTrue">上传完成</span>
                                            <span class="error-tip" ng-if="vm.fileList[idxs].progress == null">上传失败</span>
                                            <span class="ing-tip" ng-if="(vm.fileList[idxs].progress > 0)&&!vm.fileList[idxs].uploadTrue">上传{{vm.fileList[idxs].progress}}%</span>
                                        </span>
                                    </div>
                                    <div class="batch-col">
                                        <!-- 单个栏目 -->
                                        <content-publish publish-name="nor.publish_name" publish-from="vm.batchUpVideo" publish-array="nor.publish_column" dispose-arr="vm.singleDisposeArr(nor,d)" place-holder="vm.norColumnName" type-difference="'single'"></content-publish>
                                    </div>
                                    <!-- 单个分类 -->
                                    <div class="batch-col">
                                        <content-classification publish-name="nor.class_name" publish-from="vm.batchUpVideo" publish-array="nor.publish_class" dispose-arr="vm.singleDisposeClassArr(nor,d)" place-holder="vm.norClassName" type-difference="'single'"></content-classification>
                                    </div>
                                    <!-- <div style="float: right;">
                                    分类：
                                    <div class="publish-box">
                                        <content-classification publish-from="vm.batchUpVideo" publish-name="vm.publish_name" publish-array="vm.publish_column" dispose-arr="vm.disposeArr(d)" place-holder="vm.dColumnName"></content-classification>
                                    </div>
                                </div> -->
                                    <div class="batch-i">
                                        <i class="typeface-icon_pipei" ng-click="vm.refreshSingle(nor)" ng-if="vm.fileList[idxs].progress == null"></i>
                                    </div>
                                    <div class="batch-oper">
                                        <i class="typeface-form_shanchu" ng-click="vm.deleteSingle(nor)"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" ng-if="vm.showBtn">
                            <button class="btn btn-sure p-x-md upload-btn" ng-click="vm.startUpload()" >
                                开始上传
                            </button>
                        </div>
                    </div>
                    
        </div>
    </div>
</div>
<!-- <div class="minimize-window"> -->
<div class="wait-progress fotter pos-flex" ng-if="vm.isStatus == 1 && vm.isMinimize">
    <span>等待上传</span>
    <div class="window">
        <i class="fa typeface-icon_zuidahua map-btn" ng-click="vm.amplification()" style="position: absolute;right: 40px;top: 11px;"></i>
        <i class="fa typeface-form_guanbi map-btn" ng-click="vm.close()" style="position: absolute;right: 15px;top: 11px;"></i>
    </div>
</div>
<div class="completing-progress fotter pos-flex" ng-if="vm.isStatus == 2 && vm.isMinimize">
    <span>上传完成 100%</span>
    <div class="window">
        <i class="fa typeface-icon_zuidahua map-btn" ng-click="vm.amplification()" style="position: absolute;right: 40px;top: 11px;"></i>
        <i class="fa typeface-form_guanbi map-btn" ng-click="vm.close()" style="position: absolute;right: 15px;top: 11px;"></i>
    </div>
</div>
<div class="zheng-progress fotter pos-flex pad-left" ng-if="vm.isStatus == 3 && vm.isMinimize">
    <div class="mask-process" ng-style="{width:(320/vm.fileList.length)*vm.completeNum+ 'px'}"></div>
    <span class="padding-le">正在上传({{vm.completeNum}}/{{vm.fileList.length}})</span>
    <div class="window">
        <i class="fa typeface-icon_zuidahua map-btn" ng-click="vm.amplification()" style="position: absolute;right: 40px;top: 11px;"></i>
        <i class="fa typeface-form_guanbi map-btn" ng-click="vm.close()" style="position: absolute;right: 15px;top: 11px;"></i>
    </div>
</div>
<div class="completed-progress fotter" ng-if="vm.isStatus == 4 && vm.isMinimize">
    <div class="successMsg pos-flex">
        <span>上传完成({{vm.completeNum}}/{{vm.fileList.length}})</span>
        <span></span>
        <span></span>
        <div class="window">
            <i class="fa typeface-icon_zuidahua map-btn" ng-click="vm.amplification()" style="position: absolute;right: 40px;top: 11px;font-size: 12px;"></i>
            <i class="fa typeface-form_guanbi map-btn" ng-click="vm.close()" style="position: absolute;right: 15px;top: 11px;font-size: 12px;"></i>
        </div>
    </div>
    <div class="errorMsg" ng-if="vm.failNum">
        {{vm.failNum}}个文件上传失败
    </div>
</div>

<m2o-footer></m2o-footer>
