<form class="edit-column box-shadow-md" name="editColumnForm">
    <div class="modal-header">
        <h5 class="modal-title">修改标签</h5>
    </div>
    <div class="modal-body">
        <div class="form-group flex-item" style="position: relative;">
            <label>标签：</label>
            <!-- 标签选择 -->
            <div class="label-box">
                <div class="checkRole dropdown-toggle" ng-click="vm.roleFocus = true;" ng-blur="vm.roleFocus = false;"
                        ng-class="{'focus-color':vm.roleFocus}" data-toggle="dropdown" aria-expanded="true" tabindex="1">
                        <span ng-if="!vm.labelsIds.length" class="placeholder-span">选择标签</span>
                        <span class="check-item" ng-repeat="modules in vm.labelListArr  track by $index" ng-show="modules.check">
                        {{modules.name}}
                        <i class="fa icon-guanbi" ng-click="vm.delCheck($event,modules)" style="cursor: pointer"></i>
                    </span>
                </div>
                <div class="role-list dropdown-menu">
                    <div class="item" ng-if="vm.labelListArr.length" ng-repeat="modules in vm.labelListArr  track by $index" ng-click="vm.chooseLabel(modules)">
                        <label class="">{{modules.name}}</label>
                        <span class="fa fa-check" ng-show="modules.check"></span>
                    </div>
                    <div ng-if="!vm.labelListArr.length" class="no-drop-label">暂无</div>
                </div>
            </div>
            <!-- 标签 end -->
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn primary-btn" ng-click="vm.save()" my-loading="vm.save_loading">保存</button>
        <button type="button" class="btn cancel-btn" ng-click="vm.close()">取消</button>
    </div>
</form>