<div class="field wrapper-new-field">
    <div class="hoge-table-add">
        <div class="hoge-table-title"><span class="previous-page" ng-click="vm.expandFieldsInfoCancel()">扩展字段</span>&nbsp;&nbsp;>&nbsp;&nbsp;<span class="field-title">{{vm.isCreat}}字段</span></div>
    </div>
    <div class="box hoge-border">
        <div class="box-body">
            <form role="form" name="form">
                <!--基本信息-->
                <div class="form-card">
                    <!-- <div class="header">基本信息</div> -->
                    <div class="content">
                        <div class="form-group">
                            <label class="label-name">字段名称：</label>
                            <input type="text" maxlength="20" placeholder="请输入" ng-model="vm.expandFieldsInfo.name" ng-focus="vm.fieldNameFocus = true"
                                    ng-class="{'focus-color':vm.fieldNameFocus}" ng-blur="vm.fieldNameFocus = false">
                            <!-- <div class="count" style="position: absolute;top:14px;right:9px;">
                                <div num-count="vm.subscribeInfo.unit" count-top="0" count-right="0" count-max="20" count-position="right"></div>
                            </div> -->
                        </div>
                        <div class="form-group" style="height:32px;line-height:32px;margin-bottom: 2rem;">
                            <!-- <label class="label-name">类型：</label>
                            <div class="xr-type-box">
                                <span class="shouqi-icon" ng-click="vm.toggle()"></span>
                                <span class="type-text" ng-repeat="choose in vm.chooseArr track by $index" ng-click="vm.deleteType(choose)">{{choose.module_name}}<i class="close-icon"></i></span>
                                <div class="xr-drop-box" ng-show="vm.showDropBox">
                                    <a class="drop-item" ng-repeat="modules in vm.modulesListArr  track by $index" ng-click="vm.chooseType(modules)">{{modules.name}}</a>
                                </div>
                            </div> -->
                            <label class="label-name" style="position: absolute;height:32px;line-height:32px;margin-bottom:0;">类型：</label>
                            <div class="role-box"  style="position: absolute;left: 128px;">
                                <div class="checkRole dropdown-toggle" ng-click="vm.roleFocus = true;" ng-blur="vm.roleFocus = false;"
                                        ng-class="{'focus-color':vm.roleFocus}" data-toggle="dropdown" aria-expanded="true" tabindex="1">
                                    <span class="check-item" ng-repeat="modules in vm.modulesListArr  track by $index" ng-show="modules.check">
                                        {{modules.name}}
                                        <i class="fa icon-guanbi" ng-click="modules.check = false" style="cursor: pointer"></i>
                                    </span>
                                </div>
                                <div class="role-list dropdown-menu">
                                    <div class="item" ng-repeat="modules in vm.modulesListArr  track by $index" ng-click="vm.chooseRole(modules)">
                                        <label class="">{{modules.name}}</label>
                                        <span class="fa fa-check" ng-show="modules.check"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="label-name">字段标识：</label>
                            <input type="text" maxlength="20" placeholder="请输入" ng-model="vm.expandFieldsInfo.sign" ng-focus="vm.fieldSignFocus = true"
                                    ng-class="{'focus-color':vm.fieldSignFocus}" ng-blur="vm.fieldSignFocus = false">
                            <!-- <div class="count" style="position: absolute;top:14px;right:9px;">
                                <div num-count="vm.subscribeInfo.unit" count-top="0" count-right="0" count-max="20" count-position="right"></div>
                            </div> -->
                        </div>
                        <div class="form-group">
                            <label class="label-name">操作类型：</label>
                            <label class="radio-inline m-r" ng-repeat="typeItem in vm.operationTypeArr track by $index">
                                <input type="radio" class="xr-radio" ng-checked="vm.expandFieldsInfo.operationType == typeItem.type"  value="typeItem.type" ng-click="vm.chooseOperationType(typeItem.type)">{{typeItem.name}}
                            </label>
                            <!-- <label class="radio-inline m-r">
                                <input ng-model="vm.operationType" type="radio" value="0">文本输入
                            </label>
                            <label class="radio-inline">
                                <input ng-model="vm.operationType" type="radio" value="1">时间日期输入
                            </label>
                            <label class="radio-inline">
                                <input ng-model="vm.operationType" type="radio" value="2">下拉选择
                            </label>
                            <label class="radio-inline">
                                <input ng-model="vm.operationType" type="radio" value="3">单选
                            </label>
                            <label class="radio-inline">
                                <input ng-model="vm.operationType" type="radio" value="4">多选
                            </label> -->
                        </div>
                        <div class="form-group">
                            <div class="text-input" ng-show="vm.expandFieldsInfo.operationType == 'text'">
                                <div class="form-group m-b-20">
                                    <label class="label-name">是否强制：</label>
                                    <label class="radio-inline m-r">
                                        <input ng-model="vm.textInputInfo.isMandatory" class="xr-radio" type="radio" value="0">是
                                    </label>
                                    <label class="radio-inline">
                                        <input ng-model="vm.textInputInfo.isMandatory" class="xr-radio" type="radio" value="1">否
                                    </label>
                                </div>
                                <div class="form-group m-b-20">
                                    <label class="label-name">最大字数限制：</label>
                                    <label class="radio-inline m-r">
                                        <input ng-model="vm.textInputInfo.limitNum" class="xr-radio" ng-click="vm.getLimitValue(vm.textInputInfo.limitNum)" type="radio" value="0">无
                                    </label>
                                    <label class="radio-inline">
                                        <input class="limit-input" class="xr-radio" ng-model="vm.textInputInfo.limitNum" ng-click="vm.getLimitValue(vm.textInputInfo.limitNum)" type="radio" value="1">
                                        <input class="limit-num" ng-disabled="vm.limitDisable" ng-model="vm.textInputInfo.textNum" type="number" value="1">个字
                                    </label>
                                </div>
                                <div class="form-group m-b-20">
                                    <label class="label-name">默认内容：</label>
                                    <input type="text" maxlength="20" placeholder="请输入" ng-model="vm.textInputInfo.defaultContent" ng-focus="vm.defaultContentFocus = true"
                                    ng-class="{'focus-color':vm.defaultContentFocus}" ng-blur="vm.defaultContentFocus = false">
                                    <!-- <div class="count" style="position: absolute;top:14px;right:9px;">
                                        <div num-count="vm.subscribeInfo.unit" count-top="0" count-right="0" count-max="20" count-position="right"></div>
                                    </div> -->
                                </div>
                                <div class="form-group m-b-20">
                                    <label class="label-name">提示内容：</label>
                                    <input type="text" maxlength="20" placeholder="请输入文字" ng-model="vm.textInputInfo.promptContent" ng-focus="vm.promptContentFocus = true"
                                    ng-class="{'focus-color':vm.promptContentFocus}" ng-blur="vm.promptContentFocus = false">
                                    <!-- <div class="count" style="position: absolute;top:14px;right:9px;">
                                        <div num-count="vm.subscribeInfo.unit" count-top="0" count-right="0" count-max="20" count-position="right"></div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="time-input" ng-show="vm.expandFieldsInfo.operationType == 'timestamp'">
                                <div class="form-group m-b-20">
                                    <label class="label-name time-name">是否强制：</label>
                                    <label class="radio-inline m-r">
                                        <input ng-model="vm.timeInputInfo.isMandatory" class="xr-radio" type="radio" value="0">是
                                    </label>
                                    <label class="radio-inline">
                                        <input ng-model="vm.timeInputInfo.isMandatory" class="xr-radio" type="radio" value="1">否
                                    </label>
                                </div>
                                <div class="form-group m-b-20">
                                    <label class="label-name time-name">默认时间：</label>
                                    <label class="radio-inline m-r">
                                        <input ng-model="vm.timeInputInfo.timestamp_is_show" class="xr-radio" ng-click="vm.getTimeValue(vm.timeInputInfo.timestamp_is_show)" type="radio" value="1">当前时间
                                    </label>
                                    <label class="radio-inline">
                                        <input class="time-radio" ng-model="vm.timeInputInfo.timestamp_is_show" ng-click="vm.getTimeValue(vm.timeInputInfo.timestamp_is_show)" type="radio" value="2">
                                        <div class="time-box">
                                            <input class="date-input" placeholder="选择日期" class="form-control"
                                                    ng-model="vm.timeInputInfo.date"
                                                    ng-disabled="vm.timeDisable"
                                                    data-date-format="yyyy-MM-dd"
                                                    data-date-type="number"
                                                    data-autoclose="1"
                                                    data-icon-left="fa fa-chevron-left"
                                                    data-icon-right="fa fa-chevron-right"
                                                    name="date" autocomplete='off'
                                                    bs-datepicker>
                                            <i class="icon-biaodan"></i>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="select-input" ng-show="vm.expandFieldsInfo.operationType == 'select'">
                                <div class="form-group m-b-20">
                                    <label class="label-name">是否强制：</label>
                                    <label class="radio-inline m-r">
                                        <input ng-model="vm.selectInputInfo.isMandatory" class="xr-radio" name="select" type="radio" value="0">是
                                    </label>
                                    <label class="radio-inline">
                                        <input ng-model="vm.selectInputInfo.isMandatory" class="xr-radio" name="select" type="radio" value="1">否
                                    </label>
                                </div>
                                <div class="form-group m-b-20">
                                    <label class="label-name">选项：</label>
                                    <div class="options-box" ng-repeat="option in vm.optionArr track by $index" ng-show="vm.optionArr.length">
                                        <input type="text" class="options-input" placeholder="选项{{$index + 1}}" ng-model="option.name" 
                                        ng-class="{'focus-color':vm.optionsFocus}">
                                        <input type="text" class="options-input" placeholder="字段标识" ng-model="option.value"
                                        ng-class="{'focus-color':vm.optionsFocus}">
                                        <button class="options-delete-btn" ng-click="vm.deleteOption($index)">删除</button>
                                        <button class="options-default-btn" ng-class="{'options-light-color':vm.activeOptionIndex == $index}" ng-click="vm.defaultOption(option,$index)">默认</button>
                                    </div>
                                    <div class="add-options">
                                        <i class="typeface-form_zengjia" ng-click="vm.addOption()"></i>
                                        <span ng-click="vm.addOption()">添加选项</span>
                                    </div>                                
                                </div>
                            </div>
                            <div class="radio-input" ng-show="vm.expandFieldsInfo.operationType == 'audio'">
                                <div class="form-group m-b-20">
                                    <label class="label-name">是否强制：</label>
                                    <label class="radio-inline m-r">
                                        <input ng-model="vm.radioInputInfo.isMandatory" class="xr-radio" name="audio" type="radio" value="0">是
                                    </label>
                                    <label class="radio-inline">
                                        <input ng-model="vm.radioInputInfo.isMandatory" class="xr-radio" name="audio" type="radio" value="1">否
                                    </label>
                                </div>
                                <div class="form-group m-b-20">
                                    <label class="label-name">选项：</label>
                                    <div class="options-box" ng-repeat="option in vm.radioArr track by $index" ng-show="vm.radioArr.length">
                                        <input type="text" class="options-input" placeholder="选项{{$index + 1}}" ng-model="option.name">
                                        <input type="text" class="options-input" placeholder="字段标识" ng-model="option.value">
                                        <button class="options-delete-btn" ng-click="vm.deleteRadio($index)">删除</button>
                                        <button class="options-default-btn" ng-class="{'audio-light-color':vm.activeAudioIndex == $index}" ng-click="vm.defaultRadio(option,$index)">默认</button>
                                    </div>
                                    <div class="add-options">
                                        <i class="typeface-form_zengjia" ng-click="vm.addRadio()"></i>
                                        <span ng-click="vm.addRadio()">添加选项</span>
                                    </div>                                
                                </div>
                            </div>
                            <div class="multi-select-input" ng-show="vm.expandFieldsInfo.operationType == 'checkbox'">
                                <div class="form-group m-b-20">
                                    <label class="label-name">是否强制：</label>
                                    <label class="radio-inline m-r">
                                        <input ng-model="vm.checkboxInputInfo.isMandatory" class="xr-radio" name="checkbox" type="radio" value="0">是
                                    </label>
                                    <label class="radio-inline">
                                        <input ng-model="vm.checkboxInputInfo.isMandatory" class="xr-radio" name="checkbox" type="radio" value="1">否
                                    </label>
                                </div>
                                <div class="form-group m-b-20">
                                    <label class="label-name">选项：</label>
                                    <div class="options-box" ng-repeat="option in vm.multiSelectArr track by $index" ng-show="vm.multiSelectArr.length">
                                        <input type="text" class="options-input" placeholder="选项{{$index + 1}}" ng-model="option.name">
                                        <input type="text" class="options-input" placeholder="字段标识" ng-model="option.value">
                                        <button class="options-delete-btn" ng-click="vm.deleteMultiSelect($index)">删除</button>
                                        <button class="options-default-btn" ng-class="{'checkbox-light-color':vm.activeMultiSelectIndex == $index}" ng-click="vm.defaultMultiSelect(option,$index)">默认</button>
                                    </div>
                                    <div class="add-options">
                                        <i class="typeface-form_zengjia" ng-click="vm.addMultiSelect()"></i>
                                        <span ng-click="vm.addMultiSelect()">添加选项</span>
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="md-form-group">
                    <button type="submit" class="btn primary-btn" my-loading="vm.loading" ng-click="vm.expandFieldsInfoSave()">{{ 'user.save'| translate}}</button>
                    <button class="btn cancel-btn" ng-click="vm.expandFieldsInfoCancel()" >取消</button>
                </div>
            </form>

        </div>
    </div>
</div>