<div class="modal-tempSet box-shadow-md">
    <div class="modal-header">
        <h5 class="modal-title">{{ 'column_temp.addCustomize'| translate}}</h5>
        <i class="fa typeface-form_guanbi map-close" ng-click="vm.cancel()" style="position: absolute;right: 15px;top: 18px;"></i>
    </div>
    <div class="modal-body">
        <div>
            <span ng-if="vm.curList.length">当前模板</span>
            <search-Box key-Word="vm.key"
                        search-Key="vm.search(Item)"
                        key-Press="vm.keyPress(Event)"
                        hide-Kind="vm.hideAccessKind"
                        is-Focus="vm.isFocus"
                        place-Holder="vm.placeHolder"
            >         
            </search-Box>
            <!-- <div class="form-group hoge-input-search">
                    <input type="text" placeholder="搜索栏目" ng-keypress="vm.keyPress($event)" ng-model="vm.key">
                    <i class="fa typeface-searchbar_sousuo" ng-click="vm.search(vm.key)"></i>
            </div> -->
        </div>
        <div class="temp-list" my-loading="vm.loading" ng-class="{'temp-list-data':vm.curList.length}">
            <div class="temp-list-item" ng-disabled="cur.isUsed" ng-repeat="cur in vm.curList" ng-if="vm.curList.length"  ng-class="{'choose':cur.choose,'border-usual':!cur.choose,'is-used':cur.isUsed}">
                    <div class="item-choose" ng-if="cur.isUsed">当前模板</div>
                    <div  class="tem-item" ng-click="vm.choseTemp(cur)">
                        <div class="temp-title">{{cur.title}}</div>
                    </div>
            </div>
       </div>
        <div class="list-top">
            <span>模板列表</span>
        </div>
        <div class="temp-list" my-loading="vm.loading" ng-class="{'temp-list-data':vm.tempList.length}">
            <!--<div class="temp-list-item">-->
                <!--<span class="no-img temp-img"><i class="icon-tuji1"></i></span>-->
                <!--<span class="temp-img" ng-style="{'background':'url('+ vm.index_pic+')center center no-repeat'}"></span>-->
                <!--<div>模板名称</div>-->
            <!--</div>-->
            <div class="hoge-error hoge-hight-other" ng-if="!vm.tempList.length">
                <div>
                    <div class="error-img" ng-if="vm.errorMessage && !vm.loading"></div>
                    <p>{{vm.errorMessage}}</p>
                </div>
            </div>
            <div class="temp-list-item" ng-disabled="item.isUsed" ng-repeat="item in vm.tempList" ng-if="vm.tempList.length"  ng-class="{'choose':item.choose,'border-usual':!item.choose,'is-used':item.isUsed}">
                <div class="item-choose" ng-if="item.isUsed">当前模板</div>
                <div  class="tem-item" ng-click="vm.choseTemp(item)">
                    <div class="temp-title">{{item.title}}</div>
                </div>

            </div>
        </div>
        <div class="hoge-table-bottom" ng-if="vm.tempList.length">
            <page-nation options="vm.pageOptions" turn-page="vm.getTempList()"></page-nation>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn cancel-btn" ng-click="vm.cancel()">{{'include.cancel' | translate}}</button>
        <button type="button" class="btn primary-btn" ng-click="vm.confirmBind()" my-loading="vm.include_saveLoading">{{'include.submit' | translate}}</button>
    </div>
</div>