<form class="save-box box-shadow-md form-validation" name="saveFrom">
    <div class="modal-header">
        <h5 class="modal-title" translate="encoding.save"></h5>
    </div>
    <div class="modal-body">
        <div class="info_box p-l-20">
            <div class="flex p-l-10 m-b-1">
                <div class="image-contain p-r-5">
                    <div class="img-box" my-loading="vm.img_loading">
                        <img ng-show="vm.imgSrc" ng-src="{{vm.imgSrc}}"/>
                        <div class="file-tip" ng-show="!vm.imgSrc" ng-show="false">
                            <span translate="encoding.upCover"></span>
                        </div>
                        <div class="file-tip file-cover" ng-show="vm.imgSrc" ng-show="false">
                            <span translate="encoding.replace"></span>
                        </div>
                        <input id="localFile" type="file" class="file-input" nv-file-select uploader="vm.uploader"  accept="image/gif,image/jpeg,image/png,image/bmp"/>
                    </div>
                </div>
                <div class="box-right p-l-5">
                    <div class="md-form-group m-l-1">
                        <input class="md-input input_len" maxlength="30" ng-model="vm.newVideo.title"/>
                        <label translate="encoding.title" class="cursor_text"></label>
                        <div num-count="vm.newVideo.title" count-top="52" count-max="30" count-position="right"></div>
                    </div>
                </div>
            </div>
            <div class="p-l-10 footer_form">
                <div class="md-form-group">
                    <textarea class="md-input" maxlength="500" rows="4" ng-model="vm.newVideo.comment"></textarea>
                    <label translate="encoding.description" class="cursor_text"></label>
                    <div num-count="vm.newVideo.comment" count-top="110" count-max="500" count-position="right"></div>
                </div>
                <div class="md-form-group float-label">
                    <div ng-click="vm.setIssue()">
                        <input type="text" class="md-input column-input" disabled
                               ng-class="{'ng-dirty' :  vm.mainColumn.length }">
                        <label translate="encoding.publish"></label>
                        <div class="list-point" ng-show="vm.mainColumn.length">
                            <div class="form-pop" ng-repeat="item in vm.mainColumn" title="{{::item.fn}}">
                                {{item.column_name}}
                                <i class="icon-guanbi" ng-click="vm.delCol(item,$index)"></i>
                            </div>
                        </div>
                    </div>

                    <div class="column-top" ng-show="vm.radioStatus">
                        <!--<radio-column column-data="vm.radioList" radio-level="vm.radioLevel" next-radio="vm.nextRadio(column,flag)" choose-radio="vm.selectRadio(item)"></radio-column>-->
                        <classify-preview classify-data="vm.radioList"
                                          classify-name="'分类'" box-name="'选取分类'"
                                          classify-check="vm.mainColumn" radio-style="'all'"
                                          classify-type="'radio'" classify-next="vm.nextColumn(Id,Level+1,Type)"
                                          classify-focus="false"
                                          box-status="false"
                        ></classify-preview>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn primary-btn" ng-click="vm.saveVideo()" translate="encoding.save"></button>
        <button type="button" class="btn cancel-btn" ng-click="vm.cancel()" translate="encoding.cancel"></button>
    </div>
</form>