
    <div class="modal-header" style="position:relative;">
        <h5 class="modal-title">{{vm.title}}</h5>
    </div>
    <span class="typeface-form_guanbi " style="position: absolute;right:16px;top:16px;color:#DBE1E9 " ng-click="vm.close()"></span>
    <div class="modal-body">
        <div class="form-group" style="position: relative;margin-bottom: 0">
            <div class="form-group">
                <div>
                    <span class="label-name label-position" style="float:left;margin-top: 6px;">样式名称</div>
                    <input type="text" style="margin-left:30px;width: 392px;height: 32px;border: 1px solid #3598DC;border-radius: 2px;line-height: 20px;font-size: 14px;padding-left:8px;" ng-model="vm.styleName">  
                </div>
                <div>
                    <span class="label-name label-position" style="float:left;margin-top: 6px;">样式ID</div>
                    <input type="text" style="margin-left:43px;width: 392px;height: 32px;border: 1px solid #3598DC;border-radius: 2px;line-height: 20px;font-size: 14px;padding-left:8px;" ng-model="vm.styleID">
                </div>
                <div style="margin-top:20px;">
                    <span class="label-name label-position" style="float:left;margin-right: 55px;">类型</div>
                    <span style="margin-right:16px ">公共</span><input type="radio" name="radio" value="common" ng-checked="vm.param.item.module  || vm.param.item" id="common">
                    <span style="margin-left: 22px;margin-right: 16px">栏目</span><input type="radio" name="radio" value="column" ng-checked="vm.param.item.module == '栏目' " id="column">
                </div>
                
            </div>
            
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn primary-btn" ng-click="vm.save()" my-loading="vm.save_loading">{{'column.save' | translate}}</button>
        <button type="button" class="btn cancel-btn" ng-click="vm.close()">{{'column.cancel' | translate}}</button>
    </div>