<div class="padding  home-cont log-list" my-loading="vm.log_loading">
	<div class="list white">
		<div class="ErrorTip" ng-if ="!vm.logList.length">{{vm.log_error}}</div>
	    <div class="list-item  b-l-2x" ng-repeat="item in vm.logList track by item.id ">
	      <div class="list-left">
	        <span class="w-40 avatar">
				<span class="w-40 circle member_img" ng-if="!item.avatar"></span>
	          	<img ng-src="{{item.img}}" ng-if="item.avatar">
	        </span>
	      </div>
	      <div class="list-body">
	        <div class="pull-right text-muted text-xs">
	          <span class="hidden-xs icon-{{item.mark}}" style="color:{{item.color}}"></span>
	          <i class="fa fa-paperclip ng-hide m-l-sm"></i>
	        </div>
	        <div class="info-item">
	          <a>{{item.user_name}}</a>
	          <span class="label label-xs m-l-sm">{{item.time}}</span>
	        </div>
	        <div class="text-ellipsis text-muted text-sm">{{item.operation}}  <span ng-class="{'del-item':item.del}">{{item.content_title}}</span></div>
	      </div>
	    </div>
	    <div class=" list_bottom" ng-if ="vm.logList.length">
			<page-nation  options="vm.pageOptions" turn-page="vm.changePage()"></page-nation>
	    </div>
	</div>
</div>
<div ui-include="'../views/mxu/common/footer.html'"></div>