<div class="mxu_side_wrapper mxu_role_wrapper">
  <div class="menu-wrap">
      <classify-sidebar classify-list = "vm.departmentList"
                        handle-next = "vm.getChilds(Item,flag)"
                        go-back="vm.navBack()"
                        category-id ="vm.choseId"
                        storage-list = "vm.storageList"
                        jump-classify="vm.jumpClassify(Item)"
                        is-jump="true"
      ></classify-sidebar>
  </div>
  <div class="second-view">
    <div class="mxu_organization_list" style="padding: 16px">
      <div class="btn-toolbar list_bar hoge-table-add">
          <div class="hoge-table-title">成品库</div>
          <!-- <div class="pull-right">
              <button class="btn btn-purple" ng-click="vm.goImport()">导入用户</button>
              <button class="btn btn-purple" ng-click="vm.goForm()">添加用户</button>
          </div> -->
    
      </div>
    
      <div class="box">
          <!-- list -->
          <div class="list_contain hoge-table-contain white">
                <div class="hoge-table-search library-search-box" ng-show="!vm.picIds" ng-class="{'none-border':vm.showInput}">
                    <div class="form-group hoge-input-search" >
                        <input type="text" placeholder="搜索..." ng-keypress="vm.keyPress($event)" ng-model="vm.searchKey">
                        <i class="fa typeface-tuji_shuiyin" ng-click="vm.showSearchImage()"></i>
                        <div class="upload-img-box" ng-show="vm.showInput">
                            <div class="input-box" ng-show="!vm.imgLoading">
                                <div class="up-local-img">
                                    <i class="typeface-code_shangchuan"></i>
                                    <span>上传本地图片</span>
                                </div>
                                <input type="file" class="up-pic" id="headId" onchange="angular.element(this).scope().uploadImage()" accept="image/gif,image/jpeg,image/png,image/psd,image/tiff,image/bmp">
                            </div>
                            <div class="loading-box" ng-show="vm.imgLoading">
                                <img style="margin-right: 10px;width: 36px;margin-bottom: 5px;" src="../../../assets/images/mxu/loading.gif" alt="">
                                <p>正在加载中</p>
                            </div>  
                        </div>
                    </div>
                    <div class="search-text" ng-click="vm.search()" ng-disabled="vm.showInput">搜索</div>
                    <input type="checkbox" class="support-input" ng-model="vm.isSupport" ng-change="vm.toggleApply()"><span class="support-tip">Ai智能检索</span>
                </div>
                <!-- start-从图片列表页跳转过来 -->
                <div class="hoge-table-search key-pic-box" ng-show="vm.picIds" ng-class="{'none-border':vm.showInput}">
                    <img class="figure" ng-show="!vm.searchPicUrl" src="../../../assets/images/mxu/avatar-100.jpg" alt="">
                    <img class="figure" ng-show="vm.searchPicUrl" ng-src="{{vm.searchPicUrl}}" alt="">
                    <span>为你找到{{vm.picNum}}张相似图片</span>
                </div>
                <!-- end -->
                <div class="hoge-table-search">
                    <span class="pull-left total-num">共{{vm.pageOptions.total}}个结果</span>
                    <!-- 来源 -->
                    <div class="btn-group dropdown pull-right chose-btn hoge-dropdown">
                        <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                            <span class="dropdown-label">{{vm.currentSource}}</span>
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu text-left text-sm font-12">
                            <a class="dropdown-item" ng-repeat="source in vm.sourceList" ng-click="vm.chooseSource(source)">{{source.name}}</a>
                        </div>
                    </div>
                    <!-- 状态 -->
                    <div class="btn-group dropdown pull-right chose-btn hoge-dropdown">
                        <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                            <span class="dropdown-label">{{vm.currentState}}</span>
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu text-left text-sm font-12">
                            <a class="dropdown-item" ng-repeat="state in vm.statusList" ng-click="vm.chooseState(state)">{{state.name}}</a>
                        </div>
                    </div>
                    <!--时间下拉-->
                    <div class="btn-group data-search pull-left hoge-dropdown" uib-dropdown>
                        <button class="btn btn-sm" uib-dropdown-toggle ng-class="{'long-width': !vm.currentDate.id}">
                            <span class="dropdown-label">{{vm.time}}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu text-left text-sm" uib-dropdown-menu ng-class="{'disOpen':vm.open}">
                            <li class="dropdown-item" ng-repeat="date in vm.dateSearch" ng-click="vm.chooseDate(date)">
                                <a>{{date.label}}</a>
                                <input id="datepicker" ng-if="vm.dateSearch.length - 1 === $index" date-range-picker ng-model="vm.rangeDate" class="opacity-0"
                                        type="text" options="vm.rangeOptions"/>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group dropdown pull-right chose-btn hoge-dropdown">
                        <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                            <span class="dropdown-label">{{vm.currentAuthor}}</span>
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu text-left text-sm font-12">
                            <div class="author-search-box">
                                <input type="text" class="author-input" placeholder="搜索..." ng-keypress="vm.keyPress($event)" ng-model="vm.authorKey" ng-change="vm.keyChange()">
                            </div>
                            <div class="author-list-box">
                                <a class="dropdown-item" ng-repeat="author in vm.authorList" ng-click="vm.chooseAuthor(author)">{{author.name}}</a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group hoge-input-search pull-right" >
                        <input type="text" placeholder="搜索..." ng-keypress="vm.keyPress($event)" ng-model="vm.key">
                        <i class="fa typeface-searchbar_sousuo" ng-click="vm.search()"></i>
                    </div> -->
                </div>
              <div class="hoge-error hoge-error-hight" ng-if="!vm.finishedProductList.length">
                  <div>
                      <div class="error-img"></div>
                      <p translate="user.noData"></p>
                  </div>
              </div>
              <div class="list_header hoge-table-header" ng-show="vm.finishedProductList.length">
                  <div class="wrap">
                      <div class="list-ctr"></div>
                       <div class="list-user">稿件</div> 
                      <div class="list-name">发布栏目</div>
                      <!-- <div class="list-usergroup">用户分组</div> -->
                      <div class="list-phone" >内容分类</div>
                      <div class="list-department">作者</div>
                      <div class="list-character">访问数</div>
                      <div class="list-status">状态</div>
                      <div class="list-time">来源</div>
                      <div class="list-author" ng-click="vm.doSort('shooting_time')">拍摄时间
                        <div class="icon_sort">
                            <i  class="fa fa-sort-asc" ng-class="{none:vm.sort_key=='shooting_time'&& vm.sort_type=='desc',top:vm.sort_key=='shooting_time'&& vm.sort_type=='asc'}"></i>
                            <i  class="fa fa-sort-desc" ng-class="{bottom:vm.sort_key=='shooting_time'&& vm.sort_type=='desc',none:vm.sort_key=='shooting_time'&& vm.sort_type=='asc'}"></i>
                        </div>
                      </div>
                      <div class="list-i">操作</div>
                  </div>
              </div>
              <div class="list white" ng-show="vm.finishedProductList.length">
                  <div class="list-item hoge-item-border" ng-repeat="item in vm.finishedProductList track by $index">
                      <div class="list-ctr">
                          <label class="checkbox-inline">
                              <input type="checkbox" value="option1" ng-checked="vm.itemCheck(item)" ng-click="vm.toggle(item)">
                          </label>
                      </div>
    
                      <div class="list-user" ng-click="vm.goPicDetail(item)">
                          <div class="list-left">
                                <!-- ../assets/images/mxu/img_cover.png -->
                            <img class="index-pic" ng-show="!item.index_pic" src="../assets/images/mxu/img_cover.png">
                            <img class="index-pic" ng-show="item.index_pic" ng-src="{{item.index_pic}}">
                            <span class="pic-count">{{item.photo_count}}</span>
                          </div>
                          <div class="list-body">
                              <span class="title-text">{{item.title}}</span>
                              <small class="min-title" title="{{item.brief}}">{{item.brief}}</small>
                          </div>
                      </div>
    
                      <div class="list-name">
                          {{item.publish_column_name}}
                      </div>
                      <!-- <div class="list-usergroup">
                          <span>{{item.group_name?item.group_name:'暂无分组'}}</span>
                      </div> -->
                      <div class="list-phone">
                          <span>{{item.category_name}}</span>
                      </div>
                      <div class="list-department">
                          <span title="{{item.author}}">{{item.author}}</span>
                      </div>
                      <div class="list-character">
                          <span>{{item.clicks}}</span>
                      </div>
                      <div class="list-status">
                          <span ng-show="item.status == 3" class="green-color">已上网</span>
                          <span ng-show="item.status == 23" class="black-color">已下网</span>
                          <span ng-show="item.status == 2" class="green-color">待上网</span>
                          <span ng-show="item.status == 24" class="">已隔离</span>
                      </div>
                      <div class="list-time">
                        <span>{{item.source}}</span>
                      </div>
                      <div class="list-author">
                        <span>{{item.shoot_time}}</span>
                    </div>
                      <!-- <div class="hoge-list-i" ng-if="item.can_operate != 1" style="margin-left: 29px;"></div> -->
                      <div class="hoge-list-i" style="width: 25px;margin-left: 30px;"  ng-mouseenter="vm.showOpera(item)" ng-mouseleave="vm.hideOpera(item)">
                          <div class="icon-tool pull-right">
                              <i class="typeface-list_caozuo hoge-list_caozuo"
                                 ng-class="{'active-bg':item.searchShow}"
                              ></i>
                              <div class="pull-right list-icon-opera" ng-style="{'right': '40px'}" ng-class="{'opera-show':item.searchShow,'opera-hide':!item.searchShow}">
                                  <div class="btn-group">
                                      <button class=" btn hoge-drop-icon" ng-click="vm.goPicDetail(item)">详情</button>
                                      <button class=" btn hoge-drop-icon" ng-click="vm.goWeb(item)">上网</button>
                                      <button class=" btn hoge-drop-icon" ng-click="vm.goDownWeb(item)" ng-if="item.status != 2">下网</button>
                                      <button class=" btn hoge-drop-icon" ng-click="vm.goDelete(item)">删除</button>
                                      <button class="btn hoge-drop-icon" ng-click="vm.goIsolation(item)">隔离</button>
                                      <button class=" btn hoge-drop-icon down-btn">
                                          <span>下载</span>
                                          <ul class="download-opera">
                                              <li class="download-size"><a  ng-href="{{vm.originalUrl}}" ng-click="vm.downLoad('original',item)">原图</a></li>
                                              <li class="download-size"><a  ng-href="{{vm.highUrl}}" ng-click="vm.downLoad('high',item)">高图(1500px)</a></li>
                                              <li class="download-size"><a  ng-href="{{vm.commonUrl}}" ng-click="vm.downLoad('common',item)">常规(600px)</a></li>
                                          </ul>
                                      </button>     
                                  </div>
                              </div>
                          </div>
                    </div>
                  </div>
                  <!--bottom-->
                  <div class="list_bottom white hoge-table-bottom">
                      <div class="btn-group">
                          <label class="checkbox-inline">
                              <input type="checkbox" value="option1" ng-checked="vm.allChecked()" ng-click="vm.toggleAll()" >{{ 'user.select'| translate}}
                          </label>
                      </div>
                      <div class="btn-toolbar list_bar flex-one btn-box">
                          <div class="btn-group">
                              <button class="btn btn-outline btn-comment" ng-click="vm.surfAll()">上网</button>
                          </div>
                          <div class="btn-group">
                              <button class="btn btn-outline btn-comment" ng-click="vm.goDownWeb()">下网</button>
                          </div>
                          <div class="btn-group">
                              <button class="btn del-btn" ng-click="vm.deleteAll()">删除</button>
                          </div>
                          <div class="btn-group">
                              <button class="btn del-btn" ng-click="vm.goIsolation()">隔离</button>
                          </div>
                      </div>
                      <page-nation options="vm.pageOptions" turn-page="vm.goPage()" ng-show="vm.pageOptions.total > 10"></page-nation>
                  </div>
                  <!--bottom-->
    
              </div>
              <!-- / list -->
          </div>
    
      </div>
    
    </div>
  </div>
  <m2o-footer ></m2o-footer>
</div>