<div class="mxu_add_customer">
    <div class="p-v-md">
        <div class="hoge-edit-head">
            <!-- <div class="hoge-return-body" onclick="history.back(-1)">
                <i class="fa typeface-menu_fanhuiliebiao" ></i>
                <span class="return-tip">返回列表</span>
            </div> -->
            <em class="title-w">
                <span style="cursor: pointer;" ng-show="vm.fromPreType == 'isolate'" onclick="history.back(-1)">隔离库</span>
                <span style="cursor: pointer;" ng-show="vm.fromPreType == 'finished'" onclick="history.back(-1)">成品库</span>
                <span style="cursor: pointer;" ng-show="vm.fromPreType == 'libraries'" onclick="history.back(-1)">发布库</span>
                ／<span>搜索结果</span></em>
        </div>
    </div>
    <div class="pic-wrap-box" style="box-shadow: none;border-radius: 4px;" my-loading="vm.edit_loading">
       <div class="statistical-header">
          <div class="image-statistical" ng-show="vm.imageKeyUrl">
              <img class="figure" ng-src="{{vm.imageKeyUrl}}" alt="">
              <span>为你找到{{vm.imageNum}}张相似图片</span>
          </div>
          <!-- 关键字 -->
          <div class="keywords-statistical" ng-show="!vm.imageKeyUrl">
              <span class="keywords">"{{vm.imageKeyword}}"</span>
              <span>为你找到{{vm.imageNum}}张相似图片</span>
          </div>
       </div>
       <div class="image-list-box">
         <div class="image-item-box" ng-repeat="imageItem in vm.imageList track by $index">
            <img class="figure" ng-click="vm.goList(imageItem)" ng-src="{{imageItem.url}}" alt="">
            <div class="icon-box" ng-click="vm.goList(imageItem)">
              <i class="fa typeface-caozuo_biaotichachong"></i>
              <span>{{imageItem.count}}</span>
            </div>
         </div>
       </div>
    </div>
</div>
