<div class="face-detail-wrap">
    <div class="hoge-return-body" onclick="history.back(-1)">
        <i class="fa typeface-menu_fanhuiliebiao" ></i>
        <span class="return-tip">返回列表</span>
    </div>
    <div class="face-list-head d-flex">
        <img class="image" ng-src="{{vm.faceDetail.face_image.image.host}}{{vm.faceDetail.face_image.image.dir}}{{vm.faceDetail.face_image.image.filepath}}{{vm.faceDetail.face_image.image.filename}}" />
        <div class="face-info flex-one">
            <div class="d-flex flex-between">
                <div class="d-flex flex-v-center">
                    <span class="face-detail-title">{{vm.faceDetail.title}}</span>
                    <span class="face-detail-isolate" ng-if="vm.faceDetail.is_isolation == 2"><i class="arrow-left"></i>已隔离</span>
                </div>
                <div class="d-flex flex-v-center">
                    <span class="cancle-isolate" ng-if="vm.faceDetail.is_isolation == 1"  ng-click="vm.geliPerson()">隔离</span>
                    <span class="cancle-isolate" ng-if="vm.faceDetail.is_isolation == 2" ng-click="vm.geliCancle()">取消隔离</span>
                    <span class="edit-person-info" ng-click="vm.edit(vm.faceDetail.id)">编辑人像信息</span>
                </div>
            </div>
            <div class="face-detail-num">ID：{{vm.faceDetail.id}}</div>
            <div class="face-detail-desc">{{vm.faceDetail.desc}}</div>
        </div>
    </div>
    <div class="face-list-body">
        <div class="manuscript-title">共{{vm.pageOptions.total}}个稿件</div>
        <div class="manuscript-content">
            <div class="d-flex flex-v-center face-list-body-header">
                <input type="checkbox" class="check-box">
                <div class="flex-one flex-v-center">作品</div>
                <div class="pictures">图片数</div>
                <div class="sort">分类</div>
                <div class="author">作者</div>
                <div class="access-number">访问数</div>
                <div class="status">状态</div>
                <div class="source">来源</div>
                <div class="time">拍摄时间</div>
                <div class="operation">操作</div>
            </div>
            <div class="face-list-body-content" >
                <div class="d-flex flex-v-center list-item" ng-repeat="list in vm.faceAtlasList" ng-class="{'border-blue':vm.itemCheck(list.id)}" ng-if="vm.faceAtlasList.length > 0" my-loading="vm.loading">
                        <input type="checkbox" class="check-box" ng-checked="vm.itemCheck(list.id)" ng-click="vm.toggle(list)">
                    <div class="flex-one list-item-each">
                        <img class="imgs" ng-if="!list.index_pic" ng-src="{{list.index_pic}}" />
                        <div class="infoes">
                            <span class="title">{{list.title}}</span>
                            <span class="desc">{{list.brief}}</span>
                        </div>
                    </div>
                    <div class="pictures">{{list.photo_count}}</div>
                    <div class="sort">{{list.category_name}}</div>
                    <div class="author">{{list.author}}</div>
                    <div class="access-number">{{list.clicks}}</div>
                    <div class="status" ng-if="list.status === 2">待上网</div>
                    <div class="status" ng-if="list.status === 3">已上网</div>
                    <div class="status" ng-if="list.status === 23">已下网</div>
                    <div class="source">{{list.source}}</div>
                    <div class="time">{{list.shoot_time}}</div>
                    <div class="hoge-list-i" ng-mouseenter="vm.showOpera(list)" ng-mouseleave="vm.hideOpera(list)">
                        <div class="icon-tool pull-right">
                            <i class="typeface-list_caozuo hoge-list_caozuo"
                                ng-class="{'active-bg':list.operaShow}"></i>
                            <div class="pull-right list-icon-opera" ng-style="{'bottom': '0px','right': '40px'}" ng-class="{'opera-show':list.operaShow,'opera-hide':!list.operaShow}">
                                <div class="btn-group">
                                    <!--编辑-->
                                    <button class="btn hoge-drop-icon" ng-click="vm.auditFile(list)">隔离</button>
                                    <button class="btn hoge-drop-icon" ng-click="vm.delFile(list.id)">删除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hoge-error class="error-hight error-tip" hight-num="'300px'" arr-length="vm.faceAtlasList.length" ng-show="!vm.loading && vm.faceAtlasList.length == 0"></hoge-error>
            </div>
            <div class="face-list-footer d-flex">
                <div class="flex-one d-flex">
                    <div class="flex-v-center face-all-check">
                        <input type="checkbox" class="check-box" ng-checked="vm.allChecked()" ng-click="vm.toggleAll()"><span class="all-checks">全选</span>
                    </div>
                    <!-- <button class="btn face-isolate-button" ng-click="vm.auditAllFile()">隔离</button> -->
                    <button class="btn face-del-button" ng-click="vm.delAllFile()">删除</button>
                </div>
                <page-nation ng-cloak class="sub-page list-page" options="vm.pageOptions" turn-page="vm.changePage()"></page-nation>
            </div>
        </div>
    </div>
</div>