<div class="mxu_add_role">
        <div class="p-v-md">
            <div class="hoge-edit-head">
                <div class="hoge-return-body" ui-sref="app.memberRole({page:vm.pageCount,per_num:vm.pageSize})">
                    <i class="fa typeface-menu_fanhuiliebiao" ></i>
                    <span class="return-tip">返回列表</span>
                </div>
                <em>{{vm.currentId ? '编辑角色' : '新增角色'}}</em>
            </div>
        </div>
    
        <div class="edit-form">
            <!--基本信息-->
            <div class="form-card">
                <div class="header">基本信息</div>
                <div class="content">
                    <div class="form-group">
                        <label class="label-name">角色名称</label>
                        <input type="text" ng-model="vm.roleDetail.name" ng-focus="vm.titleFocus = true"
                               ng-class="{'focus-color':vm.titleFocus}" ng-blur="vm.titleFocus = false"  maxlength="10">
                        <div class="count">
                            <div num-count="vm.roleDetail.name" count-top="-26" count-max="10" count-position="right"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-name">描述</label>
                        <textarea class="text-top" cols="30" rows="4" ng-model="vm.roleDetail.description" ng-focus="vm.briefFocus = true"
                                  ng-class="{'focus-color':vm.briefFocus}" ng-blur="vm.briefFocus = false" maxlength="128"></textarea>
                        <div class="count">
                            <div num-count="vm.roleDetail.description" count-top="-17" count-max="128" count-position="right"></div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!--应用权限(Brothers, please take your cell phone, call ready to do 120, I have not done, rely on you! ! !)-->
            <!-- <div class="form-card">
                <div class="header">
                    应用权限
                </div>
                <div class="card-body">
                    <div class="card-list">
                        <div class="card-list-column" ng-repeat="application in vm.applyPermission">
                            <div class="card-list-title">
                                <label ng-class="{'indeterminate': vm.applicationPartChecked(application)}">
                                    <input type="checkbox" ng-checked="vm.checkAllApplication(application)" ng-click="vm.handleAllCheck(application)">
                                </label>
                                {{application.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="form-card">
                    <div class="header">
                        应用权限
                    </div>
                    <div class="card-body" my-loading="vm.cardLoading">
                        <div class="card-list">
                            <div class="card-list-column">
                                <div class="card-list-title">
                                    
                                </div>
                                <div class="list-box">
                                    <div class="list">
                                        <div class="item">
                                            <label class="checkbox-inline m-r" ng-class="{'indeterminate': vm.modulepPartChecked(modular)}"> <!-- ng-class="vm.handleCheck(modular)" -->
                                                <input type="checkbox" ng-checked="vm.roleDetail.low_dpi_watermark" ng-click="vm.handleCheckA(vm.roleDetail.low_dpi_watermark)">低分辨率带水印下载
                                            </label>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="item">
                                            <label class="checkbox-inline m-r" ng-class="{'indeterminate': vm.modulepPartChecked(modular)}"> <!-- ng-class="vm.handleCheck(modular)" -->
                                                <input type="checkbox" ng-checked="vm.roleDetail.low_dpi" ng-click="vm.handleCheckB(vm.roleDetail.low_dpi)">低分辨率下载
                                            </label>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="item">
                                            <label class="checkbox-inline m-r" ng-class="{'indeterminate': vm.modulepPartChecked(modular)}"> <!-- ng-class="vm.handleCheck(modular)" -->
                                                <input type="checkbox" ng-checked="vm.roleDetail.high_dpi" ng-click="vm.handleCheckC(vm.roleDetail.high_dpi)">高分辨率下载
                                            </label>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="item">
                                            <label class="checkbox-inline m-r" ng-class="{'indeterminate': vm.modulepPartChecked(modular)}"> <!-- ng-class="vm.handleCheck(modular)" -->
                                                <input type="checkbox" ng-checked="vm.roleDetail.original_drawing" ng-click="vm.handleCheckD(vm.roleDetail.original_drawing)">原图下载
                                            </label>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="item">
                                            <label class="checkbox-inline m-r" ng-class="{'indeterminate': vm.modulepPartChecked(modular)}"> <!-- ng-class="vm.handleCheck(modular)" -->
                                                <input type="checkbox" ng-checked="vm.roleDetail.score" ng-click="vm.handleCheckE(vm.roleDetail.score)">评分
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            <div class="md-form-group">
                <button type="submit" class="btn primary-btn m-r" my-loading="vm.loading" ng-click="vm.save()">保存</button>
                <button class="btn cancel-btn" ng-click="vm.cancel()">取消</button>
            </div>
        </div>
    </div>