<div class="video-edit-wrap">
  <div class="header">
    <span class="title">添加视频</span>
    <i class="close-icon" ng-click="vm.close()"></i>
  </div>
  <div class="content">
    <div class="search-wrap">
      <input type="text" placeholder="请输入" class="search-input" ng-model="vm.keyword"/>
      <span class="search-btn" ng-click="vm.searchVideo()">搜索</span>
    </div>
    <div class="video-list d-flex">
      <div class="nav_classify pos-rlt video-classify">
        <div class="classify-list">
          <nav class="navside m-b">
            <div class="nav-border b-primary" flex>
              <class-tree 
                class="classify-tree"
                no-add = "true"
                no-edit ="true"
                no-del ="true"
                tree-data="vm.navList"
                sort-id="vm.storage"
                get-child="vm.getChilds(item)"
                select-class="vm.selectClass(param)"
                tree-level="10"
                is-show-item="-1">
              </class-tree>
            </div>
          </nav>
        </div>
      </div>
      <div class="video-wrap flex-one">
        <div class="video-list-wrap">
          <div class="video-list-item" 
          ng-repeat="item in vm.videoList" 
          ng-click="vm.checkVideo(item)"
          ng-class="{'is-sel': vm.checkVideoId.indexOf(item.id) > -1}">
            <div class="video-mask">
              <i class="analyze-status" ng-class="{'analyze-finished': item.if_analyze === 1,
                          'is-analyzing': item.if_analyze === 2,
                          'no-analyze': item.if_analyze === 0}">
              </i>
              <img ng-src="{{item.index_pic}}" class="video-img">
              <div class="video-info">
                <span class="video-time text-truncate">{{item.duration_format}}</span>
                <!-- <i class="icon-chakan"></i> -->
              </div>
            </div>
            <div class="text-truncate video-title">{{item.title}}</div>
          </div>
        </div>
        <page-nation  options="vm.pageOptions" turn-page="vm.changePage()" class="add-video-page"></page-nation>
      </div>
    </div>
  </div>
  <div class="footer">
    <span class="add-cancel-btn" ng-click="vm.close()">取消</span>
    <span class="add-confirm-btn" ng-click="vm.saveVideo()">确定</span>
  </div>
</div>