<!-- 素材编辑侧边栏 -->
<div class="sel-labels d-flex" ng-if="vm.selLabels.length > 0">
  <div class="labels-wrap" my-loading="vm.loadingTemplate">
    <div 
      ng-repeat="(key, item) in vm.selLabels" 
      class="content-label"
      ng-class="{'is-sel': vm.selEditTemplate.uuid === item.uuid}"
      ng-click="vm.checkLabel(item)">
      <div class="label-item">
        <div class="line" ng-show="key + 1 !== vm.selLabels.length"></div>
        <div class="top-wrap">
          <span class="circle"></span>
          <span class="time">{{vm.transformTime(item.start)}}</span>
          <i class="del-icon" ng-click="vm.delTemplate(item, key)" ng-if="vm.selEditTemplate.uuid === item.uuid"></i>
        </div>
        <div class="content" ng-click="vm.editTemplate(item)">
          <img ng-src="{{item.static_path}}" class="label-mask">
        </div>
      </div>
    </div>
  </div>
  <!-- 素材编辑区域 -->
  <div class="label-setting">
    <div class="style-wrap"  ng-show="vm.selEditTemplate.label_id">
      <div class="title flex-v-center">
        <span class="split-line"></span>
        <span>内容和样式</span>
      </div>
      <div ng-repeat="item in vm.selEditTemplate.lab_content.texts">
        <div class="time-wrap" ng-if="item.type === 'date'">
          <div class="style-title">{{item.name}}</div>
          <input type="text" ng-model="item.text.y" ng-blur="vm.updateText()" ng-if="item.text.y" maxlength="4" ng-focus="vm.focusText()">
          <label for="" class="year-title" ng-if="item.text.y">年</label>
          <input type="text" ng-model="item.text.m" ng-blur="vm.updateText()" maxlength="2" ng-focus="vm.focusText()">
          <label for="" class="year-title">月</label>
          <input type="text" ng-model="item.text.d" ng-blur="vm.updateText()" maxlength="2" ng-focus="vm.focusText()">
          <label for="" class="day-title">日</label>
        </div>
        <div class="time-wrap update-time" ng-if="item.type === 'time'">
          <input type="text" ng-model="item.text.h" ng-blur="vm.updateText()" maxlength="2" ng-focus="vm.focusText()">
          <label for="" class="colon-title">:</label>
          <input type="text" ng-model="item.text.s" ng-blur="vm.updateText()" maxlength="2" ng-focus="vm.focusText()">
        </div>
        <div class="address-wrap" ng-if="item.type !== 'time' && item.type !== 'date'">
          <div class="style-title">{{item.name}}</div>
          <input type="text" ng-model="item.text" ng-blur="vm.updateText()" ng-focus="vm.focusText()">
        </div>
      </div>
      <div class="position-wrap">
        <div class="style-title">位置</div>
        <div class="position-list">
          <span 
            ng-repeat="item in vm.positionList" 
            ng-click="vm.changePosition(item)" 
            class="position-item"
            ng-class="{'selected':vm.selPosition === item.type}">
          </span>
        </div>
      </div>
    </div>
    <div class="intelligence-position" ng-if="vm.selFaceLabel.time">
      <div class="title flex-v-center">
        <span class="split-line"></span>
        <span>智能定位</span>
        <span class="tips">点击切换标签位置</span>
      </div>
      <div class="person-wrap" ng-if="vm.selFaceLabel.time.length > 0">
        <div class="flex-v-center">
          <img ng-src="{{vm.selFaceLabel.face_path}}" class="avatar">
          <div>
            <div class="name">{{vm.selFaceLabel.name || '未知'}}</div>
            <div>共出现{{vm.selFaceLabel.time.length}}处</div>
          </div>
        </div>
        <div class="time-wrap">
          <span class="time-item" 
            ng-repeat="(index, val) in vm.selFaceLabel.time"
            ng-class="{'selected-time': vm.selFaceLabel.selTime === val.start}"
            ng-click="vm.chooseTime(vm.selFaceLabel, val, vm.selFaceLabel.key, index, vm.selFaceLabel.currentIndex)">
            {{vm.transformTime(val.showStart)}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sel-labels" ng-if="!vm.loadingTemplate && !(vm.selLabels.length > 0)">
  <div class="no-data">
    <img src="/assets/images/mxu/edit-video/img_biaoqiankong@2x.png" class="img-tip">
    <div class="text-tip">选择上方标签后即可开始编辑</div>
  </div>
</div>