<div class="video-edit-wrap">
  <div class="header">
    <span class="title">快捷键</span>
  </div>
  <div class="content">
    <div class="key-wrap flex-v-center">
      <span class="key-name">后退1帧</span>
      <span class="key-code">&lt;--&nbsp;左键</span>
    </div>
    <div class="key-wrap flex-v-center">
      <span class="key-name">前进1帧</span>
      <span class="key-code">--&gt;&nbsp;右键</span>
    </div>
    <div class="key-wrap flex-v-center">
      <span class="key-name">播放/暂停</span>
      <span class="key-code">space&nbsp;空格键</span>
    </div>
    <div class="key-wrap flex-v-center">
      <span class="key-name">裁剪</span>
      <span class="key-code">option&nbsp;+&nbsp;c&nbsp;键</span>
    </div>
    <div class="key-wrap flex-v-center">
      <span class="key-name">删除当前选中项</span>
      <span class="key-code">delete&nbsp;删除键</span>
    </div>
  </div>
  <div class="footer">
    <span class="add-cancel-btn" ng-click="vm.close()">关闭</span>
  </div>
</div>