<div class="layout">
    <div class="side-bar">
      <ul>
        <li class="bar-item">
          <div class="bar">
            <i class="bar-icon personal-icon"></i>
            <span class="personal-title">个人资源</span>
          </div>
          <div class="bar-child" ng-class="{'selected': vm.currentTab == 'personalMy'}" ng-click="vm.changeTab('personalMy')">
            <i class="bar-icon my-resource-icon"></i>
            <span class="title">我的资源</span>
          </div>
          <div class="bar-child" ng-class="{'selected': vm.currentTab == 'personalRecovery'}" ng-click="vm.changeTab('personalRecovery')">
            <i class="bar-icon del-icon"></i>
            <span class="title">回收站</span>
          </div>
        </li>
        <li class="bar-item" ng-if="vm.public_resource">
          <div class="bar">
            <i class="bar-icon public-icon"></i>
            <span class="public-title">公共资源</span>
          </div>
          <div class="bar-child" ng-class="{'selected': vm.currentTab == 'publicMy'}" ng-click="vm.changeTab('publicMy')">
              <i class="bar-icon share-icon"></i>
              <span class="title">共享资源</span>
            </div>
            <div 
            ng-if="vm.userInfo.all_prms === 1 || vm.public_bucket"
            class="bar-child" 
            ng-class="{'selected': vm.currentTab == 'publicRecovery'}" 
            ng-click="vm.changeTab('publicRecovery')">
              <i class="bar-icon del-icon"></i>
              <span class="title">回收站</span>
            </div>
        </li>
      </ul>
    </div>
    <div class="content">
      <!-- 顶部操作 -->
      <div class="header">
        <div class="btn-wrap" ng-if="vm.currentTab.indexOf('My') > -1">
          <!-- <span class="upload-btn" ng-if="vm.currentTab.indexOf('personal') > -1">
            <i class="upload-icon"></i>
            <span>上传</span>
            <input  class="input-upload" type="file" nv-file-select  uploader="vm.localUploader">
          </span>
          <span class="upload-btn" ng-if="vm.currentTab.indexOf('public') > -1 && vm.showTag('public-upload', 1)">
              <i class="upload-icon"></i>
              <span>上传</span>
              <input  class="input-upload" type="file" nv-file-select  uploader="vm.commonUploader" multiple>
          </span> -->
          <span class="operate-btn add-btn" ng-click="vm.showInput()" 
            ng-if="vm.showTag('public-create', 1) && vm.public_create">
            <i class="new-icon"></i>
            <span>新建文件夹</span>
          </span>
          <span class="startUpload-btn" ng-click="vm.batchUpload()" ng-if="vm.public_upload && (vm.currentTab.indexOf('public') > -1 ||vm.currentTab.indexOf('personal')) > -1">
              <span>文件上传</span>
              <!-- <input  class="input-upload" type="button" ng-click="vm.startUpload()"> -->
          </span>
          <!-- <div style="display: inline-block;" ng-if="vm.selectedFile.length > 0">
            <span class="operate-btn" 
              ng-click="vm.downloadFile('all')" 
              ng-if="vm.showTag('public-download', 1)">
              <i class="download-icon"></i>
              <span>下载</span>
            </span>
            <span class="operate-btn" ng-click="vm.delAllFile()"
              ng-if="vm.showTag('public-delete', 1)">
              <i class="delete-icon"></i>
              <span>删除</span>
            </span>
            <div class="more-operate" ng-if="vm.currentTab.indexOf('public') > -1 ? 
              (vm.userInfo.all_prms === 1 ? 
              1 : (vm.userInfo.prms.indexOf('public-rename') > -1) 
              || vm.userInfo.prms.indexOf('public-copy') > -1 
              || vm.userInfo.prms.indexOf('public-move') > -1) : 1">
              <span class="operate-btn" data-toggle="dropdown">
                <span>更多</span>
                <i class="more-icon"></i>
              </span>
              <div class="dropdown-menu">
                <a class="dropdown-item" ng-repeat="item in vm.operate track by $index" 
                ng-click="vm.selOperate(item.type)"
                ng-hide="item.value === '重命名' && vm.selectedFile.length > 1"
                ng-if="vm.showTag(item.sign, 1)">{{item.value}}</a>
              </div>
            </div>
          </div> -->
        </div>
        <div class="btn-wrap" ng-if="vm.currentTab == 'personalRecovery' || vm.currentTab == 'publicRecovery'">
          <span class="operate-btn" ng-click="vm.refresh()">
            <i class="refresh-icon"></i>
            <span>刷新</span>
          </span>
          <span class="operate-btn" ng-click="vm.completeDel('all')">
            <i class="delete-icon"></i>
            <span>删除</span>
          </span>
          <!-- 暂时隐藏 -->
          <!-- <span class="operate-btn" ng-click="vm.clearFile()">
            <i class="clear-icon"></i>
            <span>清空回收站</span>
          </span> -->
          <span class="operate-btn" ng-click="vm.restoreFile()">
            <i class="restore-icon"></i>
            <span>还原</span>
          </span>
        </div>
        <div class="btn-wrap right-one">
          <div class="btn-group dropdown hoge-dropdown all-type">
            <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
              <span class="dropdown-label">{{vm.chooseType}}</span>
              <span class="caret"></span>
            </button>
            <div class="dropdown-menu text-left text-sm">
              <a class="dropdown-item" ng-repeat="item in vm.typeList" ng-click="vm.changeType(item)">{{item.name}}</a>
            </div>
          </div>
          <search-Box key-Word="vm.key"
                      search-Key="vm.search(Item)"
                      key-Press="vm.keyPress(Event)"
                      hide-Kind="vm.hideAccessKind"
                      is-Focus="vm.isFocus"
                      clear-Float="true"
                      place-Holder="vm.placeHolder"
          >         
          </search-Box>
          <!-- <div class="hoge-input-search my-search-wrap" ng-class="{'is-focus': vm.isFocus}">
            <input type="text" class="my-search-input" placeholder="搜索" ng-keypress="vm.keyPress($event)" ng-model="vm.keyword"
            ng-focus="vm.isFocus = true" ng-blur="vm.isFocus = false">
            <i class="fa typeface-searchbar_sousuo" ng-click="vm.search()"></i>
          </div> -->
          <div class="sort-wrap">
            <i class="sort-icon" data-toggle="dropdown"></i>
            <div class="dropdown-menu">
              <a class="dropdown-item" ng-repeat="(key, item) in vm.sortList" 
                ng-click="vm.checkSort(item, key)">
                <i class="sel-icon" ng-if="vm.params.order === item.type"></i>
                {{item.name}}
              </a>
            </div>
          </div>
          <i class="layout-icon" ng-class="{'pic-icon': !vm.isList}" ng-click="vm.isList = !vm.isList"></i>
        </div>
      </div>
      <!-- 面包屑 -->
      <div class="bread-crumb">
        <span class="go-back is-click-btn" ng-click="vm.goBack()" ng-if="vm.sideBar.length > 2">返回上一级</span>
        <span ng-repeat="(index, item) in vm.sideBar" ng-click="vm.backDetail(item, index)" 
          ng-class="{'is-last': index + 1 == vm.sideBar.length}">
          <span ng-class="{'is-click-btn': index !== 0 && index + 1 !== vm.sideBar.length}">{{item.name}}</span>
          <span ng-hide="index + 1 == vm.sideBar.length" class="fa fa-angle-right right-icon"></span>
        </span>
      </div>
      <!-- 列表模式 -->
      <ul class="list-content" ng-if="vm.isList" my-loading="vm.loading">
        <!-- 头部 标题栏 -->
        <li class="list-header d-flex">
          <div class="list-ctr"></div>
          <div class="flex-one">文件名称</div>
          <div class="file-size">
            大小
            <i class="icon-up" ng-if="vm.params.order === 'file_size' && vm.params.sort === 'desc'"></i>
            <i class="icon-down" ng-if="vm.params.order === 'file_size' && vm.params.sort === 'asc'"></i>
          </div>
          <div class="update-time">
            修改日期
            <i class="icon-up" ng-if="vm.params.order === 'updated_at' && vm.params.sort === 'desc'"></i>
            <i class="icon-down" ng-if="vm.params.order === 'updated_at' && vm.params.sort === 'asc'"></i>
          </div>
          <div class="update-operation">
            操作人
          </div>
          <div class="operate-list"></div>
        </li>
        <!-- end -->
        <!-- 新建文件夹 -->
        <li class="d-flex list-item1" ng-if="vm.showNew">
          <input type="checkbox" class="check-box" disabled>
          <div class="flex-one file-name-wrap" id="add-list">
            <i class="icon icon-folder"></i>
            <input class="new-title" type="text" autofocus="autofocus" onfocus="this.select()" 
              ng-model="vm.folderTitle" ng-keypress="vm.keySave($event)">
            <i class="queren-icon" ng-click="vm.saveFolder()" ng-class="{'disabled': vm.isSave}" style="margin: 0 10px;"></i>
            <i class="shanchu-icon" ng-click="vm.cancelFolder()"></i>
          </div>
          <div class="file-size">-</div>
          <div class="update-time">-</div>
          <div class="update-operation">-</div>
          <div class="operate">-</div>
        </li>
        <!-- end -->
        <li class="list-item1 d-flex list-body" 
          ng-repeat="(index,item) in vm.fileList" 
          ng-class="{'sel-list': vm.itemCheck(item.id)}"
          ng-click="vm.checkLi($event, item)"
          >
          <input type="checkbox" class="check-box" ng-checked="vm.itemCheck(item.id)"  ng-click="vm.selFile($event, item)">
          <div class="flex-one file-name-wrap">
            <i class="icon icon-folder file-icon" ng-if="item.file_type === 'directory'"></i>
            <i class="icon icon-image file-icon" ng-if="item.file_type === 'image'"></i>
            <i class="icon icon-pdf file-icon" ng-if="item.extension === 'pdf'"></i>
            <i class="icon icon-doc file-icon" ng-if="item.extension == 'doc' || item.extension == 'docx'"></i>
            <i class="icon icon-ppt file-icon" ng-if="item.extension === 'ppt'"></i>
            <i class="icon icon-psd file-icon" ng-if="item.extension === 'psd'"></i>
            <i class="icon icon-esp file-icon" ng-if="item.extension === 'esp'"></i>
            <i class="icon icon-music file-icon" ng-if="item.file_type === 'audio'"></i>
            <i class="icon icon-video file-icon" ng-if="item.file_type === 'video'"></i>
            <i class="icon icon-zip file-icon" ng-if="item.extension === 'zip'||item.extension === 'rar'"></i>
            <i class="icon icon-xlsx file-icon" ng-if="item.extension === 'xlsx' || item.extension === 'xls'"></i>
            <i class="icon icon-moren file-icon" 
              ng-if="item.extension !== 'xlsx'&& item.extension !== 'xls'&&item.extension !== 'zip'&&item.extension !== 'rar'&&item.extension !== 'pdf'
              &&item.extension !== 'ppt'&&item.extension !== 'doc'&&item.extension !== 'docx'&&item.file_type === 'document' "></i>
            <span ng-if="vm.modifyId !== item.id" class="file-list-name">
              <span class="name" ng-click="vm.checkFileName($event, item)">{{item.name}}</span>
            </span>
            <span ng-if="vm.modifyId == item.id" class="file-list-name">
              <input type="text" class="title modify-title" ng-model="vm.modifyTitle" autofocus="autofocus" 
              onfocus="this.select()" ng-focus="vm.focusInput($event)" ng-keypress="vm.keySaveName($event)" 
              ng-click="vm.focusInput($event)" ng-change="vm.focusInput($event)">
              <div class="icon-title">
                <i class="queren-icon" ng-class="{'disabled': vm.isSaveRename}" ng-click="vm.saveName($event)"></i>
                <i class="shanchu-icon" ng-click="vm.cancelName($event)"></i>
              </div>
            </span>
            <span class="more-operate-wrap" ng-if="vm.currentTab.indexOf('Recovery') === -1">
              <i class="download-icon" ng-click="vm.downloadFile(item)" ng-if="vm.public_download" ng-class="{'is-directory': item.file_type==='directory'}" 
              ></i>
              <i class="del-icon" ng-click="vm.delFile(item.id)" ng-if="vm.public_delete"
              ></i>
              <i class="more-icon" ng-click="vm.checkOperate($event, item,index)"></i>
              <ul class="list-operate" 
              ng-if="vm.selId == item.id && vm.currentTab !== 'publicRecovery' && vm.currentTab !== 'personalRecovery'"
              ng-mouseleave="vm.leave()" ng-style="{'top':((6>vm.fileList.length-index)&&vm.fileList.length>5)?vm.top+'px':35+'px'}">
                <li ng-repeat="(key, val) in vm.operateList" 
                  ng-click="vm.listOperate($event, val, item, key)"
                  ng-hide="vm.showList(item, val)"
                  ng-class="{'is-delete': val.type === 'public-delete'}"
                  ng-if="val.is_show && vm.showTag(val.type, 1)">
                  {{val.name}}
                </li>
              </ul>
            </span>
          </div>
          <div class="file-size">{{item.format_size || '-'}}</div>
          
          <div class="update-time">{{item.updated_at || '-'}}</div>
          <div class="update-operation">{{item.user_name || '-'}}</div>
          <!-- <div class="operate-list" ng-if="vm.currentTab.indexOf('Recovery') === -1">
            <i class="download-icon" ng-click="vm.downloadFile(item)" ng-class="{'is-directory': item.file_type==='directory'}" 
            ng-if="vm.selectedFile.indexOf(item.id) > -1&&vm.showTag('public-download', 1)"></i>
            <i class="del-icon" ng-click="vm.delFile(item.id)" 
            ng-if="vm.selectedFile.indexOf(item.id) > -1&&vm.showTag('public-delete', 1)"></i>
          </div> -->
          <div class="operate-list">
          </div>
        </li>
      </ul>
      <!-- 大图模式 -->
      <div class="picture-content"  ng-if="!vm.isList" my-loading="vm.loading">
        <!-- <div style="width: 50px;">
          <input type="checkbox" class="check-box" ng-checked="vm.allChecked()" ng-click="vm.checkAll()">
          <span ng-click="vm.checkAll()">全选</span>
        </div> -->
        <ul>
          <!-- 新建文件夹 -->
          <li class="pic-list-item new-folder" ng-if="vm.showNew">
            <div class="type-file">
              <i class="icon icon-folder file-icon"></i>
            </div>
            <div class="new-folder-title">
              <input type="text" class="folder-title" ng-model="vm.folderTitle" autofocus="autofocus" 
                onfocus="this.select()" ng-keypress="vm.keySave($event)">
              <div class="icon-wrap">
                <i class="queren-icon" ng-click="vm.saveFolder()" ng-class="{'disabled': vm.isSave}"></i>
                <i class="shanchu-icon" ng-click="vm.cancelFolder()"></i>
              </div>
            </div>
          </li>
          <!-- end -->
          <li class="pic-list-item" 
            ng-repeat="item in vm.fileList"  
            ng-class="{'sel': vm.selectedFile.indexOf(item.id) > -1, 'new-folder': vm.modifyId == item.id}"
            ng-click="vm.checkFileName($event, item)">
            <input type="checkbox" class="check-box" ng-checked="vm.itemCheck(item.id)" ng-click="vm.selFile($event, item)">
            <div class="type-file">
              <i class="icon icon-folder file-icon" ng-if="item.file_type === 'directory'"></i>
              <img class="icon icon-image file-icon" ng-if="item.file_type === 'image'" ng-src="{{item.url}}">
              <i class="icon icon-pdf file-icon" ng-if="item.extension === 'pdf'"></i>
              <i class="icon icon-doc file-icon" ng-if="item.extension == 'doc' || item.extension == 'docx'"></i>
              <i class="icon icon-ppt file-icon" ng-if="item.extension === 'ppt'"></i>
              <i class="icon icon-psd file-icon" ng-if="item.extension === 'psd'"></i>
              <i class="icon icon-esp file-icon" ng-if="item.extension === 'esp'"></i>
              <i class="icon icon-music file-icon" ng-if="item.file_type === 'audio'"></i>
              <i class="icon icon-video file-icon" ng-if="item.file_type === 'video'"></i>
              <i class="icon icon-zip file-icon" ng-if="item.extension === 'zip'"></i>
              <i class="icon icon-xlsx file-icon" ng-if="item.extension === 'xlsx'"></i>
              <i class="icon icon-moren file-icon" 
              ng-if="item.extension !== 'xlsx'&&item.extension !== 'zip'&&item.extension !== 'pdf'
              &&item.extension !== 'ppt'&&item.extension !== 'doc'&&item.extension !== 'docx'&&item.file_type === 'document'"></i>
            </div>
            <div class="new-folder-title">
              <input type="text" ng-model="vm.modifyTitle" class="folder-title" ng-if="vm.modifyId == item.id" autofocus="autofocus" 
                onfocus="this.select()" ng-focus="vm.focusInput($event)" ng-keypress="vm.keySaveName($event)" 
                ng-click="vm.focusInput($event)" ng-change="vm.focusInput($event)">
              <div class="icon-wrap" ng-if="vm.modifyId == item.id">
                <i class="queren-icon" ng-class="{'disabled': vm.isSaveRename}" ng-click="vm.saveName($event)"></i>
                <i class="shanchu-icon" ng-click="vm.cancelName($event)"></i>
              </div>
            </div>
            <div class="file-name" ng-if="vm.modifyId != item.id">{{item.name}}</div>
          </li>
        </ul>
      </div>
      <hoge-error class="error-hight error-tip" hight-num="'600px'" arr-length="vm.fileList.length" ng-show="!vm.loading && vm.fileList.length == 0"></hoge-error>
      <div class="list_bottom hoge-table-bottom border-bottom-radius" ng-if="vm.fileList.length>0">
        <div class="btn-group" ng-if="vm.currentTab == 'personalMy' || vm.currentTab == 'publicMy'">
          <label class="checkbox-inline">
            <input type="checkbox" class="check-box" ng-checked="vm.allChecked()" ng-click="vm.checkAll()">
              <span class="all-checked">全选</span>
          </label>
        </div>
        <div class="btn-toolbar list_bar flex-one btn-box" ng-if="vm.currentTab == 'personalMy' || vm.currentTab == 'publicMy'">
            <div class="btn-group">
                <button class="btn btn-comment" ng-click="vm.downloadFile('all')" ng-show="vm.public_download" >下载</button>
                <button class="btn del-btn" ng-click="vm.delAllFile()" ng-show="vm.public_delete">删除</button>
                <button class="btn btn-comment" ng-click="vm.selOperate('move')" ng-show="vm.public_move">移动</button>
                <button class="btn btn-comment" ng-click="vm.selOperate('copy')" ng-show="vm.public_copy">复制</button>
            </div>
        </div>
        <page-nation ng-cloak class="res-page" options="vm.pageOptions" turn-page="vm.changePage()"></page-nation>
      </div>
      
      <!-- 音频预览 -->
      <div class="preview-audio" ng-if="vm.showPreview">
        <div class="header">
          <span>{{vm.previewAudio.name}}</span>
          <i class="close-icon icon" ng-click="vm.showPreview = !vm.showPreview"></i>
        </div>
        <div class="video-wrap">
          <audio ng-src="{{vm.previewAudio.path_info.url}}" controls autoplay controlslist="nodownload"></audio>
        </div>
      </div>
    </div>
  </div>