<div class="library-wrap">
    <div class="library-header" ng-show="vm.hideTab">
      <span class="tab-item" id="resource" ng-class="{'is-active': vm.selTab === 'list'}" ng-click="vm.goPage('app.resource.menu.list')">{{vm.currentTab}}资源库</span>
      <span class="tab-item" id="search" ng-class="{'is-active': vm.selTab === 'search'}" ng-click="vm.goPage('app.resource.menu.search')" ng-if="vm.showSearch">检索</span>
      <span class="tab-item" id="resource" ng-class="{'is-active': vm.selTab === 'face'}" ng-click="vm.goPage('app.resource.menu.face')">人像库</span>
      <!-- <span class="tab-item" ng-class="{'is-active': vm.selTab === 'jiansuo'}" ng-click="vm.goPage('app.library.layout')">成品库</span> -->
    </div>
    <div ui-view></div>
  </div>