<!-- <div class="special-wrapper" my-loading="vm.info_loading"> -->
    <!--<div class="flex-item">-->
    <!-- <div class="box nav-active-border b-success">
        <div class="hoge-table-add" style="padding: 0 1rem;margin-top: 20px;">
            <div class="hoge-edit-head">
                <div class="hoge-return-body" onclick="history.back(-1)">
                    <i class="fa typeface-menu_fanhuiliebiao" ></i>
                    <span class="return-tip">返回列表</span>
                </div>
                <em> {{vm.specialId?'编辑':'新建'}}专题</em>
            </div>
        </div>
        <div ui-include="'../views/mxu/special/content.html'"></div> -->
        <!-- <div class="nav-box" style="padding: 0 16px;">
            <ul class="nav nav-md tab_nav">
                <li class="nav-item inline">
                    <a class="nav-link" ng-class="{'active':vm.tabStick==1}" ng-click="vm.tabTransfer(1)" data-toggle="tab" data-target="#tab_1">
                        <span class="text-md" translate="special.attribute"></span>
                    </a>
                </li>
                <li class="nav-item inline disabled" disabled="true">
                    <a class="nav-link" ng-class="{'active':vm.tabStick==2}" ng-click="vm.tabTransfer(2)" data-toggle="tab" data-target="#tab_2">
                        <span class="text-md" translate="special.content"></span>
                    </a>
                </li>
                <li class="nav-item inline disabled" disabled="true">
                    <a class="nav-link" ng-class="{'active':vm.tabStick==3}" ng-click="vm.goFastTopic()">
                        <span class="text-md">快速专题</span>
                    </a>
                </li>
            </ul>
            <div class="generate pos-rlt" ng-show="vm.tabStick!=1"> -->
                <!--<span class="word" ng-click="vm.generate()" translate="special.generate"></span>-->
                <!-- <div class="g-tip box-color text-color pos-rlt">
                    <span class="arrow top pull-right b-white"></span>
                    <div class="box-body" translate="special.effect">
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div class="tab-content clear">
            <div class="tab-pane" ng-class="{'active':vm.tabStick==1}" id="tab_1"> -->
                <!--aria-expanded="false"-->
                <!-- <div ui-include="'../views/mxu/special/property.html'"></div>
            </div>
            <div class="tab-pane" ng-class="{'active':vm.tabStick==2}" id="tab_2">
                <div class="flex-item mxu_side_wrapper">
                    <div ui-include="'../views/mxu/special/content.html'"></div>
                </div>
            </div>
        </div> -->

    <!-- </div>
    <m2o-footer is-color="true" is-show="1"></m2o-footer>
</div> -->



<main class="main-form-wrap special-form-wrap">
        <nav class="hoge-table-add">
            <div class="hoge-edit-head">
                <div class="hoge-return-body" onclick="history.back(-1)">
                    <i class="fa typeface-menu_fanhuiliebiao" ></i>
                    <span class="return-tip">返回列表</span>
                </div>
                <em>{{vm.specialId?'编辑':'新建'}}专题</em>
            </div>
        </nav>
        <div class="form-content hoge-flex">
            <aside class="left-aside default-left">
                <div class="side_form_fixed">
                    <content-attr dropdown-show="vm.showDropdown" is-zyshow="vm.showZY" content-param="vm.contentParam"></content-attr>
                </div>
                <!--<content-attr content-param="vm.contentParam"></content-attr>-->
            </aside>
            <div class="main-form-content hoge-border hoge-flex-one" my-loading="vm.contentloading">
                <div class="content-form-title" ng-class="{'borsder-bottom' : vm.tpic.topic_pic}">
                    <div class="title-box">
                        <input type="text" name="title" autocomplete="off"
                                placeholder="请输入专题标题" ng-model="vm.title"/>
                        <content-title-tip is-zyshow="vm.showZY" tip-title="vm.title" top="12"></content-title-tip>
                    </div>
                </div>
                <div class="special-content special-wrapper">
                    <div class="t-p">
                        <div class="i-f-b pos-rlt" my-loading="vm.t_loading">
                            <input type="file" nv-file-select="" uploader="vm.uploader"
                                    accept="image/gif,image/jpeg,image/png,image/psd,image/tiff,image/bmp" multiple/>
                            <div class="pos-abt fileUpTip change" ng-if="!vm.tpic.topic_pic">
                                设置题图（支持JPG、GIF、PNG图片，建议尺寸：1000px*200px）
                            </div>
                            <div class="t-poster" style="background:url({{vm.tpic.topic_pic}}) center center no-repeat"></div>
                        </div>
                    </div>
                    <div class="hoge-flex">
                        <div ui-include="'../views/mxu/special/content.html'"></div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <content-save  save="vm.save()" handle-cancel="vm.cancelForm()" preview="vm.preview()" load="vm.save_loading" clicked="vm.clicked" is-show="false" type="vm.contentParam.urlType" id="vm.atlasId" show-type="vm.showType" gallery-length = "vm.showList.length" show="true"></content-save>
    </main>
    
    
