<div class="list_contain white hoge-table-contain">

    <div class="table_header hoge-table-header" ng-show="vm.videoList.length">
        <div class="wrap b-l b-white">
            <div class="list-ctr"></div>
            <div class="list-body flex-one" translate="editList.title"></div>
            <!--<div class="list-status" >-->
                <!--状态-->
            <!--</div>-->
            <div class="list-column" translate="editList.classify"></div>
            <div class="list-other">
                {{ 'editList.user' | translate }}/{{ 'editList.time' | translate }}
            </div>
            <div class="list-i" ></div>
        </div>
    </div>
    <!--stick_list end-->

    <div class="list" ng-show="vm.videoList.length">
        <div class="list-item hoge-item-border" ng-repeat="item in vm.videoList" ng-class="{'border-blue':vm.itemCheck(nor)}">
            <div class="list-ctr">
                <label class="checkbox-inline">
                    <input type="checkbox" value="option1" ng-checked="vm.itemCheck(item)" ng-click="vm.toggle(item)">
                </label>
            </div>

            <div class="list-body flex-one">
                <div class="list_img" ng-show="item.index_pic">
                    <span class="img-square" >
                        <img  ng-src="{{item.index_pic}}">
                    </span>
                </div>
                <div class="list_info">
                    <div class="part_one">
                        <a href class="list_title ">{{item.title}}</a>
                    </div>
                    <div class="part_two">
                        <span class="label primary brown-200" ng-if="item.transcode_status == 2">{{item.duration}}</span>
                        <div class="progress_box" ng-if="item.transcode_status == 0 || item.transcode_status == -1 || item.transcode_status == 1">
                            <div class="progress">
                                <div class="progress-bar" style="width:100%;"></div>
                                <small ng-if="item.transcode_status == 0" translate="editList.waiting"></small>
                                <small ng-if="item.transcode_status == 1" translate="editList.triming"></small>
                                <small ng-if="item.transcode_status == -1" translate="editList.failed"></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="list-status" >-->
                <!--<span class="label primary m-l-sm grey-300" ng-show="item.status==0">待发布</span>-->
                <!--<span class="label primary m-l-sm light-green-200" ng-show="item.status==1">已发布</span>-->
                <!--<span class="label primary m-l-sm red-200" ng-show="item.status==2">已撤回</span>-->
            <!--</div>-->

            <div class="list-column">
                <span title="{{item.column_name}}">{{item.category_name}}</span>
            </div>

            <div class="list-other" >
                <span>{{item.create_user_name}}</span>
                <span name="{{item.created_at}}">{{item.created_at | date:'yyyy-MM-dd'}}</span>
            </div>

            <div class="list-i">
                <div class="icon-tool pull-right">
                    <i class="fa icon-caozuo " data-toggle="dropdown" aria-expanded="false"></i>
                    <div class="dropdown-menu dropdown-menu-scale pull-right">
                        <a class="dropdown-item" ng-if="item.transcode_status=='2'" ng-click="vm.delete(item)" translate="editList.delete"></a>
                        <a class="dropdown-item" ng-if="item.transcode_status=='2'" ng-click="vm.reSplit(item)" translate="editList.reSplit"></a>
                        <a class="dropdown-item" ng-if="item.transcode_status=='2'" ng-click="vm.getDown(item)" translate="editList.download"></a>
                        <!--<a class="dropdown-item" ng-if="item.status==2" ng-href="{{item.url}}" download="download" translate="editList.download"></a>-->

                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--bottom-->
    <div class="list_bottom hoge-table-bottom" ng-show="vm.videoList.length">
        <div class="btn-group">
            <label class="checkbox-inline">
                <input type="checkbox"  value="option1" ng-checked="vm.allChecked()" ng-click="vm.toggleAll()" >
                {{ 'editList.allSelected' | translate }}
            </label>
        </div>
        <div class="btn-toolbar list_bar flex-one btn-box">
            <div class="btn-group">
                <button class="btn  del-btn" ng-click="vm.delete()" translate="editList.delete"></button>
            </div>
        </div>
        <page-nation options="vm.pageOptions" turn-page="vm.changePages()"></page-nation>
    </div>
    <!--bottom-->
    <hoge-error hight-num="'277px'" arr-length="vm.videoList.length" load="vm.loading"></hoge-error>

</div>