<% if (edition === 'ult') { %>
<div class="app-body-inner mxu_lbs_wrap">
    <div class="iframe_load_box" ng-show="vm.loading">
        <img src="../../../../assets/images/mxu/iframe_loading.gif">
    </div>
    <div class="btn-toolbar" ng-show="!vm.loading">
        <!--<div class="special-entry pull-left">-->
            <!--<button class="btn btn-purple" ng-click="vm.goNumber()">-->
                <!--号码通-->
            <!--</button>-->
        <!--</div>-->
        <div class="special-entry pull-right">
            <button class="btn btn-purple" ng-click="vm.goSpecial()">
                新增信息点
            </button>
            <button class="btn btn-purple" ng-click="vm.configure()">
                配置
            </button>
        </div>
    </div>
    <iframe id="formwin" name="formwin" ng-show="!vm.loading" frameborder="0"
             third-iframe="" width="100%" height="100%"></iframe>
</div>
<% } %>