<div class="mxu_log_wrap new-wrapper">
    <!-- / header -->
    <div class="hoge-table-add">
        <div class="hoge-table-title">积分类型</div>
        <span class="goback" ng-if="vm.platform" ng-click="vm.newTimeGoback()">返回</span>
    </div>
    <!-- / header -->

    <div class="row-col">
        <div class="col-md-12 col-md-push-12 comment_list">
            <!-- list -->
            <div class="comment-list">
                <!-- <div class="ErrorTip hide" ng-class="{'show': !vm.typeList.length}">
                    <p>{{vm.errorMessage}}</p>
                </div> -->
                <!-- list -->
                <div class="list_contain m-b-20 hoge-table-contain">
                    <div class="btn-toolbar list_bar hoge-table-search">
                        <!--时间下拉-->
                        <div class="btn-group dropdown hoge-dropdown">
                            <button class="btn btn-sm dropdown-toggle" style="padding-right: 24px !important;" data-toggle="dropdown">
                                <span class="dropdown-label">{{vm.time}}</span>
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu text-left text-sm" ng-class="{'disOpen':vm.open}">
                                <a class="dropdown-item" ng-repeat="time in vm.timeArr track by $index" ng-click="vm.chooseTime(time)" ng-class="{out: vm.timeArr.length - 1 === $index}">
                                    {{time.name}}
                                    <input id="datepicker" ng-if="vm.timeArr.length - 1 === $index" date-range-picker ng-model="vm.rangeDate" class="date-picker opacity-0"
                                        type="text" options="vm.options"/>
                                </a>
                            </div>
                        </div>
                         <!-- 积分类型下拉 -->
                         <div class="btn-group dropdown hoge-dropdown">
                            <button class="btn btn-sm dropdown-toggle user-screening">
                                <span class="dropdown-label label-lf" title="{{vm.integralType}}">{{vm.integralType}}</span>
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu text-left text-sm sidebar-drop" id="sidebar-drop">
                                <div style="height: 350px;overflow-y: auto;">
                                    <div class="kind-drop" ng-repeat="type in vm.KindArr">
                                        <label class="checkbox-inline">
                                            <input class="kindMarge" type="checkbox" ng-click="vm.toggle(type)" ng-checked="vm.itemCheck(type)">
                                        </label>
                                        <span class="kind-dropdown dropdown-item">{{type.rule_name}}</span>
                                    </div>
                                </div>
                                <div class="btnDiv">
                                    <button class="btn btn-sm btn-success" ng-click="vm.typeSelect()">确定</button>
                                    <button class="btn btn-sm btn-default" ng-click="vm.typeCancel()">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ErrorTip" ng-if="!vm.typeList.length && !vm.logLoading">
                        <p>{{vm.errorMessage}}</p>
                    </div>
                    <div class="list_header hoge-table-header" ng-if="vm.typeList.length">
                        <div class="wrap">
                            <div class="list-ctr"></div>
                            <div class="list-name">昵称</div>
                            <div class="list-gold" >真实姓名</div>
                            <div class="list-reason">积分类型</div>
                            <div class="list-point" >积分</div>
                            <div class="list-i"></div>
                            <!-- <div class="list-reason" translate="log.changeRe"></div> -->
                            <!-- <div class="list-remark" translate="log.remark"></div> -->
                            <!-- <div class="list-user" >{{ 'log.time' | translate }}</div> -->
                        </div>
                    </div>

                    <div class="list white hoge-item-border" ng-show="vm.typeList.length" ng-repeat="item in vm.typeList" my-loading="vm.logLoading">
                        <!--列表-->
                        <div class="list-item">
                            <div class="list-ctr">
                            </div>
                            <div class="list-name" style="align-self: center;">
                                {{item.nick_name}}
                            </div>
                            <div class="list-gold">
                                {{item.name}}
                            </div>
                            <div class="list-reason">{{item.log_title}}</div>
                            <div class="list-point" >
                                {{item.type_credits}}
                            </div>
                            <div class="hoge-list-i" ng-mouseenter="vm.showOpera(item)" ng-mouseleave="vm.hideOpera(item)">
                                <div class="icon-tool pull-right">
                                    <i class="typeface-list_caozuo hoge-list_caozuo"
                                       ng-class="{'active-bg':item.searchShow}"></i>
                                    <div class="pull-right list-icon-opera"
                                         ng-class="{'opera-show':item.searchShow,'opera-hide':!item.searchShow}">
                                        <div class="btn-group">
                                            <button class="btn hoge-drop-icon" ng-click="vm.goType(item)">积分日志</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="list_bottom m-b-20" ng-show="vm.typeList.length > 0">
                        <div class="btn-group">
                            <a class="export-publish" ng-click="vm.downloadList()" ng-href="{{vm.exportUrl}}">导出</a>
                        </div>
                        <div class="allAscore">总分：{{vm.allScore}}</div>
                    </div>
                    <!--bottom-->
                </div>
                <!-- / list -->
                
            </div>
            <!-- list -->
        </div>
    </div>
    <div ui-include="'../views/mxu/common/footer.html'"></div>
</div>