<div class="push-wrapper box-shadow-md">
    <div class="modal-header">
        <h3 class="modal-title" translate="publish.fast_push"></h3>
        <i class="fa fa-remove map-close" ng-click="vm.close()" style="position: absolute;right: 15px;top: 16px;cursor: pointer;"></i>
    </div>
    <div class="modal-body">
        <!--app-->
        <div class="col_item">
            <div class="col_h">
                <span class="nav-icon">
                     <img src="../../../../assets/images/mxu/home/ld-2x.png" width="16.5" height="19"/>
                </span>
                <span class="nav-text" translate="publish.notice"></span>
                <span class="nav-label">
                    <i class="hint fa icon-tixing">
                        <div class="box-color text-color pos-rlt">
                            <span class="arrow top b-white"></span>
                            <div class="box-body" translate="publish.noticeTip"></div>
                        </div>
                    </i>
                </span>
            </div>
            <div class="col_c">
                <!--<div>预览</div>-->
                <div class="i_l">
                    <span class="i_l_t" translate="publish.pushLimit"></span>
                    <ul>
                        <li>
                            <span translate="publish.Android"></span>
                            <label class="ui-switch m-r ">
                                <span class="switch-open">开</span>
                                <span class="switch-close">关</span>
                                <input type="checkbox" ng-click="vm.typeChose('android')" ng-checked="vm.clientChose.android">
                                <i></i>
                            </label>
                        </li>
                        <li>
                            <span translate="publish.IOS"></span>
                            <label class="ui-switch m-r ">
                                <span class="switch-open">开</span>
                                <span class="switch-close">关</span>
                                <input type="checkbox" ng-click="vm.typeChose('ios')" ng-checked="vm.clientChose.ios">
                                <i></i>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--WeChat-->
        <div class="col_item">
            <div class="col_h">
                <span class="nav-icon">
                     <img src="../../../../assets/images/mxu/home/w-2x.png" width="23" height="19"/>
                </span>
                <span class="nav-text" translate="publish.WeChat"></span>
                <span class="nav-label">
                    <i class="hint fa icon-tixing">
                        <div class="box-color text-color pos-rlt">
                            <span class="arrow top b-white"></span>
                            <div class="box-body" translate="publish.msg"></div>
                        </div>
                    </i>
                </span>
            </div>
            <div class="col_c">
                <!--<div>预览</div>-->
                <div class="i_l">
                    <span class="i_l_t" ng-show="vm.wechatY.length>0" translate="publish.setPublic"></span>
                    <ul>
                        <li ng-repeat="chat in vm.wechatY">
                            <span>{{chat.name}}</span>
                            <label class="ui-switch m-r ">
                                <span class="switch-open">开</span>
                                <span class="switch-close">关</span>
                                <input type="checkbox" name="{{chat.name}}" ng-checked="vm.ischatSelected(chat.id)" ng-click="vm.chatSelection($event,chat.id);$event.stopPropagation();">
                                <i></i>
                            </label>
                        </li>
                    </ul>
                    <div class="box-divider m-a-0" ng-show="vm.wechatY.length>0"></div>
                    <span class="i_l_t">
                        <i class="hint fa icon-tishi">
                            <div class="box-color text-color pos-rlt">
                                <span class="arrow top b-white"></span>
                                <div class="box-body">
                                    {{'publish.reason' | translate}}<br/>
                                    {{'publish.havePush' | translate}}<br/>
                                    {{'publish.notFinish' | translate}}<br/>
                                    {{'publish.notUse' | translate}}
                                </div>
                            </div>
                        </i>
                        {{'publish.cannotPush' | translate}}
                    </span>
                    <div class="u-c">
                        <span class="" ng-repeat="chatN in vm.wechatN">{{chatN.name}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!--weibo-->
        <div class="col_item">
            <div class="col_h">
                <span class="nav-icon">
                     <img src="../../../../assets/images/mxu/home/b-2x.png" width="22" height="19"/>
                </span>
                <span class="nav-text" translate="publish.MicroBlog"></span>
                <span class="nav-label">
                    <i class="hint fa icon-tixing">
                        <div class="box-color text-color pos-rlt">
                            <span class="arrow top b-white"></span>
                            <div class="box-body" translate="publish.set"></div>
                        </div>
                    </i>
                </span>
            </div>
            <div class="col_c">
                <!--<div>预览</div>-->
                <div class="i_l">
                    <span class="i_l_t" ng-show="vm.weibo.length>0" translate="publish.setLimit"></span>
                    <span class="i_l_t" ng-show="vm.weibo.length==0" translate="publish.noSet"></span>
                    <ul>
                        <li ng-repeat="blog in vm.weibo">
                            <span>{{blog.name}}</span>
                            <label class="ui-switch m-r ">
                                <span class="switch-open">开</span>
                                <span class="switch-close">关</span>
                                <input type="checkbox" name="{{blog.name}}" ng-checked="vm.isblogSelected(blog.id)" ng-click="vm.blogSelection($event,blog.id);$event.stopPropagation();">
                                <i></i>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn primary-btn p-x-md" ng-disabled="verifyForm.$invalid" ng-click="vm.save()" translate="publish.sure_push"></button>
    </div>
</div>