<form class="edit-column box-shadow-md" name="editColumnForm">
        <div class="modal-header">
            <h5 class="modal-title">移动分组</h5>
        </div>
        <div class="modal-body">
            <div class="form-group" style="position: relative;margin-bottom: 0">
                <div class="m-t m-b">
                  <span class="text-span">已选{{vm.checkedList.length}}个选项，移动选项至</span>
                  <div class="btn-group dropdown hoge-dropdown">
                        <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                            <span class="dropdown-label">{{vm.currentGroup.name}}</span>
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu text-left text-sm">
                            <a class="dropdown-item" ng-repeat="group in vm.groupList" ng-click="vm.chooseGroup(group)">{{group.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn primary-btn" ng-click="vm.save()" my-loading="vm.save_loading">{{'column.save' | translate}}</button>
            <button type="button" class="btn cancel-btn" ng-click="vm.close()">{{'column.cancel' | translate}}</button>
        </div>
    </form>