<div class="site-column-wrap department-column-wrap">

        <div class="column-head">
            <!--<i class="fa fa-reply" onclick="history.back(-1)"></i> -->
            <em>分类管理</em>
        </div>
    
        <div class="column_content">
            <!-- 一级 -->
            <div class="class-list-box">
                <div class="header">
                    <span>一级分类</span>
                    <span class="sort-icon" ng-click="vm.showLevelSortBox('level1')"><i class="fa fa-exchange" ng-show="vm.level1List.length"></i></span>
                </div>
                <!-- <div class="header" ng-class="{'sort-box':vm.shortBox}" ng-show="vm.shortBox">
                    <i class="fa fa-exclamation-triangle"></i> 排序功能已开启
                    <button class="sort-btn save" ng-click="vm.sortSave()">保存</button>
                    <button class="sort-btn cancel" ng-click="vm.sortCancel()">取消</button>
                </div> -->
                
                <div class="creat-box" ng-click="vm.addClassify('level1')">
                    <i class="fa fa-plus-circle"></i>
                    <span class="icon-tianjia-btn">新建分类</span>
                </div>
                <div>
                    <div class="list-box" ng-class="{'active-style':vm.currentLevel1 == $index}" ng-repeat="level1Item in vm.level1List track by $index">
                        <div class="list-item">
                            <span title="{{level1Item.name}}" class="item_name" ng-click="vm.findNextLevel(level1Item,$index)">
                                <span class="item_name_span">{{level1Item.name}}</span>
                            </span>
                            <div class="next_icon" ng-click="vm.findNextLevel(level1Item,$index)">
                                <i class="fa fa-angle-right" ng-show="level1Item.childs != '' "></i>
                            </div>
                            <div class="icons-box">
                                <i class="fa typeface-form_edit" ng-click="vm.editClassify(level1Item)"></i>
                                <i class="fa typeface-form_shanchu m-l" ng-click="vm.deleteClass(level1Item,'level1')"></i>
                            </div>   
                        </div>     
                    </div>
                </div>
                
                
            </div>
            <!-- 一级的蒙版 -->
            <div class="mask-box1" ng-show="vm.showMask">
                 <div class="mask-header" ng-show="vm.currentLevel == 'level1'">
                    <i class="fa typeface-login_tishi"></i> 拖拽分类排序
                    <button class="sort-btn save" ng-click="vm.sortSave()">保存</button>
                    <button class="sort-btn cancel" ng-click="vm.sortCancel()">取消</button>
                </div>
                <div class="list" ng-show="vm.currentLevel == 'level1'" ui-sortable="vm.classSortableOpt" ng-model="vm.level1List">
                    <div class="list_item" ng-repeat="level1Item in vm.level1List track by $index">
                        {{level1Item.name}}
                        <div class="next_icon">
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 二级 -->
            <div class="class-list-box">
                <div class="header">
                    <span>二级分类</span>
                    <span class="sort-icon" ng-click="vm.showLevelSortBox('level2')"><i class="fa fa-exchange" ng-show="vm.level2List.length"></i></span>
                </div>
                <!-- <div class="header" ng-class="{'sort-box':vm.shortBox}" ng-show="vm.shortBox">
                    <i class="fa fa-exclamation-triangle"></i> 排序功能已开启
                    <button class="sort-btn save" ng-click="vm.sortSave()">保存</button>
                    <button class="sort-btn cancel" ng-click="vm.sortCancel()">取消</button>
                </div> -->
                
                <div class="creat-box" ng-click="vm.addClassify('level2')">
                    <i class="fa fa-plus-circle"></i>
                    <span class="icon-tianjia-btn">新建分类</span>
                </div>
                <div>
                    <div class="list-box" ng-class="{'active-style':vm.currentLevel2 == $index}" ng-repeat="level2Item in vm.level2List track by $index">
                        <div class="list-item">
                            <span title="{{level2Item.name}}" class="item_name" ng-click="vm.findNextLevel2(level2Item,$index)">
                                <span class="item_name_span">{{level2Item.name}}</span>
                            </span>
                            <div class="next_icon" ng-click="vm.findNextLevel2(level2Item,$index)">
                                <i class="fa fa-angle-right" ng-show="level2Item.childs != '' "></i>
                            </div>
                            <div class="icons-box">
                                <i class="fa typeface-form_edit" ng-click="vm.editClassify(level2Item)"></i>
                                <i class="fa typeface-form_shanchu m-l" ng-click="vm.deleteClass(level2Item,'level2')"></i>
                            </div>
                            
                        </div>     
                    </div>
                </div>
                
            </div>
            <!-- 二级的蒙版 -->
            <div class="mask-box2" ng-show="vm.showMask">
                <div class="mask-header" ng-show="vm.currentLevel == 'level2'">
                    <i class="fa typeface-login_tishi"></i> 拖拽分类排序
                    <button class="sort-btn save" ng-click="vm.sortSave()">保存</button>
                    <button class="sort-btn cancel" ng-click="vm.sortCancel()">取消</button>
                </div>
                <div class="list" ng-show="vm.currentLevel == 'level2'" ui-sortable="vm.classSortableOpt" ng-model="vm.level2List">
                    <div class="list_item" ng-repeat="level2Item in vm.level2List track by $index">
                        {{level2Item.name}}
                        <div class="next_icon">
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 三级 -->
            <div class="class-list-box">
                <div class="header" ng-show="!vm.shortBox">
                    <span>三级分类</span>
                    <span class="sort-icon" ng-click="vm.showLevelSortBox('level3')"><i class="fa fa-exchange" ng-show="vm.level3List.length"></i></span>
                </div>
                <!-- <div class="header" ng-class="{'sort-box':vm.shortBox}" ng-show="vm.shortBox">
                    <i class="fa fa-exclamation-triangle"></i> 排序功能已开启
                    <button class="sort-btn save" ng-click="vm.sortSave()">保存</button>
                    <button class="sort-btn cancel" ng-click="vm.sortCancel()">取消</button>
                </div> -->
                
                <div class="creat-box" ng-click="vm.addClassify('level3')">
                    <i class="fa fa-plus-circle"></i>
                    <span class="icon-tianjia-btn">新建分类</span>
                </div>
                <div>
                    <div class="list-box" ng-class="{'active-style':vm.currentLevel3 == $index}" ng-repeat="level3Item in vm.level3List track by $index">
                        <div class="list-item">
                            <span title="{{level3Item.name}}" class="item_name" ng-click="vm.findNextLevel3(level3Item,$index)">
                                <span class="item_name_span">{{level3Item.name}}</span>
                            </span>
                            <div class="next_icon" ng-click="vm.findNextLevel3(level3Item,$index)">
                                <i class="fa fa-angle-right" ng-show="level3Item.childs != '' "></i>
                            </div>
                            <div class="icons-box">
                                <i class="fa typeface-form_edit" ng-click="vm.editClassify(level3Item)"></i>
                                <i class="fa typeface-form_shanchu m-l" ng-click="vm.deleteClass(level3Item,'level3')"></i>
                            </div>            
                        </div>     
                    </div>
                </div>
                
            </div>
            <!-- 三级的蒙版 -->
            <div class="mask-box3" ng-show="vm.showMask">
                <div class="mask-header" ng-show="vm.currentLevel == 'level3'">
                    <i class="fa typeface-login_tishi"></i> 拖拽分类排序
                    <button class="sort-btn save" ng-click="vm.sortSave()">保存</button>
                    <button class="sort-btn cancel" ng-click="vm.sortCancel()">取消</button>
                </div>
                <div class="list" ng-show="vm.currentLevel == 'level3'" ui-sortable="vm.classSortableOpt" ng-model="vm.level3List">
                    <div class="list_item" ng-repeat="level3Item in vm.level3List track by $index">
                        {{level3Item.name}}
                        <div class="next_icon">
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 四级 -->
            <div class="class-list-box">
                <div class="header" ng-show="!vm.shortBox">
                    <span>四级分类</span>
                    <span class="sort-icon" ng-click="vm.showLevelSortBox('level4')"><i class="fa fa-exchange" ng-show="vm.level4List.length"></i></span>
                </div>
                <!-- <div class="header" ng-class="{'sort-box':vm.shortBox}" ng-show="vm.shortBox">
                    <i class="fa fa-exclamation-triangle"></i> 排序功能已开启
                    <button class="sort-btn save" ng-click="vm.sortSave()">保存</button>
                    <button class="sort-btn cancel" ng-click="vm.sortCancel()">取消</button>
                </div> -->
                
                <div class="creat-box" ng-click="vm.addClassify('level4')">
                    <i class="fa fa-plus-circle"></i>
                    <span class="icon-tianjia-btn">新建分类</span>
                </div>
                <div>
                    <div class="list-box" ng-repeat="level4Item in vm.level4List track by $index">
                        <div class="list-item">
                            <span title="{{level4Item.name}}" class="item_name">
                                <span class="item_name_span">{{level4Item.name}}</span>
                            </span>
                            <div class="next_icon">
                                <i class="fa fa-angle-right" ng-show="level4Item.childs != '' "></i>
                            </div>
                            <div class="icons-box">
                                <i class="fa typeface-form_edit" ng-click="vm.editClassify(level4Item)"></i>
                                <i class="fa typeface-form_shanchu m-l" ng-click="vm.deleteClass(level4Item,'level4')"></i>
                            </div>
                            
                        </div>     
                    </div>
                </div>
                
            </div>
            <!-- 四级的蒙版 -->
            <div class="mask-box4" ng-show="vm.showMask">
                <div class="mask-header" ng-show="vm.currentLevel == 'level4'">
                    <i class="fa typeface-login_tishi"></i> 拖拽分类排序
                    <button class="sort-btn save" ng-click="vm.sortSave()">保存</button>
                    <button class="sort-btn cancel" ng-click="vm.sortCancel()">取消</button>
                </div>
                <div class="list" ng-show="vm.currentLevel == 'level4'" ui-sortable="vm.classSortableOpt" ng-model="vm.level4List">
                    <div class="list_item" ng-repeat="level4Item in vm.level4List track by $index">
                        {{level4Item.name}}
                        <div class="next_icon">
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <m2o-footer ></m2o-footer>