<div class="adSystem_serve hoge_side_wrapper">
    <!-- <div class="menu-wrap">
        <div class="title" ng-class="{active:!vm.group_id}" ng-click="vm.changeTerminal()">全部</div>
        <ul class="menu-content">
            <li ng-class="{active:vm.group_id == item.id}" ng-repeat="item in vm.terminalList">
                <a ng-click="vm.changeTerminal(item.id)">
                    {{item.name}}
                </a>
            </li>
        </ul>
    </div> -->
    <div class="serve-wrap">
        <div class="hoge-table-add">
            <div class="hoge-table-title">投放列表</div>
            <div class="pull-right">
                <button class="btn hoge-btn-blue serve-new" ui-sref="app.adSystem.addServe">新增投放</button>
            </div>
        </div>
        <div class="serve-body">
            <div class="head" id="head-serve" ng-class="{'basic-height': vm.isBasic, 'high-height': !vm.isBasic}">
                <div class="time-filter m-b-16 p-b-21">
                    <label class="label-name">时间:</label>
                    <!-- <span class="item item-active">今天</span> -->
                    <span class="item" ng-repeat="time in vm.timeArr track by $index" ng-click="vm.chooseTime(time, $index)" ng-class="{out: vm.timeArr.length - 1 === $index,'item-active': vm.timeKey === time.key}">
                        <span ng-hide="vm.timeArr.length - 1 === $index">{{time.name}}</span>
                        <input id="datepicker" ng-if="vm.timeArr.length - 1 === $index" date-range-picker ng-model="vm.rangeDate" class="date-picker serve-time" ng-class="{'serve-time-active': vm.timeKey === time.key}"
                               type="text" options="vm.options" placeholder="选择日期" autocomplete="off"/>
                        <i ng-if="vm.timeArr.length - 1 === $index" class="glyphicon glyphicon-calendar fa fa-calendar" ng-class="{'time-icon-active': vm.timeKey === time.key}" ng-click="vm.clickTime()"></i>
                        <!-- <input id="datepicker" ng-if="vm.timeArr.length - 1 === $index" date-range-picker ng-model="vm.rangeDate" class="date-picker opacity-0"
                               type="text" options="vm.options"/> -->
                    </span>
                </div>
                <div class="state-filter m-b-16">
                    <label class="label-name">审核状态:</label>
                    <span class="item" ng-repeat="state in vm.stateArr" ng-click="vm.chooseState(state)" ng-class="{'item-active': vm.stateVal === state.val}">{{state.name}}</span>
                </div>
                <div class="serve-filter m-b-16">
                    <label class="label-name">投放状态:</label>
                    <span class="item" ng-repeat="deploy in vm.deployArr" ng-click="vm.chooseDeploy(deploy)" ng-class="{'item-active': vm.deployVal === deploy.val}">{{deploy.name}}</span>
                </div>
                <div class="keywords">
                    <label class="label-name">关键词:</label>
                    <search-Box key-Word="vm.key"
                            search-Key="vm.search(Item)"
                            key-Press="vm.keyPress(Event)"
                            hide-Kind="vm.hideAccessKind"
                            is-Focus="vm.isFocus"
                            place-Holder="vm.placeHolder"
                    >         
                    </search-Box>
                    <!-- <div class="hoge-input-search black-input-search search-serve">
                        <input type="text" class="search-input" placeholder="输入广告名称、ID、创建人、等关键词" ng-keypress="vm.keyPress($event)" ng-model="vm.key">
                        <i class="fa typeface-searchbar_sousuo" ng-click="vm.search(vm.key)"></i>
                    </div> -->
                </div>
                <div class="filtBtn" ng-click="vm.toggleBasic()">
                    <div>{{vm.isBasic ? '高级筛选' : '基础筛选'}}</div>
                </div>
                <div class="arrow-toggle" ng-click="vm.toggleBasic()" ng-class="{'top-arrow': vm.isBasic, 'bottom-arrow': !vm.isBasic}"></div>
            </div>
            <div class="list" ng-style="{ 'border': !vm.serveList.length ? 'none' : '' }">
                <div class="hoge-error hoge-error-hight no-data-con" ng-if="!vm.serveList.length && !vm.serveLoading">
                    <div>
                        <div class="error-img-gray serve-no-data"></div>
                        <p>暂无数据</p>
                    </div>
                </div>
                <div class="list-container">
                        <div class="list-item" ng-repeat="item in vm.serveList track by $index" ng-style="{'opacity': item.id ? 1 : 0, 'pointer-events': item.id ? 'auto' : 'none'}">
                            <div class="item-top">
                                <div class="top-left">
                                    <img class="img" src="{{item.index_pic}}" alt="" ng-if="item.type === 'image' || item.type === 'video'" />
                                    <img class="img" src="/assets/images/mxu/advertise/flash.png" alt="" ng-if="item.type === 'flash'">
                                    <img class="img" src="/assets/images/mxu/advertise/img_daimakuai@2x.png" alt="" ng-if="item.type === 'js'">
                                    <div class="back-show"></div>
                                    <div class="hover-show">
                                        <p class="show-item">类型:{{item.typeName}}</p>
                                        <p class="show-item">添加人:{{item.create_user_name}}</p>
                                        <p class="show-item">添加时间:{{item.showCreateTime}}</p>
                                    </div>
                                </div>
                                <div class="top-right">
                                    <div class="name">
                                        <i class="typeface-form_yulanguanbi no-show" ng-if="!item.pos_is_use" ng-mouseenter="vm.tipEnter(item)" ng-mouseleave="vm.tipLeave(item)"></i>
                                        <span class="to-edit" ng-click="vm.goEdit(item)">{{item.title}}</span>
                                        <div class="tip-con" ng-if="item.tipShow">
                                            由于广告位被关闭，该广告不可见
                                            <div class="tip-arr"></div>
                                        </div>
                                    </div>
                                    <div class="brief">{{item.position_name}}</div>
                                    <div class="time-range">
                                        {{item.showTimeArray[0].vtime}}
                                        <i class="typeface-card_shijianliebiao no-show" ng-if="item.showTimeArray && item.showTimeArray.length > 1" ng-mouseenter="vm.timeEnter(item)" ng-mouseleave="vm.timeLeave(item)"></i>
                                        <div class="tip-con" ng-if="item.timeShow">
                                            <div ng-repeat="vtime in item.showTimeArray track by $index" ng-style="{'color': vtime.flag == 1 ? 'rgba(219,225,233,1)' : vtime.flag == 2 ? 'rgba(51,51,51,1)' : vtime.flag == 3 ? 'rgba(120,128,145,1)' : 'rgba(51,51,51,1)'}">{{vtime.vtime}}</div>
                                            <div class="tip-arr"></div>
                                        </div>
                                    </div>
                                    <!-- <div class="count">
                                        <div class="count-item">
                                            <div class="item-num-top">{{item.view_num}}</div>
                                            <div class="item-num-bottom">总展示量</div>
                                        </div>
                                        <div class="count-item">
                                            <div class="item-num-top">{{item.click_num}}</div>
                                            <div class="item-num-bottom">总点击数</div>
                                        </div>
                                        <div class="count-item">
                                            <div></div>
                                            <div>总点击率</div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="item-bottom">
                                <div class="status">
                                    <span class="status-margin" ng-class="{'color-zero' : item.audit_status === 0, 'color-one' : item.audit_status === 1, 'color-two': item.audit_status === 2}">{{item.statusName}}</span>
                                    <span ng-class="{'color-zero' : item.deploy_status === 0, 'color-one' : item.deploy_status === 1 || item.deploy_status === 2, 'color-three': item.deploy_status === 3 || item.deploy_status === 4}" ng-if="item.audit_status === 1">{{item.deployStatusName}}</span>
                                </div>
                                <div class="list-i hoge-list-i" ng-mouseenter="vm.showOpera(item)" ng-mouseleave="vm.hideOpera(item)">
                                    <div class="icon-tool pull-right">
                                        <i class="typeface-list_caozuo hoge-list_caozuo"
                                            ng-class="{'active-bg':item.searchShow}"></i>
                                        <div class="pull-right list-icon-opera position xr-width"
                                            ng-class="{'opera-show':item.searchShow,'opera-hide':!item.searchShow}">
                                            <div class="btn-group">
                                                <button class="btn hoge-drop-icon" ng-click="vm.goEdit(item)">编辑</button>
                                                <button class="btn hoge-drop-icon" ng-click="vm.changeState(item, 1)" ng-if="item.audit_status !== 1">审核</button>
                                                <button class="btn hoge-drop-icon" ng-click="vm.changeState(item, 2)" ng-if="item.audit_status !== 2">打回</button>
                                                <button class="btn hoge-drop-icon" ng-click="vm.goDel(item)" ng-hide="item.audit_status == 1 && item.deploy_status == 1">删除</button>
                                                <button class="btn hoge-drop-icon" ng-click="vm.changeDeployStatus(item)" ng-if="item.audit_status === 1 && item.deploy_status === 1">下架</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- <div class="list-container" ng-repeat="rowList in vm.serveList track by $index">
                    <div class="list-item" ng-repeat="item in rowList track by $index" ng-style="{'opacity': item.id ? 1 : 0, 'pointer-events': item.id ? 'auto' : 'none'}">
                        <div class="item-top">
                            <div class="top-left">
                                <img alt="" src="{{item.index_pic}}" class="img">
                                <div class="back-show"></div>
                                <div class="hover-show">
                                    <p class="show-item">类型:{{item.typeName}}</p>
                                    <p class="show-item">添加人:{{item.create_user_name}}</p>
                                    <p class="show-item">添加时间:{{item.showCreateTime}}</p>
                                </div>
                            </div>
                            <div class="top-right">
                                <div class="name">
                                    <i class="typeface-form_yulanguanbi no-show" ng-if="!item.pos_is_use" ng-mouseenter="vm.tipEnter(item)" ng-mouseleave="vm.tipLeave(item)"></i>
                                    <span class="to-edit" ng-click="vm.goEdit(item)">{{item.title}}</span>
                                    <div class="tip-con" ng-if="item.tipShow">
                                        由于广告位被关闭，该广告不可见
                                        <div class="tip-arr"></div>
                                    </div>
                                </div>
                                <div class="brief">{{item.position_name}}</div>
                                <div class="time-range">
                                    {{item.showTimeArray[0].vtime}}
                                    <i class="typeface-card_shijianliebiao no-show" ng-if="item.showTimeArray && item.showTimeArray.length > 1" ng-mouseenter="vm.timeEnter(item)" ng-mouseleave="vm.timeLeave(item)"></i>
                                    <div class="tip-con" ng-if="item.timeShow">
                                        <div ng-repeat="vtime in item.showTimeArray track by $index" ng-style="{'color': vtime.flag == 1 ? 'rgba(219,225,233,1)' : vtime.flag == 2 ? 'rgba(51,51,51,1)' : vtime.flag == 3 ? 'rgba(120,128,145,1)' : 'rgba(51,51,51,1)'}">{{vtime.vtime}}</div>
                                        <div class="tip-arr"></div>
                                    </div>
                                </div> -->
                                <!-- <div class="count">
                                    <div class="count-item">
                                        <div class="item-num-top">{{item.view_num}}</div>
                                        <div class="item-num-bottom">总展示量</div>
                                    </div>
                                    <div class="count-item">
                                        <div class="item-num-top">{{item.click_num}}</div>
                                        <div class="item-num-bottom">总点击数</div>
                                    </div>
                                    <div class="count-item">
                                        <div></div>
                                        <div>总点击率</div>
                                    </div>
                                </div> -->
                            <!-- </div>
                        </div>
                        <div class="item-bottom">
                            <div class="status">
                                <span class="status-margin" ng-class="{'color-zero' : item.audit_status === 0, 'color-one' : item.audit_status === 1, 'color-two': item.audit_status === 2}">{{item.statusName}}</span>
                                <span ng-class="{'color-zero' : item.deploy_status === 0, 'color-one' : item.deploy_status === 1 || item.deploy_status === 2, 'color-three': item.deploy_status === 3 || item.deploy_status === 4}" ng-if="item.audit_status === 1">{{item.deployStatusName}}</span>
                            </div>
                            <div class="list-i hoge-list-i" ng-mouseenter="vm.showOpera(item)" ng-mouseleave="vm.hideOpera(item)">
                                <div class="icon-tool pull-right">
                                    <i class="typeface-list_caozuo hoge-list_caozuo"
                                        ng-class="{'active-bg':item.searchShow}"></i>
                                    <div class="pull-right list-icon-opera position"
                                        ng-class="{'opera-show':item.searchShow,'opera-hide':!item.searchShow}">
                                        <div class="btn-group">
                                            <button class="btn hoge-drop-icon" ng-click="vm.goEdit(item)">编辑</button>
                                            <button class="btn hoge-drop-icon" ng-click="vm.changeState(item, 1)" ng-if="item.audit_status !== 1">审核</button>
                                            <button class="btn hoge-drop-icon" ng-click="vm.changeState(item, 2)" ng-if="item.audit_status !== 2">打回</button>
                                            <button class="btn hoge-drop-icon" ng-click="vm.goDel(item)" ng-if="item.deploy_status !== 1">删除</button>
                                            <button class="btn hoge-drop-icon" ng-click="vm.changeDeployStatus(item)" ng-if="item.audit_status === 2 && item.deploy_status === 1">下架</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="list_bottom m-b-20" ng-if="vm.pageOptions.total > 10">
            <page-nation options="vm.pageOptions" turn-page="vm.changePage()"></page-nation>
        </div>
    </div>
</div>