<div class="editDate-wrap">
    <div class="editDate-section">
        <div class="p-v-md">
            <div class="hoge-edit-head">
                <div class="hoge-return-body" onclick="history.back(-1)">
                    <i class="fa typeface-menu_fanhuiliebiao" ></i>
                    <span class="return-tip">返回列表</span>
                </div>
                <em>{{vm.id ? '编辑投放' : '新增投放'}}</em>
            </div>
        </div>
        <div class="edit-form"  my-loading="vm.editLoading">
            <div class="form-card" ng-show="!vm.editLoading">
                <div class="header">基本信息</div>
                <div class="content">
                    <div class="form-group">
                        <label class="label-name">投放名称:</label>
                        <input type="text" ng-model="vm.title" ng-focus="vm.titleFocus = true"
                               ng-class="{'focus-color':vm.titleFocus}" ng-blur="vm.titleFocus = false"
                        >
                    </div>
                    <!-- <div class="form-group">
                        <label class="label-name">ID</label>
                        <input type="text" ng-model="vm.dataDetail.id" ng-focus="vm.idFocus = true"
                               ng-disabled="true"
                               ng-class="{'focus-color':vm.idFocus}" ng-blur="vm.idFocus = false"
                        >
                    </div> -->
                </div>
            </div>
            <form class="form-card" ng-show="!vm.editLoading">
                <div class="header">广告素材</div>
                <div class="content">
                    <div class="form-group">
                        <label class="label-name">素材类型:</label>
                        <span class="btn-group group-btn-item choose-group" data-toggle="buttons">
                            <label class="btn btn-sm" ng-repeat="item in vm.attach" ng-click="vm.changeRadio(item.id)" ng-class="{'active': vm.type === item.id}">
                                <input ng-model="vm.type" name="'group'" type="radio" value="{{item.id}}">{{item.name}}
                            </label>
                        </span>
                    </div>
                    <div class="form-group adv-position">
                        <label class="label-name">广告位:</label>
                        <div class="adv-pos-cb">{{vm.showPosName}}<span class="caret"></span></div>
                        <div class="form-tip">推荐尺寸：1024*200</div>
                        <div class="classify-sidebar" ng-if="vm.canChooseAdv">
                            <div class="list-list pull-left" id="sidebar-list" ng-style="{width:vm.classifyList.length * 200 + 'px', 
                                height:(vm.classifyList[vm.storageList.length ].length)*38+12 + 'px'
                                }">
                                <div class="sidebar-list pull-left" ng-repeat="List in vm.classifyList track by $index" ng-style="{'height': List.length ? auto : vm.eleHeight+'px'}">
                                    <div class="sidebar-item" ng-repeat="item in List" ng-click="vm.next(item)" ng-class="{'item-active': (vm.choosedColumnId == item.id && item.isMainColumn) || (vm.choosedPosId == item.id && !item.isMainColumn)}">
                                        <div class="sidebar-body">
                                            <span class="item-name" ng-class="{'item-name-cb': item.isMainColumn}">
                                                {{item.name}}
                                            </span>
                                            <!-- <span class="next-icon" ng-if="item.is_last == 0" ng-click="vm.next(item)"> 
                                                <i class="fa fa-angle-right"></i>
                                            </span> -->
                                        </div>
                                    </div>
                                    <div class="no-pos-cb" style="height: 100%" ng-show="!List.length">无符合条件的广告位</div>
                                </div>
                            </div>
                        </div>
                        <div class="parameter-part" ng-if="vm.paramList.length">
                            <div class="param-body">
                                <div class="form-group" ng-repeat="vv in vm.paramList track by $index">
                                    <label style="width:135px;text-align:left">{{vv.title}}</label>
                                    <input type="text" ng-model="vv.value" ng-focus="vm.nameFocus = true"
                                        ng-class="{'focus-color':vm.nameFocus}" ng-blur="vm.nameFocus = false"
                                        ng-if="vv.type === 'input'"
                                    >
                                    <div class="btn-group dropdown hoge-dropdown" ng-if="vv.type === 'select'">
                                        <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                                            <span class="dropdown-label">{{vm.getSelectName(vv)}}</span>
                                            <span class="caret"></span>
                                        </button>
                                        <div class="dropdown-menu text-left text-sm">
                                            <a class="dropdown-item" ng-repeat="param in vv.params track by $index" ng-click="vv.value = param.key">{{param.value}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group add-material">
                        <label class="label-name">素材:</label>
                        <button class="choose-material" ng-click="vm.chooseServe()" ng-if="!vm.materialDetail.type">选择素材</button>
                        <img class="material-img" ng-click="vm.pre()" src="{{vm.materialDetail.index_pic}}" alt="" ng-if="vm.materialDetail.type === 'image' || vm.materialDetail.type === 'video'">
                        <div class="play-icon" ng-click="vm.pre()" ng-if="vm.materialDetail.type === 'video'"></div>
                        <img class="material-img" ng-click="vm.pre()" src="/assets/images/mxu/advertise/flash.png" alt="" ng-if="vm.materialDetail.type === 'flash'">
                        <img class="material-img" ng-click="vm.pre()" src="/assets/images/mxu/advertise/img_daimakuai@2x.png" alt="" ng-if="vm.materialDetail.type === 'js'">
                        <button class="choose-material change-material" ng-click="vm.chooseServe()" ng-if="vm.materialDetail.type">更换素材</button>
                    </div>
                    <div class="form-group pos-rela link-cb">
                        <label class="label-name">链接:</label>
                        <input type="text" ng-model="vm.link" ng-focus="vm.linkFocus = true"
                               ng-class="{'focus-color':vm.linkFocus}" ng-blur="vm.linkFocus = false"
                        >
                        <div class="form-tip">外链请在地址前加http://</div>
                    </div>
                    <div class="form-group pos-rela serve-date-cb">
                        <label class="label-name serve-time-cb">投放日期:
                                <i class="typeface-form_tishi material-tip" ng-mouseenter="vm.tipEnter()" ng-mouseleave="vm.tipLeave()"></i>
                        </label>
                        <!-- <i class="typeface-form_tishi material-tip" ng-mouseenter="vm.tipEnter()" ng-mouseleave="vm.tipLeave()"></i> -->
                        <div class="tip-con" ng-if="vm.tipShow">
                            不填写代表无期限，多时间段点击添加填写
                            <div class="tip-arr"></div>
                        </div>
                        <div class="data-container">
                            <div class="daterange" ng-class="{actived:vm.chooseTime}" ng-repeat="item in vm.dataRangeList track by $index">
                                <input date-range-picker ng-model="item.rangeDate" id="{{'servecb' + $index}}" class="date-picker" type="text" placeholder="选择日期" options="vm.option"/>&nbsp;
                                <i class="glyphicon glyphicon-calendar fa fa-calendar" ng-click="vm.clickTime($index)"></i>
                                <i class="typeface-form_shanchu serve-date-del" ng-if="$index !== 0" ng-click="vm.delDate($index)" ng-mouseenter="vm.setDateIndex($index)" ng-mouseleave="vm.delDateIndex()" ng-class="{'del-active': vm.curDateIndex === $index}"></i>
                            </div>
                        </div>
                        <div class="add-btn">
                            <div class="add-date" ng-click="vm.getCustom()">
                                <i class="typeface-form_zengjia"></i>
                                <span>添加</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-name">优先级:</label>
                        <div class="btn-group dropdown hoge-dropdown">
                            <button class="btn btn-sm dropdown-toggle priority-name" data-toggle="dropdown">
                                <span class="dropdown-label">{{vm.priorityName}}</span>
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu text-left text-sm">
                                <a class="dropdown-item priority-item" ng-click="vm.choosePriority(0)">标准</a>
                                <a class="dropdown-item priority-item" ng-click="vm.choosePriority(1)">独占</a>
                            </div>
                        </div>
                        <input type="checkbox" ng-model="vm.isChooseWeight" ng-show="!vm.priority">
                        <span  ng-show="!vm.priority">权重</span>
                        <div class="btn-group dropdown hoge-dropdown priority-cb" ng-show="vm.isChooseWeight && !vm.priority">
                            <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                                <span class="dropdown-label">{{vm.weight}}</span>
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu text-left text-sm weight-choose">
                                <a class="dropdown-item" ng-click="vm.chooseWeight(item)" ng-repeat="item in [1,2,3,4,5,6,7,8,9]">{{item}}</a>
                            </div>
                        </div>
                        <!-- <div class="group-content">
                            <label class="radio-inline">
                                <input ng-model="vm.rank" type="radio" value="1">标准
                            </label>
                            <label class="radio-inline">
                                <input ng-model="vm.rank" type="radio" value="0">独占
                            </label>
                        </div> -->
                    </div>
                    <div class="form-group">
                        <label class="label-name">栏目选择:</label>
                        <div class="column-box">
                            <div class="show-column">
                                <div ng-repeat="item in vm.publish_column" ng-if="item.column.length">
                                    <div class="site-name">{{item.name}}</div>
                                    <div ng-repeat="v in item.column" class="column-items">
                                        <span class="col_name">
                                            {{v.name}}
                                            <i class="icon-guanbi cursor_pointer" ng-click="vm.deleteCheck(v.id,item)"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="add-btn" style="margin-left: 0;">
                                <div class="add-date" ng-click="vm.choseColumn()">
                                    <i class="typeface-form_zengjia"></i>
                                    <span>添加</span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- <div class="form-group">
                        <label class="label-name">优先级</label>
                        <div class="btn-group dropdown select-drop hoge-dropdown">
                            <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                                <span class="dropdown-label">{{vm.dataDetail.priorityName}}</span>
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu text-left text-sm">
                                <a class="dropdown-item" ng-repeat="item in vm.priority"
                                   ng-class="{'active-color':vm.dataDetail.priority == item.id}"
                                   ng-click="vm.prioritySelect(item)">{{item.name}}</a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </form>
            <div class="md-form-group" ng-show="!vm.editLoading">
                <button class="btn primary-btn ng-binding" ng-if="vm.id" ng-disabled="vm.saveLoading" ng-click="vm.saveDate()">更新</button>
                <button class="btn primary-btn ng-binding" ng-if="!vm.id" ng-disabled="vm.saveLoading" ng-click="vm.saveDate()">保存</button>
                <button class="btn cancel-btn" ng-click="vm.cancel()" >取消</button>
            </div>
        </div>
    </div>
</div>