<div class="mxu_contribute_wrap padding">
    <!-- msg_box -->
    <div class="text-center p-lg new_contribute" ng-if="vm.new_count && vm.new_count !== 0">
        <p class="grey-200 new_count">收到{{vm.new_count}}条新报料<span class="refresh" ng-click="vm.refresh()" translate="contribute.load">{{contribute.load | translate}}</span></p>
    </div>
    <!-- msg_box -->
    <div class="row">
        <div class="col-md-12 col-md-pull-0">
            <div ui-include="'../views/mxu/contribute/list/list.html'"></div>
        </div>
    </div>
</div>




