
<div class="hoge-table-add">
   <div class="hoge-table-title">报料列表</div>
   <div class="pull-right">
        <button class="btn hoge-btn-blue add-contribute" ng-click="vm.addContributeModal()">新增报料</button>
  </div>
</div>


<div>
    <!-- list -->
    <div class="list_contain hoge-table-contain white">
        <div class="hoge-table-search">
            <div class="btn-group dropdown pull-left m-r-15 hoge-dropdown">
                <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                    <span class="dropdown-label">{{vm.state}}</span>
                    <span class="caret"></span>
                </button>
                <div class="dropdown-menu text-left text-sm font-12">
                    <a class="dropdown-item" ng-repeat="type in vm.listStatus" ng-click="vm.stateActive(type)">{{type.name}}</a>
                </div>
            </div>
            <!--终端-->
            <div class="btn-group dropdown pull-left hoge-dropdown">
                <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                    <span class="dropdown-label">{{vm.terminal}}</span>
                    <span class="caret"></span>
                </button>
                <div class="dropdown-menu text-left text-sm font-12">
                    <a class="dropdown-item" ng-repeat="terminal in vm.objClassify" ng-click="vm.classActive(terminal)">{{terminal.name}}</a>
                </div>
            </div>
            <!-- 站点 -->
            <m2o-site-chose handler-site="vm.initSite(site_id,site_name)" clear-state-param="vm.clearStateParam()" change-site="vm.changeSite(site)"></m2o-site-chose>
            <!-- <div class="btn-group dropdown pull-left hoge-dropdown" ng-if="rootSiteItems.id==0">
                <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                    <span class="dropdown-label">{{vm.site_name}}</span>
                    <span class="caret"></span>
                </button>
                <div class="dropdown-menu text-left text-sm font-12">
                    <a class="dropdown-item" ng-repeat="site in vm.m2oSiteList"  ng-click="vm.changeSite(site)">{{site.name}}</a>
                </div>
            </div> -->
            <!--搜索-->
            <div class="pull-right">
                <search-Box key-Word="vm.key"
                        search-Key="vm.search(Item)"
                        key-Press="vm.keyPress(Event)"
                        hide-Kind="vm.hideAccessKind"
                        is-Focus="vm.isFocus"
                        place-Holder="vm.placeHolder"
                >         
                </search-Box>
            </div>
            <!-- <div class="form-group hoge-input-search pull-right" style="width: 160px">
                <input type="text" placeholder="{{ 'contribute.search'| translate}}..." ng-keypress="vm.keyPress($event)" ng-model="vm.key">
                <i class="fa typeface-searchbar_sousuo" ng-click="vm.search(vm.key)"></i>
            </div> -->
        </div>
        <div class="list_header hoge-table-header" ng-show="vm.contributeList.length">
            <div class="wrap">
                <div class="list-ctr"></div>
                <div class="list-title" translate="contribute.content"></div>
                <div class="list-contact" translate="contribute.contact" ></div>
                <div class="list-reply" translate="contribute.reply" ng-if="vm.permission.contribute.reply | right"></div>
                <div class="list-category" translate="contribute.classify" ></div>
                <div class="list-status" translate="contribute.state" ></div>
                <div class="list-adopt"></div>
                <div class="list-i" ></div>
            </div>
        </div>
        <!-- <div class="ErrorTip hide" ng-class="{'show': !vm.contributeList.length}">
            <p>{{vm.error_msg}}</p>
        </div> -->
        <hoge-error hight-num="'350px'" arr-length="vm.contributeList.length"></hoge-error>
        <div class="list white">
            <div class="list-item hoge-item-border" ng-repeat="item in vm.contributeList track by $index" ng-class="{'is_zhiding':item.is_zhiding == 1}" id="{{item.id}}">
                <div class="level-one">
                    <div class="list-ctr">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="option1" ng-checked="vm.itemCheck(item)" ng-click="vm.toggle(item)">
                        </label>
                    </div>

                    <div class="list-title">
                        <div class="list-left w-50 circle">
                            <img ng-src="{{item.memberImg}}" class="w-50 circle" ng-if="item.memberImg && item.member_name">
                            <span class="w-50 circle member_img" ng-if="!item.memberImg && item.member_name"></span>
                            <span class="w-50 circle member_del_img" ng-if="!item.member_name"></span>
                        </div>
                        <div class="list-body">
                            <div class="user_name">
                                <span>{{item.nick_name}}</span>
                                <span ng-if="!item.member_name">{{'contribute.noUser'| translate}}({{ 'contribute.cancel'| translate}})</span>
                                <span>{{item.created_at}}</span>
                                <span>{{ 'contribute.comeForm'| translate}} {{item.source_name}}</span>
                            </div>
                            <div class="customer_card_box" ng-if="item.content">
                                <p class="contribute_txt">{{item.content}}</p>
                                <div class="customer_card" ng-if="item.content.length > 120">
                                    <div class="box box-body">
                                        {{item.content}}
                                    </div>
                                </div>
                            </div>
                            <!--视频-->
                            <div class="video_wrap" ng-if="item.video_info">
                                <div class="video_item" ng-repeat="video in item.video_info" ng-click="vm.showVideo(video)">
                                    <img src="../assets/images/mxu/icon_play.png" alt="" class="icon_play">
                                    <img ng-src="{{video.index_pic}}" alt="" class="video_img">
                                </div>
                            </div>
                            <!--图片-->
                            <div class="images_wrap" ng-if="item.image_info">
                                <ul style="height: 70px;overflow:hidden;">
                                    <li ng-repeat="img in item.image_info | limitTo: vm.limit " ng-click="vm.Carousel(item,$index)">
                                        <img ng-src="{{img.pic}}">
                                    </li>
                                    <li class="img_more" ng-if="item.image_info.length > 4" ng-click="vm.Carousel(item,4)">
                                        <span class="img_more_top" translate="contribute.more"></span>
                                        <span translate="contribute.picture"></span>
                                    </li>
                                </ul>
                            </div>
                            <!--地址-->
                            <div class="event_address_wrap" ng-if="item.event_address">
                                <button class="btn address" ng-click="vm.showAddress(item)">
                                    <i class="fa icon-dingwei"></i>
                                    {{item.event_address}}
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="list-contact">
                        <span>{{item.phone || '暂无'}}</span>
                    </div>

                    <!--回复-->
                    <div class="list-reply" ng-if="vm.permission.contribute.reply | right">
                        <div class="has_reply" ng-show="item.is_opinion == 1">
                            <div class="icon-tool pull-right" >
                                <span translate="contribute.replied" class="has_replay_span" data-toggle="dropdown"></span>
                                <div class="dropdown-menu dropdown-menu-scale pull-right">
                                    <div class="box-color pos-rlt">
                                        <span class="arrow top"></span>
                                        <!--<div class="box_top">-->
                                        <!--小编A 06-18 12:23 回复:-->
                                        <!--</div>-->
                                        <div style="line-height: 1.5;">
                                            {{item.opinion}}
                                        </div>
                                        <div class="del">
                                            <span ng-click="vm.deleteReply(item)" translate="contribute.delete"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="no_reply" ng-show="item.is_opinion == 0 && item.status==1" data-toggle="collapse" data-target="#reply_{{item.id}}" aria-expanded="false" translate="contribute.reply"></span>
                        <span class="no_reply not-allow" ng-show="item.is_opinion == 0 && item.status!=1"  translate="contribute.reply"></span>

                    </div>

                    <!--分类-->
                    <div class="list-category">
                        <span ng-click="vm.objSearch(item)">{{item.category_name}}</span>
                    </div>
                    <!--状态-->
                    <div class="list-status">
                        <span class="pending_audit" ng-if="item.status==0 &&(vm.permission.contribute.audit | right)" ng-click="vm.changeStatus(item)">未审核</span>
                        <span class="already_examine" ng-if="item.status==1 &&(vm.permission.contribute.audit | right)" ng-click="vm.changeStatus(item)">已审核</span>
                        <span class="retracted" ng-if="item.status==2 &&(vm.permission.contribute.audit | right)" ng-click="vm.changeStatus(item)">打回</span>
                        <span class="pending_audit no-under" ng-if="item.status==0 && !(vm.permission.contribute.audit | right)">未审核</span>
                        <span class="already_examine no-under" ng-if="item.status==1 && !(vm.permission.contribute.audit | right)">已审核</span>
                        <span class="retracted no-under" ng-if="item.status==2 && !(vm.permission.contribute.audit | right)">打回</span>
                    </div>
                    <!-- 1.5.3.1版本测试中说先隐藏 -->
                    <!-- <div class="list-adopt" ng-if="vm.showSetTop">
                        <button class="btn adopt" ng-click="vm.zhiding(item)" ng-class="{'has_zhiding':item.is_zhiding == 1,'no_zhiding':item.is_zhiding == 0}">置顶</button>
                    </div> -->
                    <div class="list-adopt">
                        <button class="btn adopt" ng-click="vm.singleAdopt(item)" ng-class="{'has_adopt':item.is_accept == 1,'no_adopt':item.is_accept == 0}">{{item.adopt}}</button>
                    </div>
                    <div class="list-i">
                        <i class="fa icon-shanchu1" ng-click="vm.singleDelete(item)" ng-if="vm.permission.contribute.delete | right"></i>
                    </div>
                </div>
                <div class="level-two">
                    <div class="collapse m-a-0" id="reply_{{item.id}}">
                        <div class="box">
                            <form>
                                <textarea class="form-control no-border" rows="3" maxlength="1000" placeholder="" ng-model="item.opinion">{{item.opinion}}</textarea>
                            </form>
                            <div class="box-footer clearfix">
                                <div num-count="item.opinion" count-top="100" count-max="1000" count-position="left"></div>
                                <button class="btn btn-sm pull-right replay" ng-click="vm.reply(item)" data-toggle="collapse" data-target="#reply_{{item.id}}" aria-expanded="false" ng-disabled="item.opinion == ''" translate="contribute.reply"></button>
                                <button class="btn white pull-right stop" data-toggle="collapse" data-target="#reply_{{item.id}}" aria-expanded="false" translate="contribute.stop"></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!--bottom-->
        <div class="list_bottom hoge-table-bottom" ng-if="vm.contributeList.length">
            <div class="btn-group">
                <label class="checkbox-inline">
                    <input type="checkbox" value="option1" ng-checked="vm.allChecked()" ng-click="vm.toggleAll()">{{ 'contribute.select'| translate}}
                </label>
            </div>
            <div class="btn-toolbar list_bar flex-one btn-box">
                <div class="btn-group" >
                    <button class="btn btn-outline btn-comment" ng-disabled="vm.contributeList.length == 0" ng-click="vm.moreAdopt(0)" translate="contribute.adopt"></button>
                </div>
                <div class="btn-group" >
                    <button class="btn btn-outline btn-comment" ng-disabled="vm.contributeList.length == 0" ng-click="vm.moreAdopt(1)" translate="contribute.notAdopt"></button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-outline btn-comment" ng-disabled="vm.contributeList.length == 0" ng-if="vm.permission.contribute.audit | right" ng-click="vm.review(1)" translate="contribute.auditing"></button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-outline btn-comment" ng-disabled="vm.contributeList.length == 0" ng-if="vm.permission.contribute.audit | right" ng-click="vm.review(2)" translate="contribute.repulse"></button>
                </div>
                <div class="btn-group">
                    <button class="btn  del-btn" ng-disabled="vm.contributeList.length == 0" ng-click="vm.moreDelete()" translate="contribute.delete" ng-if="vm.permission.contribute.delete | right"></button>
                </div>
            </div>
            <page-nation  options="vm.pageOptions" turn-page="vm.changePage()" ng-show="vm.pageOptions.total > 0"></page-nation>
        </div>


        <!--bottom-->

    </div>
    <!-- / list -->
</div>
