<div class="mxu_side_wrapper mxu_role_wrapper">
    <div class="menu-wrap">
        <classify-sidebar classify-list = "vm.departmentList"
                          handle-next = "vm.getChilds(Item,flag)"
                          go-back="vm.navBack()"
                          category-id ="vm.choseId"
                          storage-list = "vm.storageList"
                          jump-classify="vm.jumpClassify(Item)"
                          is-jump="true"
        ></classify-sidebar>
    </div>
    <div class="second-view">
      <div class="mxu_organization_list" style="padding: 16px">
        <div class="btn-toolbar list_bar hoge-table-add">
            <div class="hoge-table-title">隔离库</div>
      
        </div>
      
        <div class="box">
            <!-- list -->
            <div class="list_contain hoge-table-contain white">
                <div class="hoge-table-search library-search-box" ng-show="!vm.picIds" ng-class="{'none-border':vm.showInput}">
                    <div class="form-group hoge-input-search" >
                        <input type="text" placeholder="搜索..." ng-keypress="vm.keyPress($event)" ng-model="vm.searchKey">
                        <i class="fa typeface-tuji_shuiyin" ng-click="vm.showSearchImage()"></i>
                        <div class="upload-img-box" ng-show="vm.showInput">
                            <div class="input-box" ng-show="!vm.imgLoading">
                                <div class="up-local-img">
                                    <i class="typeface-code_shangchuan"></i>
                                    <span>上传本地图片</span>
                                </div>
                                <input type="file" class="up-pic" id="headId" onchange="angular.element(this).scope().uploadImage()" accept="image/gif,image/jpeg,image/png,image/psd,image/tiff,image/bmp">
                            </div>
                            <div class="loading-box" ng-show="vm.imgLoading">
                                <img style="margin-right: 10px;width: 36px;margin-bottom: 5px;" src="../../../assets/images/mxu/loading.gif" alt="">
                                <p>正在加载中</p>
                            </div>
                        </div>
                    </div>
                    <div class="search-text" ng-click="vm.search()">搜索</div>
                    <input type="checkbox" class="support-input" ng-model="vm.isSupport" ng-change="vm.toggleApply()"><span class="support-tip">Ai智能检索</span>
                </div>
                <!-- start-从图片列表页跳转过来 -->
                <div class="hoge-table-search key-pic-box" ng-show="vm.picIds" ng-class="{'none-border':vm.showInput}">
                    <img class="figure" ng-show="!vm.searchPicUrl" src="../../../assets/images/mxu/avatar-100.jpg" alt="">
                    <img class="figure" ng-show="vm.searchPicUrl" ng-src="{{vm.searchPicUrl}}" alt="">
                    <span>为你找到{{vm.picNum}}张相似图片</span>
                </div>
                <!-- end -->
                <div class="hoge-table-search">
                    <span class="pull-left total-num">共{{vm.pageOptions.total}}个结果</span>
                    <!-- 状态 -->
                    <!-- <div class="btn-group dropdown pull-right chose-btn hoge-dropdown">
                        <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                            <span class="dropdown-label">{{vm.status}}</span>
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu text-left text-sm font-12">
                            <a class="dropdown-item" ng-repeat="state in vm.statusList" ng-click="vm.lockSearch(state)">{{state.name}}</a>
                        </div>
                    </div> -->
                </div>
                <div class="hoge-error hoge-error-hight" ng-if="!vm.isolationList.length">
                    <div>
                        <div class="error-img"></div>
                        <p translate="user.noData"></p>
                    </div>
                </div>
                <div class="list_header hoge-table-header" ng-show="vm.isolationList.length">
                    <div class="wrap">
                        <div class="list-ctr"></div>
                         <div class="list-user">稿件</div> 
                        <div class="list-name">图片数</div>
                        <!-- <div class="list-usergroup">用户分组</div> -->
                        <div class="list-phone" >分类</div>
                        <div class="list-department">作者</div>
                        <div class="list-character">评论数</div>
                        <div class="list-status">下载数</div>
                        <div class="list-time">点赞数</div>
                        <div class="list-author">隔离时间</div>
                        <div class="list-i">操作</div>
                    </div>
                </div>
                <div class="list white" ng-show="vm.isolationList.length">
                    <div class="list-item hoge-item-border" ng-repeat="item in vm.isolationList track by $index">
                        <div class="list-ctr">
                            <label class="checkbox-inline">
                                <input type="checkbox" value="option1" ng-checked="vm.itemCheck(item)" ng-click="vm.toggle(item)">
                            </label>
                        </div>
      
                        <div class="list-user" ng-click="vm.goPicDetail(item)">
                            <div class="list-left">
                                <!-- ../assets/images/mxu/img_cover.png -->
                                <img class="index-pic" ng-show="!item.index_pic" src="../assets/images/mxu/img_cover.png">
                                <img class="index-pic" ng-show="item.index_pic" ng-src="{{item.index_pic}}">
                            </div>
                            <div class="list-body">
                                <span class="title-text">{{item.title}}</span>
                                <small class="min-title">{{item.brief}}</small>
                            </div>
                        </div>
      
                        <div class="list-name">
                            {{item.photo_count}}
                        </div>
                        <!-- <div class="list-usergroup">
                            <span>{{item.group_name?item.group_name:'暂无分组'}}</span>
                        </div> -->
                        <div class="list-phone">
                            <span>{{item.category_name}}</span>
                        </div>
                        <div class="list-department">
                            <span title="{{item.author}}">{{item.author}}</span>
                        </div>
                        <div class="list-character">
                            <span>{{item.comments}}</span>
                        </div>
                        <div class="list-status">
                            <span>{{item.downloads}}</span>
                            <!-- <span class="normal" ng-if="item.locked=='0'" ng-click="vm.release(item,1)" translate="user.normal"></span>
                            <span class="closed" ng-if="item.locked=='1'" ng-click="vm.release(item,0)" translate="user.locked"></span> -->
                        </div>
                        <div class="list-time">
                          <span>{{item.clicks}}</span>
                        </div>
                        <div class="list-author">
                          <span>{{item.publish_time}}</span>
                      </div>
                        <!-- <div class="hoge-list-i" ng-if="item.can_operate != 1" style="margin-left: 29px;"></div> -->
                        <div class="hoge-list-i" style="width: 25px;margin-left: 30px;"  ng-mouseenter="vm.showOpera(item)" ng-mouseleave="vm.hideOpera(item)">
                            <div class="icon-tool pull-right">
                                <i class="typeface-list_caozuo hoge-list_caozuo"
                                   ng-class="{'active-bg':item.searchShow}"
                                ></i>
                                <div class="pull-right list-icon-opera" ng-class="{'opera-show':item.searchShow,'opera-hide':!item.searchShow}">
                                    <div class="btn-group">
                                        <button class="btn hoge-drop-icon" ng-click="vm.goPicDetail(item)">详情</button>
                                        <button class="btn hoge-drop-icon" ng-click="vm.delete(item)">删除</button>
                                        <button class=" btn hoge-drop-icon" ng-click="vm.cancelIsolation(item)">取消隔离</button>
                                        <!-- <button class="btn hoge-drop-icon down-btn">
                                            <span>下载</span>
                                            <ul class="download-opera">
                                                <li class="download-size">原图</li>
                                                <li class="download-size">高图(1500px)</li>
                                                <li class="download-size">常规(600px)</li>
                                            </ul>
                                        </button> -->
                                    </div>
                                </div>
                            </div>
                      </div>
                    </div>
                    <!--bottom-->
                    <div class="list_bottom white hoge-table-bottom">
                        <div class="btn-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" value="option1" ng-checked="vm.allChecked()" ng-click="vm.toggleAll()" >{{ 'user.select'| translate}}
                            </label>
                        </div>
                        <div class="btn-toolbar list_bar flex-one btn-box">
                            <div class="btn-group">
                                <button class="btn del-btn" ng-click="vm.deleteAll()">删除</button>
                            </div>
                            <div class="btn-group">
                                <button class="btn del-btn" ng-click="vm.cancelIsolation()">取消隔离</button>
                            </div>
                        </div>
                        <page-nation options="vm.pageOptions" turn-page="vm.goPage()" ng-show="vm.pageOptions.total > 10"></page-nation>
                    </div>
                    <!--bottom-->
      
                </div>
                <!-- / list -->
            </div>
      
        </div>
      
      </div>
    </div>
    <m2o-footer ></m2o-footer>
  </div>