<div class="box-shadow-md">
  <div class="modal-header">
      <h5 class="modal-title">文字校验</h5>
      <i class="fa typeface-form_guanbi map-close" ng-click="vm.cancel()" style="position: absolute;right: 15px;top: 18px;cursor:pointer"></i>
  </div>
  <div class="modal-body flex-item">
      <div class="check-content-box">
        <div class="error-tip-box">
          <div><span class="tip-error"></span><span style="margin-right: 8px;">检测错误</span></div>
          <div><span class="tip-suspected"></span><span>疑似错误</span></div>
        </div>
        <div class="title-box" ng-show="vm.checkTitle">
          <span class="min-title">标题</span>
          <div class="check-content" ng-bind-html="vm.checkTitle">{{vm.checkTitle}}</div>
        </div>
        <div class="select-title-box" ng-show="vm.checkSelectTitle">
          <span class="min-title">精选标题</span>
          <div class="check-content" ng-bind-html="vm.checkSelectTitle">{{vm.checkSelectTitle}}
          </div>
        </div>
        <div class="abstract-box" ng-show="vm.checkAbstract">
          <span class="min-title">摘要</span>
          <div class="check-content" ng-bind-html="vm.checkAbstract">{{vm.checkAbstract}}</div>
        </div>
        <div class="body-box" ng-show="vm.checkBodyText">
          <span class="min-title">正文</span>
          <div class="check-content" ng-bind-html="vm.checkBodyText">{{vm.checkBodyText}}</div>
        </div>
      </div>
      <div class="contrast-box">
        <div class="contrast">
          <!-- 标题 -->
          <div class="contrast-item" ng-repeat="item in vm.params.allTextErrorList track by $index">
            <div class="error-box">
                <span class="error-con">
                  <span class="error-font" ng-class="{'error-style': item.level != '2','suspected-style': item.level == '2'}">{{item.ErrWord}}</span>
                </span>
                <i class="typeface-shengao_xiayige"></i>
                <input class="right-con" type="text" id="rightValue{{$index}}" value="{{item.string}}">
                <button class="btn hoge-btn-blue apply-btn" ng-show="item.isApply" ng-click="vm.rightApply(item, item.ErrWordStyle, item.ErrWord, $index)">使用</button>
                <button class="btn cancel-btn undo-btn" ng-show="!item.isApply" ng-click="vm.undoApply(item, item.ErrWordStyle, item.ErrWord, $index)">撤销</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
