<div class="box-shadow-md">
    <div class="modal-header">
        <h5 class="modal-title">图片版权提示</h5>
        <i class="fa typeface-form_guanbi map-close" ng-click="vm.cancel()" style="position: absolute;right: 15px;top: 18px;cursor:pointer"></i>
    </div>
    <div class="modal-body flex-item">
        <div class="pre-img-box">
            <div class="pre-img-border">
                <div class="pre-img">
                    <img ng-src="{{vm.imgUrl}}" alt="">
                </div>
            </div>
            
            <div class="pre-img-list">
                <span class="img-list-item triangle triangle-common" ng-repeat="(index,item) in vm.allImg" ng-class="{'triangle-common':!item.showPres,'triangle-active':item.showPres}" ng-click="vm.isShowPre(item)">
                    <span class="triangle-content">{{index+1}}</span>
                    <span class="transparency" ng-if="!item.showPres"></span>
                    <img ng-src="{{item.smallUrl}}" alt="">
                </span> 
            </div>
        </div>
        <div class="pre-protection-box">
            <div class="protection-describe">
                <div>位置：{{vm.choseImg.position}}</div>
                <div>说明：<span>存在侵权隐患</span></div>
            </div>
            <div class="img-tip">受版权保护的相似图片：</div>
            <span class="pre-arrow" on-blank-hide condition="vm.protectImgPre" on-close="vm.onClose()" tag="showPre" id="pre-arrow" ng-show="vm.protectImgPre" ng-style="{left:vm.preLeft+'px',top:vm.preTop+'px'}">
                <img ng-src="{{vm.protectImgPre}}" alt="">
                <span class="orign-html" ng-click="vm.goUrl(vm.sourceimg)">
                    查看图片原网页
                    <i class="fa typeface-pagination_xiayiye"></i>
                </span>
            </span>
            <div class="protection-list">
                <div class="protection-item" ng-if="vm.choseImg.like.length" ng-repeat="(index,item) in vm.choseImg.like" ng-class="{'showPre':item.showPre}" ng-click="vm.preProtectImg(item)">
                    <!-- 这里图片无法裁剪 因为可能未经过本地化 不支持 -->
                    <img ng-src="{{item.url}}" alt="">
                </div>
                <div class="protection-no-data" ng-if="!vm.choseImg.like.length">暂无相似图片</div>
            </div>
        </div>
    </div>
</div>