<div class="live-streaming-wrapper" my-loading="vm.loading">
    <!-- my-loading="vm.loading" -->
<!--nav-->
<nav class="hoge-nav">
    <div class="hoge-table-add">
        <div class="hoge-edit-head">
            <em>直播监控</em>
        </div>
    </div>
</nav>
<main  class="hoge-radius live-streaming-main" ng-class="{'fade': vm.editShow}" >
   
    <div class="channelList video-plays" ng-repeat="item in vm.channelList track by $index" ng-if="vm.channelList.length">
        <video id="play-channel-video{{$index}}" 
            class="video-js vjs-big-play-centered video-js vjs-default-skin can-event" 
            poster="{{vm.channelDetails[$index].index_pic}}" data-setup='{}' autoplay controls preload="auto" >
        </video>
     <span>{{item.name}}</span>
    </div>

</main>
