<div class="mxu_content_wrapper">
    <div class="integral-statistical-box">
        <div class="manage-header-box">
            <!-- <span class="title-font-l" ng-click="vm.backRhh()">融合号</span>
            <span class="title-font-l m-connector">></span> -->
            <span class="title-font-d">积分统计</span>
        </div>
        <div class="manage-content-box" >
            <div class="content-box-filter">
                <!-- 时间 -->
                <div class="btn-group dropdown hoge-dropdown">
                    <button class="btn btn-sm dropdown-toggle" style="padding-right: 24px !important;" data-toggle="dropdown">
                        <span class="dropdown-label">{{vm.time}}</span>
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu text-left text-sm" ng-class="{'disOpen':vm.open}">
                        <a class="dropdown-item" ng-repeat="time in vm.timeArr track by $index" ng-click="vm.chooseTime(time)" ng-class="{out: vm.timeArr.length - 1 === $index}">
                            {{time.name}}
                            <input id="datepicker" ng-if="vm.timeArr.length - 1 === $index" date-range-picker ng-model="vm.rangeDate" class="date-picker opacity-0"
                                    type="text" options="vm.options"/>
                        </a>
                    </div>
                </div>
                <!-- 会员分组下拉 -->
                <div class="btn-group dropdown hoge-dropdown">
                    <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                        <span class="dropdown-label">{{vm.articleType}}</span>
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu text-left text-sm">
                        <a class="dropdown-item" ng-repeat="type in vm.typeArr" ng-click="vm.chooseType(type)">{{type.group_name}}</a>
                    </div>
                </div>
                <!-- 全部单位下拉 -->
                <div class="btn-group dropdown hoge-dropdown">
                    <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                        <span class="dropdown-label">{{vm.allUnit}}</span>
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu text-left text-sm">
                        <a class="dropdown-item" ng-repeat="type in vm.UnitArr" ng-click="vm.chooseUnit(type)">{{type.unit_name}}</a>
                    </div>
                </div>
               
                <!--搜索-->
                <div class="form-group  black-input-search">
                    <input type="text" placeholder="搜索会员名称" ng-keypress="vm.keyPress($event)" ng-model="vm.key">
                    <i class="fa typeface-searchbar_sousuo" ng-click="vm.titleSearch(vm.key)"></i>
                </div>
            </div>
            
            <div class="content-box-summary" my-loading="vm.statistical_loading">
                <div class="rhh-summary-box">
                    <div class="rrh-summary-title">关键指标</div>
                    <div class="rrh-num-box">
                        <div class="quarter">
                            <span class="quarter-title">累计获取积分</span>
                            <span class="quarter-num">{{vm.statisticalInfo.access.add_credits}}</span>
                        </div>
                        <div class="quarter">
                            <span class="quarter-title">累计消耗积分</span>
                            <span class="quarter-num">{{vm.statisticalInfo.access.sub_credits}}</span>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="content-box-rank" my-loading="vm.statistical_loading">         
                <div class="btn-contain btn-group time-bar">
                    <label class="option-text">
                        数据类型
                        <i class="typeface-form_tishi"></i>
                        <div class="question-hover">勾选项将显示在表格中<span class="question-tip"></span></div>
                    </label>
                    <button class="btn btn-outline export-btn" ng-disabled = "vm.statisticalInfo.list.length" ng-click="vm.exportForm()">
                        <a class="export-a" id="export-a" ng-click="vm.exportDownload()" ng-href="{{vm.exportUrl}}">导出表格</a>
                    </button>
                </div>
                <div class="options-box">
                    <div class="switch">
                        <label class="checkbox-inline" ng-repeat='item in vm.dataTypeList' ng-show="item.status">
                            <input class="border-blue" ng-model="item.isChecked" ng-change="vm.toggle(item)" type="checkbox">{{item.name}}
                            <!-- <input class="border-blue" ng-checked="{{item.isChecked}}" ng-click="vm.toggle(item)" type="checkbox">{{item.name}} -->
                        </label>
                    </div>
                </div>
                <div class="rank-list-box">
                    <div class="box-body p-v-md" ng-show="vm.statisticalInfo.list.length">
                        <div class="rank-title hoge-table-header"> 
                            <!-- <div class="min-w-300">会员名称</div>                    -->
                            <div class="min-w-100 xr-gestures" ng-class="{'min-w-150': item.field == 'member_name' || item.field== 'unit_name','min-w-110': item.field== 'contribute'|| item.field== 'comment'}"  ng-repeat='item in vm.dataTypeList track by $index' ng-show="item.isChecked">
                                <span ng-class="{'span-100': item.field == 'contribute' || item.field == 'comment'}">{{item.name}}</span>
                                <div class="icon_sort" ng-show="item.type == 'sort'" ng-click="vm.doSort(item.field)">
                                    <i  class="fa fa-sort-asc" ng-class="{none:vm.sort_key==item.field&& vm.sort_type=='desc',top:vm.sort_key==item.field&& vm.sort_type=='asc'}"></i>
                                    <i  class="fa fa-sort-desc" ng-class="{bottom:vm.sort_key==item.field&& vm.sort_type=='desc',none:vm.sort_key==item.field&& vm.sort_type=='asc'}"></i>
                                </div>
                            </div>
                        </div>
                        <div class="rank-list">                
                            <div class="item-list" ng-repeat="(index,item) in vm.statisticalInfo.list track by $index">
                                <div class="wrap"> 
                                        <!-- <div class="min-w-300" title="{{item.title}}">{{item.member_name}}</div> -->
                                        <!-- <div class="min-w-100" title="1" ng-show="typeItem.field == 'member_name'" ng-class="{'min-w-150': typeItem.field == 'member_name' || typeItem.field== 'unit_name' || typeItem.field== 'contribute'|| typeItem.field== 'comment'}" ng-repeat="typeItem in vm.dataTypeList track by $index" ng-show="typeItem.isChecked">{{item[typeItem.field]}}</div> -->
                                        <div class="min-w-100" ng-class="{'min-w-150': typeItem.field == 'member_name' || typeItem.field== 'unit_name','min-w-110': typeItem.field== 'contribute'|| typeItem.field== 'comment'}" ng-repeat="typeItem in vm.dataTypeList track by $index" ng-show="typeItem.isChecked">
                                            <span title="{{item[typeItem.field]}}" ng-if="typeItem.field == 'member_name'">{{item[typeItem.field]}}</span>
                                            <span ng-if="typeItem.field != 'member_name'">{{item[typeItem.field]}}</span>
                                        </div>
                                        <!-- <div class="min-w-150" ng-show="typeItem.field == 'member_name'">{{item.site_name}}</div> -->
                                        <!-- <div class="min-w-200" ng-show="vm.dynamicField.site_name">{{item.site_name}}</div>
                                        <div class="min-w-200" ng-show="vm.dynamicField.create_user_name">{{item.create_user_name}}</div>
                                        <div class="min-w-200" ng-show="vm.dynamicField.source">{{item.source}}</div>                   
                                        <div class="min-w-200" ng-show="vm.dynamicField.is_headline">{{item.is_headline  ? '是' : '否'}}</div>
                                        <div class="min-w-300" ng-show="vm.dynamicField.publish_time">{{item.publish_time}}</div>
                                        <div class="min-w-200" ng-show="vm.dynamicField.click_num">{{item.click_num}}</div>           
                                        <div class="min-w-200" ng-show="vm.dynamicField.share_click_num">暂无</div>
                                        <div class="min-w-200" ng-show="vm.dynamicField.share_num">{{item.share_num}}</div>
                                        <div class="min-w-200" ng-show="vm.dynamicField.comment_num">{{item.comment_num}}</div>
                                        <div class="min-w-200" ng-show="vm.dynamicField.is_comment">暂无</div>
                                        <div class="min-w-200" ng-show="vm.dynamicField.is_original">{{item.is_original ? '是' : '否'}}</div> -->
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <hoge-error class="error-hight" hight-num="'506px'" arr-length="vm.statisticalInfo.list.length" load="vm.statistical_loading"></hoge-error>
                    <div class="page-box">
                        <page-nation ng-show="vm.pageOptions.total > 10" class="sub-page" options="vm.pageOptions" turn-page="vm.changePage()"></page-nation>
                    </div>
                </div>
                <!--bottom-->
                <!-- <div class="list_bottom hoge-table-bottom" ng-class="{'hoge-table-bottom-wx': vm.wxPublish}"> -->
                    <!-- <page-nation  options="vm.pageOptions" turn-page="vm.pageChange()" ng-show="vm.pageOptions.total > 10"></page-nation> -->
                <!-- </div> -->

            </div>
        
            
        </div>
    </div>
</div>
<m2o-footer></m2o-footer>