<div class="mxu_side_wrapper mxu_role_wrapper">
    <div class="menu-wrap">
        <classify-sidebar classify-list = "vm.navList"
                          handle-next = "vm.getChilds(Item)"
                          go-back="vm.navBack()"
                          category-id ="vm.choseRole"
                          storage-list = "vm.storageList"
                          jump-classify="vm.jumpClassify(Item)"
                          is-jump="true"
        ></classify-sidebar>
    </div>
    <div class="second-view">
        <div ui-view></div>
    </div>
    <m2o-footer ></m2o-footer>
</div>