<div class="dataSourceList-wrap" my-loading="vm.loading">
    <div>
        <!-- header -->
        <div class="content_list_head clearfix hoge-table-add" style="overflow:unset">
            <!--新增文稿-->
            <div class="pull-left hoge-table-title">数据源列表</div>
            <m2o-site-chose handler-site="vm.initSite(site_id,site_name)" clear-state-param="vm.clearStateParam()" change-site="vm.changeSite(site)"></m2o-site-chose>
            <div class="pull-right">
                <button class="btn btn-purple" ng-click="vm.goEdit()">新增数据源</button>
            </div>
        </div>
        <!-- / header -->
        <!-- list -->
        <div class="list_contain hoge-table-contain white" my-loading="vm.dataLoading">
            <div class="list_bar hoge-table-search">
                <!--搜索-->
                <div class="form-group hoge-input-search pull-right">
                    <input type="text" placeholder="搜索" ng-keypress="vm.keyPress($event)" ng-model="vm.name">
                    <i class="fa typeface-searchbar_sousuo" ng-click="vm.search(vm.name)"></i>
                </div>
            </div>
            <div class="hoge-error hoge-error-hight" ng-if="!vm.dataList.length">
                <div>
                    <div class="error-img" ng-if="vm.errorMessage&&!vm.dataLoading"></div>
                    <p ng-if="vm.errorMessage&&!vm.dataLoading">{{vm.errorMessage}}</p>
                </div>
            </div>
            <div class="table_header hoge-table-header" ng-show="vm.dataList.length">
                <div class="b-white flex-item">
                    <div class="list-ctr"></div>
                    <div class="list-title flex-one">数据名称</div>
                    <div class="list-describe">描述</div>
                    <div class="list-module">所属模块</div>
                    <div class="list-time">更新时间</div>
                    <div class="list-i"></div>
                </div>
            </div>

            <div class="list white " ng-show="vm.dataList.length">
                <div class="list-item hoge-item-border flex-item"
                     ng-repeat="nor in vm.dataList track by $index">
                    <div class="list-ctr">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="option1" ng-disabled="!nor.is_custom" ng-class="{'normal_disable':!nor.is_custom}" ng-checked="vm.itemCheck(nor)" ng-click="vm.toggle(nor)">
                        </label>
                    </div>
                    <div class="list-title flex-one">{{nor.name}}</div>

                    <div class="list-describe">
                       <span>{{nor.brief}}</span>
                    </div>

                    <div class="list-module">
                        <span>{{nor.module}}</span>
                    </div>
                    <div class="list-time">
                        <span>{{nor.updated_at}}</span>
                    </div>

                    <div class="list-i">

                        <span ng-click="vm.goEdit(nor)" class="edit-span" ng-if="nor.is_custom">
                            <i class="fa typeface-form_edit"></i>
                            <div class="box-color text-color pos-rlt">
                                <span class="arrow bottom b-white"></span>
                                <div class="box-body">编辑</div>
                            </div>
                        </span>
                        <span ng-click="vm.goEdit(nor)" class="edit-span" ng-if="!nor.is_custom">
                            <i class="fa typeface-list_zhiduyemian"></i>
                            <div class="box-color text-color pos-rlt">
                                <span class="arrow bottom b-white"></span>
                                <div class="box-body">查看</div>
                            </div>
                        </span>
                        <span ng-click="vm.goCopy(nor)" class="edit-span" >
                            <i class="fa typeface-form_fuzhi"></i>
                            <div class="box-color text-color pos-rlt">
                                <span class="arrow bottom b-white"></span>
                                <div class="box-body">复制</div>
                            </div>
                        </span>
                        <span ng-click="vm.del(nor)" class="edit-span" ng-if="nor.is_custom">
                            <i class="fa typeface-form_shanchu"></i>
                            <div class="box-color text-color pos-rlt">
                                <span class="arrow bottom b-white"></span>
                                <div class="box-body">删除</div>
                            </div>
                        </span>
                        <span ng-click="vm.pre(nor)" >
                            <i class="fa typeface-form_yulan"></i>
                            <div class="box-color text-color pos-rlt">
                                <span class="arrow bottom b-white"></span>
                                <div class="box-body">预览</div>
                            </div>
                        </span>

                    </div>

                </div>
            </div>

            <!--bottom-->
            <div class="list_bottom hoge-table-bottom border-bottom-radius" ng-show="vm.pageOptions.total > vm.pageOptions.pageSize">
                <div class="btn-group check-btn-group">
                    <label class="checkbox-inline" >
                        <input type="checkbox" value="option1" ng-disabled="!vm.chooseList.length" ng-checked="vm.allChecked()" ng-click="vm.toggleAll()">
                        全选
                    </label>
                </div>
                <div class="btn-toolbar list_bar flex-one">
                    <div class="btn-group">
                        <button class="btn del-btn" ng-click="vm.deleteAll()">删除</button>
                    </div>
                </div>
                <page-nation options="vm.pageOptions" turn-page="vm.changePage()"></page-nation>
            </div>
        </div>
        <!-- / list -->

    </div>
</div>