<div class="apply_check">
    <div class="table_title">
        <div class="page-title">融合号管理&nbsp;&nbsp;>&nbsp;&nbsp;<span class="apply-title">申请入驻</span></div>
        <!-- <span class="title-font-l">融合号</span>
            <span class="title-font-l m-connector">></span>
            <span class="title-font-d">融合号列表</span> -->
        <!-- <button class="btn btn-purple pull-right" ng-click="vm.stateGo(vm.url)">新增配置</button> -->
    </div>
    <div class="box hoge-border">
        <div class="control-title">
             <!--状态下拉-->
             <!-- <span class="all-class" ng-click="vm.allClass()">全部类型</span> -->
             <div class="btn-group dropdown hoge-dropdown">
                    <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                        <span class="dropdown-label">{{vm.currentType}}</span>
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu text-left text-sm">
                        <a class="dropdown-item" ng-repeat="type in vm.classList" ng-click="vm.chooseType(type)">{{type.name}}</a>
                    </div>
                </div>
                <!--搜索-->
                <div class="form-group hoge-input-search pull-right black-input-search">
                    <input type="text" placeholder="{{'content.search' | translate }}" ng-keypress="vm.keyPress($event)" ng-model="vm.key">
                    <i class="fa typeface-searchbar_sousuo" ng-click="vm.search(vm.key)"></i>
                </div>
        </div>
        <div class="box-body p-v-md">
            <div class="apply-title hoge-table-header">
                <!-- 排序 -->
                <!-- <div class="list-ctr">
                    <div class="kind-sorting" ng-click="vm.sort()">
                        <i class="typeface-form_paixu"></i>
                    </div>
                </div> -->
                <div class="min-w-200 serial-num flex-one" >序号</div> 
                <div class="min-w-200 apply-people">申请入驻者</div>                   
                <div class="min-w-200 apply-type">申请入驻类型</div>
                <div class="min-w-200 apply-codeInfo">身份信息/机构代码</div>
                <div class="min-w-200 apply-time">申请入驻时间</div>
                <div class="min-w-200">状态</div>
                <div class="min-w-100 list-i"></div>        
            </div>
            <!-- <div class="sort-board red-50" ng-if="vm.isSort">
                <i class="fa typeface-login_tishi"></i>　<span class="paixu_setting">排序功能已开启</span>
                <button class="btn btn-sm white pull-right btn-cancel" ng-click="vm.cancelSort()">取消</button>
                <button class="btn btn-sm hoge-btn-blue pull-right m-r" ng-click="vm.outSort()">保存</button>
            </div> -->
            <!-- <div class="apply-list" ui-sortable="vm.sortableOpt" ng-model="vm.listData"></div> -->
            <div class="apply-list" my-loading="vm.apply_loading">                
                <div class="item-list" ng-repeat="(index,item) in vm.applyData track by $index">
                    <div class="wrap">    
                            <div class="min-w-200 serial-num flex-one" >{{index + 1}}</div> 
                            <div class="min-w-200 apply-people">{{item.contact_name}}</div>                   
                            <div class="min-w-200 apply-type">{{item.type_name}}</div>
                            <div class="min-w-200 apply-codeInfo">{{item.cert_number}}</div>
                            <div class="min-w-200 apply-time">{{item.created_at}}</div>
                            <div class="min-w-200 apply-wait" ng-show="item.status == 1">待审核</div>
                            <div class="min-w-200 apply-success" ng-show="item.status == 2">已审核</div>
                            <div class="min-w-200 apply-black" ng-show="item.status == 3">已打回</div>
                        <div class="min-w-100 list-i">
                            <div class="icon-tool" ng-mouseenter="vm.showOpera(index)" ng-mouseleave="vm.hideOpera(index)">
                                <i class="typeface-list_caozuo hoge-list_caozuo"
                                    ng-class="{'active-bg':vm.showOperaBox && vm.currentOperaIndex == index}"></i>
                                <div class="pull-right list-icon-opera" ng-show="vm.showOperaBox && vm.currentOperaIndex == index">
                                    <div class="btn-group">
                                        <button class="btn hoge-drop-icon" ng-show="item.status == 1" ng-click="vm.choseClass(item)">审核通过</button>
                                        <button class="btn hoge-drop-icon" ng-show="item.status == 1" ng-click="vm.goBack(item)">打回</button>
                                        <button class="btn hoge-drop-icon" ng-show="item.status == 3" ng-click="vm.choseClass(item)">审核通过</button>
                                        <button class="btn hoge-drop-icon" ng-click="vm.toView(item)">查看</button>       
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            <hoge-error class="error-hight" hight-num="'600px'" arr-length="vm.applyData.length" load="vm.apply_loading"></hoge-error>
            <page-nation class="sub-page" options="vm.pageOptions" turn-page="vm.changePage()"></page-nation>
            </div>
            
        </div>
    </div>
</div>