<form class="edit-column box-shadow-md" name="editColumnForm">
        <div class="modal-header">
            <h5 class="modal-title">选择分类</h5>
        </div>
        <div class="modal-body">
            <div class="form-group p-l-150" style="position: relative;margin-bottom: 0">
                <label style="display: block;line-height: 30px;">全部分类</label>
                <label style="display: block;line-height: 30px;" ng-repeat="item in vm.regionList track by $index">
                    <input type="radio" name="typeName" ng-change="vm.chose(item)" value="{{item}}" ng-model="vm.key">
                    {{item.name}}
                </label><br>
                <!-- <input type="text" maxlength="15" class="form-control"
                       ng-model="vm.column_detail.name"
                       ng-blur="vm.addColumn.name = false"
                       ng-focus="vm.addColumn.name = true"
                       ng-keydown="vm.keydown($event)">
                <div class="count" style="position: absolute;top:14px;right:9px;">
                    <div num-count="vm.column_detail.name" count-top="0" count-right="0" count-max="15" count-position="right"></div>
                </div> -->
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn primary-btn" ng-click="vm.save()" my-loading="vm.save_loading">{{'column.save' | translate}}</button>
            <button type="button" class="btn cancel-btn" ng-click="vm.close()">{{'column.cancel' | translate}}</button>
        </div>
    </form>