<div class="modal-link box-shadow-md modal-cover-img">
    <div class="modal-header">
        <h5 class="modal-title" >插入链接</h5>
        <i class="fa fa-remove close-icon" ng-click="vm.close()"></i>
    </div>
    <div class="modal-body">
        <!--<div class="">-->
            <!--<ul class="tab-ul nav nav-pills">-->
                <!--<li class="tab-item nav-item ">-->
                    <!--<span class="nav-link active" data-toggle="tab" data-target="#tab1">外部链接</span>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <div class="tab-content">
            <div class="tab-pane animated fadeIn text-muted active upload-tab1" id="tab1">
                <div class="default-contain row link-contain">
                    <label class="label-title col-xs-2">链接文字</label>
                    <div class="fill-contian col-xs-10">
                        <input class="form-control form_input" ng-disabled="vm.inputDisabled" ng-class="{'ng-dirty': vm.addLink.name }" type="text" name="name" ng-model="vm.addLink.name">
                    </div>
                </div>
                <div class="default-contain row">
                    <label class="label-title col-xs-2">链接地址</label>
                    <div class="fill-contian col-xs-10">
                        <input class="form-control form_input" ng-class="{'ng-dirty': vm.addLink.url }" type="text" name="url" ng-model="vm.addLink.url">
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn primary-btn" ng-click="vm.save()" my-loading="vm.save_loading">{{ 'common.confirm'| translate}}</button>
        <button type="button" class="btn cancel-btn" ng-click="vm.close()">{{ 'common.cancel'| translate}}</button>
    </div>
</div>