<div class="lanmu-wrap">
	<div class="modal-content box-shadow-md">
		<div class="modal-header video-header">
		    <h5 class="modal-title" translate="tplsColumn.choseColumn"></h5>
			<!--<i class="fa fa-remove map-close" ng-click="vm.cancel()" style="position: absolute;right: 15px;top: 16px;"></i>-->
		</div>
		<div class="modal-body">
			<div class="form-group row lanmu-header">
              <label class="col-sm-1 form-control-label">{{ 'tplsColumn.column'| translate}}:</label>
              <div class="col-sm-11">
              	<div class="checked-bar" >
              		
              		<li class="list-item m-r-sm" ng-repeat="item in vm.checkList track by item.column_id">
              			<span class="column_name">{{item.column_name}}</span>
              			<i class="icon-guanbi" ng-click="vm.delCol(item,$index)"></i>
              		</li>
              	</div>
              </div>
            </div>
		   <div class="lanmu-content">
		   	<div class="lanmu-nav">
		   		<ul class="nav nav-pills nav-sm" ui-nav="">
	            <li class="nav-item active" ng-repeat="item in vm.navList track by item.id">
	              <a class="nav-link" ng-click="vm.goNew(item,$index)">
	                {{item.name}}
	              </a>
	            </li>
	          </ul>
		   	</div>
		   	<div class="lanmu-item" >
	   			<div class="title" ng-click="vm.aa()">{{vm.fname}}</div>
	   			<div class="item-wrap p-t-sm">
	   				<div ng-repeat='item in vm.columnList' class="lanmu-name m-r">
	   					<span  ng-click="vm.check(item)">{{item.name}}<i class="icon-tianjia" ng-show="item.is_last == '0'"></i></span>
	   				</div>
	   			</div>
	   		</div>
		   </div>
		</div>
		<div class="modal-footer video-footer">
		    <button class="btn primary-btn" ng-click="vm.save()">{{ 'tplsColumn.sure'| translate}}</button>
			<button type="button" class="btn cancel-btn" ng-click="vm.cancel()">{{ 'tplsColumn.cancel'| translate}}</button>
		</div>
	</div>
</div>