<div class="app-body-inner community_wrapper minHeight">
    <div class="iframe_load_box" ng-if="vm.loading">
        <spin></spin>
    </div>
    <iframe id="communityFrame" allowfullscreen frameborder="0" loading="vm.frameLoading" third-iframe="vm.communityUrl" height="100%" width="100%"></iframe>
    <!-- <iframe id="communityFrame" allowfullscreen frameborder="0" sandbox="allow-scripts allow-forms allow-same-origin allow-modals allow-top-navigation allow-popups" loading="vm.frameLoading" third-iframe="vm.communityUrl" height="100%" width="100%"></iframe> -->
</div>
