<div class="mxu_side_wrapper">
    <div class="menu-wrap">
        <div class="title" translate="extend.extend"></div>
        <div class="tip" translate="extend.description"></div>
        <ul class="menu-content">
            <li ng-repeat="item in vm.useApp" ng-click="vm.curId = item.id" ng-class="{'active':item.id == vm.curId}">
                <a ui-sref="app.extend.third({id : item.id})">{{item.name}}</a>
            </li>
        </ul>
    </div>
    <div class="second-view white">
        <div ui-view></div>
    </div>
    <m2o-footer ></m2o-footer>
</div>