<div class="modal-content box-shadow-md">
    <div class="modal-body">
        <div class="set-loading">
            <div class="box">
                <div class="item">
                    <div class="item-bg">
                        <img src="../assets/images/mxu/extend/bg-2x.png" class="blur">
                    </div>
                    <div class="pos-rlt text-center">
                        <a class="md-btn white">
                            <img src="../assets/images/mxu/extend/load.gif" class="img-circle w-100" >
                        </a>
                    </div>
                </div>
                <div class="p-a text-center">
                    <span class="text-left" translate="extend.doing"></span>
                    <div class="progress progress-striped active">
                        <div class="progress-bar primary"  style="width: {{vm.num}}%">{{vm.num}}%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>