<main class="main-form-wrap shielding-show" my-loading="vm.info_loading">
        <nav class="hoge-nav">
            <div class="hoge-table-add">
                <div class="hoge-edit-head">
                    
                    <!-- <em>{{vm.asideInfo.title}}</em> -->
                    <div class="detail-title">
                        <span class="back-list" ng-click="vm.goBackList()">频道列表</span>&nbsp;&nbsp;<span class="symbol">></span>&nbsp;&nbsp;
                        <span class="vote-title">屏蔽节目</span>
                    </div> 
                </div>
            </div>
        </nav>
        <div class="form-content hoge-flex detail-content-box">
            <div class="program-shielding">
                <div class="program-header">
                    <span class="title">{{vm.channel_name}}<span class="title-time">{{vm.chooseCurrentDate ? vm.chooseCurrentDate : vm.currentDate}}</span></span>
                    <!-- <span class="program-empty">清空</span> -->
                    <div class="program-btn-box">
                        <button class="btn add-program" ng-click="vm.addShielding()" ng-class="{'disable-add':vm.disableAdd}">新增屏蔽</button>
                        <button class="btn program-empty" ng-click="vm.deleteAll()">清空</button>
                    </div>
                </div>
                <div class="program-list" my-loading="vm.shieldingLoad">
                    <div class="wrap wrap-header">
                        <!-- <div class="min-w-180 flex-one" style="padding-left:18px">开始时间</div> -->
                        <div class="min-w-180" style="padding-left:18px">开始时间</div>
                        <div class="min-w-180">结束时间</div>
                        <!-- <div class="min-w-200">状态</div> -->
                        <div class="min-w-180">屏蔽类型</div>
                        <div class="min-w-250">屏蔽视频/图片</div>
                        <div class="min-w-50"></div>
                    </div>
                    <div class="content">
                        <input type="file" id="up-pic" class="up-pic" nv-file-select="" uploader="vm.imgUploader" accept="image/gif,image/jpeg,image/png,image/psd,image/tiff,image/bmp"/>
                        <div class="no-split" ng-show="!vm.listArr.length">
                            <div>
                                <div class="error-img"></div>
                                <p>暂无内容</p>
                            </div>
                        </div>
                        <div class="content-list" ng-repeat="(itemIndex,item) in vm.listArr track by $index">
                            <div class="wrap">
                                <!-- <div class="min-w-180 flex-one" style="padding-left:18px">      -->
                                    <div class="min-w-180">
                                    <!-- <span class="time-input start-time"></span> -->
                                    <input class="time-input start-time"  type="text" placeholder="00:00:00" ng-model="item.start_time" ng-click="vm.showChooseBox(item,itemIndex,'start')">
                                    <i class="fa typeface-form_edit" ng-click="vm.showChooseBox(item,itemIndex,'start')"></i> 
                                    <div class="choose-time" ng-class="{'show-choose-time':item.chooseStartTime && vm.showCurrentTimeBoxIndex == itemIndex}">
                                        <div style="display: flex">
                                            <input type="text" oninput = "value=value.replace(/[^\d]/g,'')"  ng-blur = "vm.timeNum()" ng-model = "vm.hourStartTime" maxlength="2"><span>:</span>
                                            <input type="text" oninput = "value=value.replace(/[^\d]/g,'')"  ng-blur = "vm.timeNum()" ng-model = "vm.minutesStartTime" maxlength="2"><span>:</span>
                                            <input type="text" oninput = "value=value.replace(/[^\d]/g,'')"  ng-blur = "vm.timeNum()" ng-model = "vm.secondsStartTime" maxlength="2">
                                        </div>
                                        <button class="btn confirm-btn" ng-click="vm.saveTime(item,'start')">确定</button>
                                        <button class="btn c-btn" ng-click="vm.cancelTime(item)">取消</button>
                                    </div>
                                </div>
                                <div class="min-w-180">
                                    <input class="time-input"  type="text" placeholder="00:00:00" ng-model="item.end_time" ng-click="vm.showChooseBox(item,itemIndex,'end')">
                                    <i class="fa typeface-form_edit" ng-click="vm.showChooseBox(item,itemIndex,'end')"></i> 
                                    <div class="choose-time" ng-class="{'show-choose-time':item.chooseEndTime && vm.showCurrentTimeBoxIndex == itemIndex}">
                                       <div style="display: flex">
                                            <input type="text" oninput = "value=value.replace(/[^\d]/g,'')" ng-blur = "vm.timeNum()" ng-model = "vm.hourEndTime" maxlength="2"><span>:</span>
                                            <input type="text" oninput = "value=value.replace(/[^\d]/g,'')" ng-blur = "vm.timeNum()" ng-model = "vm.minutesEndTime" maxlength="2"><span>:</span>
                                            <input type="text" oninput = "value=value.replace(/[^\d]/g,'')" ng-blur = "vm.timeNum()" ng-model = "vm.secondsEndTime" maxlength="2">
                                       </div>
                                        <button class="btn confirm-btn" ng-click="vm.saveTime(item,'end')">确定</button>
                                        <button class="btn c-btn" ng-click="vm.cancelTime(item)">取消</button>
                                    </div>
                                </div>
                                <div class="min-w-180">
                                    <!-- <i class="fa fa-sort-desc"></i> -->
                                    <!--状态下拉-->
                                    <div class="btn-group dropdown hoge-dropdown">
                                        <button class="btn btn-sm dropdown-toggle shielding-toggle" data-toggle="dropdown">
                                            <!-- <span class="dropdown-label">{{vm.currentIndex == itemIndex ? item.shieldType:'屏蔽类型'}}</span> -->
                                            <span class="dropdown-label">{{item.shieldType}}</span>
                                            <span class="caret"></span>
                                        </button>
                                        <div class="dropdown-menu text-left shielding-menu">
                                            <a class="dropdown-item" ng-repeat="typeItem in vm.shieldingTypeArr" ng-click="vm.chooseShieldingType(typeItem,itemIndex,item)">{{typeItem.name}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="min-w-250">
                                    <input class="img-input" type="text" ng-model="item.url">
                                    <i class="typeface-form_yulan">
                                        <div class="img-preview" ng-show="item.type == 0 && item.url">
                                            <span class="img-name">已选图片：{{item.source_name}}</span>
                                            <img class="preview" ng-src="{{item.url}}" alt="">
                                        </div>
                                    </i>
                                    <i class="typeface-talking_tupian" ng-click="vm.importImg(item)">
                                    </i>
                                    <i class="typeface-talking_shipin" ng-click="vm.importVideo(item)"></i>
                                    
                                </div>
                                <div class="min-w-50">
                                    <i class="fa typeface-form_shanchu"  ng-click="vm.deleteSingle(item,itemIndex)"></i>
                                </div>
                            </div>
                        </div>
                        <div class="unable-add" ng-class="{'show-unable-add':vm.disableAdd}">
                            <i class="fa typeface-login_tishi"></i>
                            <span class="tip-text">屏蔽节目已安排满24小时，无法新增更多屏蔽节目。</span>
                        </div>
                    </div>
                    <!-- <div class="add-list" ng-click="vm.addShielding()"><i class="fa typeface-form_zengjia"></i> 新增屏蔽</div> -->
                </div>
                <div class="btn-box">
                    <button class="btn shielding-btn save-btn" ng-click="vm.shieldingSave()">保存</button>
                    <button class="btn shielding-btn cancel-btn" ng-click="vm.shieldingCancel()">取消</button>
                </div>
            </div>
            <div class="program-time">
                <div class="calender-box">
                    <div id="custom-cells" class="newdatepicker-here" data-language='zh'></div>
                </div>
            </div>
            
        </div>
</main>