<div class="terminal-body">
    <div class="hoge-table-add" style="overflow: unset;">
        <div class="hoge-table-title">终端管理</div>
        <div class="btn-group dropdown m-r-15 m-l-15 hoge-dropdown site-dropdown" ng-if="rootSiteItems.id==0">
            <button class="btn dropdown-toggle " data-toggle="dropdown">
                <span class="dropdown-label">{{vm.site_name}}</span>
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu text-left text-sm font-12" style="max-height:210px">
                <a class="dropdown-item" ng-if="site.type=='m2o'" ng-repeat="site in vm.siteList" ng-click="vm.changeSite(site)">{{site.name}}</a>
            </div>
        </div>
    </div>
    <div class="terminal-list-body">
        <div class="set-information">
            <div class="list-title header-before">基础信息</div>
            <div class="set-information-list">
                <div class="form-group">
                    <label class="label-name">终端名称</label>
                    <!--<div class="information">{{vm.terminalDetail.name}}</div>-->
                    <input class="information" type="text" style="cursor: not-allowed; background-color: #F2F6F9;" ng-model="vm.terminalDetail.name" disabled />
                </div>
                <div class="form-group">
                    <label class="label-name">*主机名</label>
                    <input class="information" type="text" ng-model="vm.terminalDetail.sub_domain">.{{vm.terminalDetail.domain}}
                </div>
                <div class="form-group">
                    <label class="label-name upload-name">标志(Favicon)</label>
                    <div class="form-file" ng-mouseenter="vm.show()" ng-mouseleave="vm.hide()">
                        <div class="pos-abt fileUpTip" ng-show="vm.photoUrl" translate="column.changeDiagram"></div>
                        <input type="file" id="columnFile" nv-file-select uploader="vm.localUploader" accept="image/gif,image/jpeg,image/png,image/bmp" style="cursor:pointer;" multiple>
                        <img  ng-if="vm.photoUrl" ng-src="{{vm.photoUrl}}"/>
                        <i class="typeface-alert_cuowu2" ng-if="vm.deleteimg && vm.photoUrl" style="position: absolute;left: 76px;top: 2px;color: red;" ng-click="vm.deleteIMG()"></i>
                        <div class="file_form" ng-show="!vm.photoUrl">
                            <i class="icon-tianjia"></i>
                            <span>上传图片</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="label-name">名称(Title)</label>
                    <input type="text" class="information" ng-model="vm.terminalDetail.title">
                </div>
                <div class="form-group">
                    <label class="label-name">关键词</label>
                    <input type="text" class="information" ng-model="vm.terminalDetail.keywords">
                </div>
                <div class="form-group">
                    <label class="label-name">描述</label>
                    <textarea class="information" cols="30" rows="4" ng-model="vm.terminalDetail.description"></textarea>
                </div>
            </div>
        </div>
        <div class="global-body">
            <div class="list-title header-before">访问设置</div>
            <div class="content">
                <div class="form-group">
                    <label class="label-name">内容页短路径</label>
                    <span>
                        <label class="radio-inline m-r">
                            <input ng-model="vm.terminalDetail.is_short_path" type="radio" value="1">开启
                        </label>
                        <label class="radio-inline">
                            <input ng-model="vm.terminalDetail.is_short_path" type="radio" value="0">关闭
                        </label>
                    </span>
                </div>
                <div class="form-group" ng-show="vm.terminalDetail.is_short_path == 1">
                    <label class="label-name">短路径目录名称</label>
                    <input type="text" class="information" ng-model="vm.terminalDetail.short_path">
                </div>
            </div>
        </div>
        <div class="m-t m-b">
            <button class="btn primary-btn" ng-click="vm.save()">保存</button>
        </div>

    </div>
    <div class="style-set m-t">
        <div class="list-title header-before">样式设置</div>
        <div class="list">
            <div class="box">
                <div class="list_contain hoge-table-contain white">
                    <hoge-error hight-num="'500px'" arr-length="vm.templateList.length"></hoge-error>
                    <div class="list_header hoge-table-header" ng-if="vm.templateList.length">
                        <div class="wrap">
                            <div class="list-name">套系名称</div>
                            <div class="list-status">状态</div>
                            <div class="list-time">最后更新时间</div>
                            <div class="list-i"></div>
                        </div>
                    </div>
                    <!--列表-->
                    <div class="list" ng-if="vm.templateList.length">
                        <div class="list-item hoge-item-border" ng-repeat="item in vm.templateList">
                            <div class="list-name">{{item.title}}</div>
                            <div class="list-status" ng-if="item.status == 1">使用中</div>
                            <div class="list-status" ng-if="item.status == 2">生成中</div>
                            <div class="list-status" ng-if="item.status == 0">闲置中</div>
                            <div class="list-time">{{item.updated_at}}</div>
                            <div class="hoge-list-i" ng-mouseenter="vm.showOpera(item)" ng-mouseleave="vm.hideOpera(item)">
                                <div class="icon-tool pull-right">
                                    <i class="typeface-list_caozuo hoge-list_caozuo"></i>
                                    <div class="pull-right list-icon-opera" ng-class="{'opera-show':item.searchShow,'opera-hide':!item.searchShow}">
                                        <div class="btn-group">
                                            <!--编辑-->
                                            <button class="btn hoge-drop-icon" ng-click="vm.changeTheme(item)" ng-if="item.status != 1">切换</button>
                                            <div class="btn-line" ng-if="item.status != 1"></div>
                                            <button class="btn hoge-drop-icon" ng-click="vm.deploy(item)" ng-if="item.status == 1">一键生成</button>
                                            <button class="btn hoge-drop-icon" ng-click="vm.deploySite(item)" ng-if="item.status == 1">生成站点</button>
                                            <button class="btn hoge-drop-icon" ng-click="vm.deployTemplate(item)" ng-if="item.status == 1">部署模板</button>
                                            <div class="btn-line" ng-if="item.status == 1"></div>
                                            <button class="btn hoge-drop-icon" ng-click="vm.deploymentIndex(item)" ng-if="item.status == 1">生成首页</button>
                                            <button class="btn hoge-drop-icon" ng-click="vm.deploymentColumn(item)" ng-if="item.status == 1">生成栏目</button>
                                            <button class="btn hoge-drop-icon" ng-click="vm.deploymentDetail(item)" ng-if="item.status == 1">生成详情</button>
                                            <div class="btn-line" ng-if="item.status == 1"></div>
                                            <button class="btn hoge-drop-icon" ng-click="vm.goTemplate()">模板关联</button>
                                            <div class="btn-line"></div>
                                            <button class="btn hoge-drop-icon" ng-click="vm.pre(item)">预览</button>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>