<div class="box">
    <!-- list -->
    <div class="list_contain hoge-table-contain white">
        <div class="hoge-table-search">
            <div class="btn-group dropdown pull-left  m-r-15 chose-btn hoge-dropdown">
                <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                    <span class="dropdown-label">{{vm.state}}</span>
                    <span class="caret"></span>
                </button>
                <div class="dropdown-menu text-left text-sm font-12">
                    <a class="dropdown-item" ng-repeat="state in vm.stateList" ng-click="vm.lockSearch(state)">{{state.name}}</a>
                </div>
            </div>
            <div class="form-group hoge-input-search pull-right" >
                <input type="text" placeholder="{{ 'user.search'| translate}}" ng-keypress="vm.keyPress($event)" ng-model="vm.key">
                <i class="fa typeface-searchbar_sousuo" ng-click="vm.search()"></i>
            </div>
        </div>
        <div class="hoge-error hoge-error-hight" ng-if="!vm.customerList.length">
            <div>
                <div class="error-img"></div>
                <p translate="user.noData"></p>
            </div>
        </div>
        <div class="list_header hoge-table-header" ng-show="vm.customerList.length">
            <div class="wrap">
                <div class="list-ctr"></div>
                <div class="list-customer" translate="user.user"></div>
                <div class="list_group">用户分组</div>
                <div class="list-role" translate="user.role"></div>
                <div class="list-status" translate="user.state"></div>
                <div class="list-other">更新时间</div>
                <div class="list-author">更新人</div>
                <div class="list-i"></div>
            </div>
        </div>
        <div class="list white" ng-show="vm.customerList.length">
            <div class="list-item hoge-item-border" ng-repeat="item in vm.customerList track by $index">
                <div class="list-ctr">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="option1" ng-checked="vm.itemCheck(item)" ng-click="vm.toggle(item)">
                    </label>
                </div>

                <div class="list-customer">
                    <div class="list-left w-40 circle">
                        <img ng-show="item.avatar" ng-src="{{item.avatar_img}}" class="w-40 circle">
                    </div>
                    <div class="list-body">
                        <span>{{item.username}}</span>
                        <small class="block text-muted">{{item.name}}</small>
                    </div>
                </div>
                <div class="list_group">
                    {{item.group_name}}
                </div>
                <div class="list-role">
                    <span>{{item.roles}}</span>
                </div>

                <div class="list-status">
                    <span class="normal" ng-if="item.locked=='0'" ng-click="vm.release(item,1)" translate="user.normal"></span>
                    <span class="closed" ng-if="item.locked=='1'" ng-click="vm.release(item,0)" translate="user.locked"></span>
                </div>

                <div class="list-other">
                    <span>{{item.updated_at}}</span>
                </div>

                <div class="list-author">
                    {{item.update_username}}
                </div>

                <div class="hoge-list-i" style="margin-left: 29px;"  ng-mouseenter="vm.showOpera(item)" ng-mouseleave="vm.hideOpera(item)">
                    <div class="icon-tool pull-right">
                        <i class="typeface-list_caozuo hoge-list_caozuo"
                        ng-class="{'active-bg':item.searchShow}"
                        ></i>
                        <div class="pull-right list-icon-opera" ng-class="{'opera-show':item.searchShow,'opera-hide':!item.searchShow}">
                            <div class="btn-group">
                                <button class=" btn hoge-drop-icon" ng-click="vm.goEdit(item)">编辑</button>
                                <button class="btn hoge-drop-icon" ng-click="vm.delete(item)">删除</button>
                                <button class="btn hoge-drop-icon" ng-if="item.locked=='0'" ng-click="vm.release(item,1)" translate="user.locking"></button>
                                <button class="btn hoge-drop-icon" ng-if="item.locked=='1'" ng-click="vm.release(item,0)" translate="user.unlock"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--bottom-->
        <div class="list_bottom white hoge-table-bottom" ng-show="vm.pageOptions.total > vm.pageOptions.pageSize">
            <div class="btn-group">
                <label class="checkbox-inline">
                    <input type="checkbox" value="option1" ng-checked="vm.allChecked()" ng-click="vm.toggleAll()" >{{ 'user.select'| translate}}
                </label>
            </div>
            <div class="btn-toolbar list_bar flex-one btn-box">
                <div class="btn-group">
                    <button class="btn btn-outline btn-comment" ng-click="vm.releaseAll()" translate="user.unlock"></button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-outline btn-comment" ng-click="vm.lockedAll()" translate="user.locking"></button>
                </div>
                <div class="btn-group">
                    <button class="btn del-btn" ng-click="vm.deleteAll()" translate="user.delete"></button>
                </div>
            </div>
            <page-nation options="vm.pageOptions" turn-page="vm.goPage()"></page-nation>
        </div>
        <!--bottom-->

    </div>
    <!-- / list -->
</div>

</div>