<form class="task-edit box-shadow-md form-validation" name="adjustForm" id="editForm" my-loading="vm.edit_loading">
    <div class="modal-header">
        <h5 class="modal-title" translate="task.editTask"></h5>
    </div>
    <div class="modal-body">
        <div class="m-b m-t">
            <label class="label-title" > {{ 'task.taskType' | translate }}:</label>
            <label class="md-check m-r-1" style="width:125px;">
                <input type="radio" name="type" disabled ng-checked="vm.everyday" >
                <i class="blue"></i>
                {{ 'task.eveTask' | translate }}
            </label>
            <label class="md-check">
                <input type="radio" name="type" disabled ng-checked="!vm.everyday">
                <i class="blue"></i>
                {{ 'task.achiTask' | translate }}
            </label>
            <span class="small" translate="task.taskTip"></span>
        </div>
        <div class="m-b m-t">
            <label class="label-title">{{ 'task.isUse' | translate }}:</label>
            <label class="md-check m-r-1" style="width:125px;">
                <input type="radio" name="use"   ng-checked="vm.details.app_status" ng-click="vm.setOther('app_status')">
                <i class="blue"></i>
                {{ 'task.use' | translate }}
            </label>
            <label class="md-check">
                <input type="radio" name="use"  ng-checked="!vm.details.app_status" ng-click="vm.setOther('app_status')">
                <i class="blue"></i>
                {{ 'task.close' | translate }}
            </label>
            <span class="small" translate="task.useTip"></span>
        </div>
        <!--<div class="m-b m-t">-->
        <!--<label class="label-title">是否显示:</label>-->
        <!--<label class="md-check m-r-1" style="width:125px;">-->
        <!--<input type="radio" name="show" ng-checked="vm.details.is_visible" ng-click="vm.setOther('is_visible')">-->
        <!--<i class="blue"></i>-->
        <!--显示-->
        <!--</label>-->
        <!--<label class="md-check">-->
        <!--<input type="radio" name="show" ng-checked="!vm.details.is_visible" ng-click="vm.setOther('is_visible')">-->
        <!--<i class="blue"></i>-->
        <!--不显示-->
        <!--</label>-->
        <!--<span class="small">选项用于控制该积分任务是否在终端页面任务中展示</span>-->
        <!--</div>-->
        <div class="m-b m-t count-limit">
            <label class="label-title"> 任务名称:</label>
            <input type="text"  class="content input-control input-len name-input" maxlength="15" ng-model="vm.details.rule_name">
            <div class="count">
                <div num-count="vm.details.rule_name" count-top="0" count-right="0" count-max="15" count-position="right"></div>
            </div>
        </div>
        <div class="m-b m-t count-limit">
            <label class="label-title"> 跳转链接:</label>
            <input type="text"  class="content input-control input-len name-input" ng-model="vm.details.outlink">
            <!-- <div class="count">
                <div num-count="vm.details.rule_name" count-top="0" count-right="0" count-max="15" count-position="right"></div>
            </div> -->
        </div>
        <div class="m-b m-t">
            <label class="label-title"> {{ 'task.times' | translate }}:</label>
            <input type="number" class="content input-control input-len" ng-model="vm.details.rule_num">
            <span class="small" translate="task.timeTip"></span>
        </div>
        <!-- <div class="m-b m-t">
            <label class="label-title"> 获得经验:</label>
            <input type="number" class="content input-control input-len"  ng-model="vm.details.exp_points"/>
            <span class="small" translate="task.goldTip"></span>
        </div>
        <div class="m-b m-t">
            <label class="label-title"> 获得积分:</label>
            <input type="number" class="content input-control input-len" ng-model="vm.details.credits"/>
            <span class="small" translate="task.pointTip"></span>
        </div> -->
        <div class="m-b m-t" ng-repeat="item in vm.creditTypes track by $index">
            <label class="label-title"> 获得{{item.name}}:</label>
            <input type="number" class="content input-control input-len"  ng-model="item.value"/>
            <span class="small">扣分项请填写负数，比如扣除3个{{item.name}}，则填写'-3'</span>
        </div>
        <div class="m-b m-t task-icon">
            <label class="label-title"> 任务图标:</label>
            <!-- <input type="number" class="content input-control input-len" ng-model="vm.details.rule_num"> -->
            <!-- <span class="small" translate="task.timeTip"></span> -->
            <div class="task-icon-box">
                <div class="up-img-box">
                    <i class="typeface-form_zengjia" ng-if="!vm.iconImg.src"></i>
                    <p class="up-text" ng-if="!vm.iconImg.src">上传图片</p>
                    <img src="{{vm.iconImg.src}}" alt="">
                    <input type="file" class="up-img" nv-file-select="" uploader="vm.iconUploader" accept="image/gif,image/jpeg,image/png,image/psd,image/tiff,image/bmp"/>
                </div>

            </div>
        </div>
        <div class="m-b">
            <label class="label-title state"> 提示信息:</label>
            <textarea class="ng-pristine ng-untouched ng-valid ng-binding "
                        maxlength="30" ng-model="vm.details.rule_detail"></textarea>
        </div>
        <div class="m-b  ">
            <label class="label-title state"> 任务说明:</label>
            <textarea class="ng-pristine ng-untouched ng-valid ng-binding "
                      maxlength="30" ng-model="vm.details.rule_introduce"></textarea>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn primary-btn" ng-click="vm.save()"> {{ 'task.save' | translate }}</button>
        <button type="button" class="btn cancel-btn" ng-click="vm.cancel()"> {{ 'task.cancel' | translate }}</button>
    </div>
</form>